<include file="Admin:header" />
<load href="./Public/ckeditor/ckeditor.js"/>
<load href="./Public/Js/swfupload.js"/>
<div id="msg"></div>
<form name="myform" id="myform" action="<if condition="$action_name=='add'">{:U($module_name.'/insert')}<else />{:U($module_name.'/update')}</if>" method="post">
<div id="filelist" class="hide"></div>
<div class="error"><ul></ul></div>
<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
<volist name="fields" id="r">
<if condition="!empty($r['status'])">
	<tr>
		<td width="120">{if: $r['required']}<font color="red">*</font>{if:/}{$r.name}</td>
        <td id="box_{$r['field']}">
		{$r|getform=$form,###}
		</td>
	</tr>
</if>
</volist>

		</table>
		<div id="bootline"></div>
		<div id="btnbox" class="btn">
		<if condition="$vo['id']!=''"><input TYPE="hidden" name="id" value="{$vo.id}"></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>
{__TOKEN__}
</form>
</div>