<include file="Admin:header" />


 <form id="myform" name="myform" action="<if condition="$action_name=='edit'">{:U($module_name.'/update')}<else />{:U($module_name.'/insert')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">

      	<tr>
		<td width="120">{:L('db_name')}</td>
		<td><input type="text" name="name" class="inputbox" value="{$vo['name']}" validate="required:true,cn_username:true, minlength:2, maxlength:20" /></td>
		</tr>

		<tr>
		<td width="120">{:L('db_host')}</td>
		<td><input type="text" name="host" class="inputbox" value="{if:$vo['host']!=''}{$vo['host']}{else:/}localhost{if:/}" validate="required:true,  minlength:7, maxlength:20" /></td>
		</tr>
		<tr>
		<td width="120">{:L('db_port')}</td>
		<td><input type="text" name="port" class="inputbox" value="{if:$vo['port']!=''}{$vo['port']}{else:/}3306{if:/}" validate="required:true,  minlength:2, maxlength:6" /></td>
		</tr>
		<tr>
		<td width="120">{:L('db_username')}</td>
		<td><input type="text" name="username" class="inputbox" value="{$vo['username']}" validate="required:true,  minlength:1, maxlength:20" /></td>
		</tr>
		<tr>
		<td width="120">{:L('db_password')}</td>
		<td><input type="text" name="password" class="inputbox" value="{$vo['password']}" validate="required:true,  minlength:1, maxlength:20" /></td>
		</tr>
		<tr>
		<td width="120">{:L('db_dbname')}</td>
		<td><input type="text" name="dbname" class="inputbox" value="{$vo['dbname']}" validate="required:true,  minlength:2, maxlength:20" /></td>
		</tr>
		<tr>
		<td width="120">{:L('db_dbtablepre')}</td>
		<td><input type="text" name="dbtablepre" class="inputbox" value="{$vo['dbtablepre']}" validate="required:true,  minlength:2, maxlength:20" /></td>
		</tr>



		</table>
		<div class="btn">
		<if condition="$action_name=='edit'"><input type="hidden" id="id" name="id" value="{$vo['id']}" /></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>{__TOKEN__}
      </form>
</div>