<include file="Admin:header" />

<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="40">ID</th>      	 
			<th align="left">{:L('name')}</th>	
			<th width="200">{:L('manage')}</th>		
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="vo" key="k">
      		<tr>
			<td align="center">{$vo['id']}</td>     		 
      		<td>{$vo['name']}</td>
      		<td align="center">
			<a href="{:U('Posid/edit',array(id=>$vo['id']))}">{:L('edit')}</a> | 
			<a href="javascript:confirm_delete('{:U('Posid/delete',array(id=>$vo['id']))}')">{:L('delete')}</a> 
      		</td>      		
      		</tr>
      		</volist>
      	</tbody>       
      	</table>
</div>

