<include file="Admin:header" />

<style>
.table-list ul.pic { }
.table-list ul.pic li {float:left;position:relative;margin:5px 10px;_margin:5px 8px;width:82px;}
.table-list ul.pic li span { width:82px;height:82px;}
.table-list ul.pic li span a {border:1px solid #eee;width:80px;height:80px;*font-size: 75px;}
.table-list ul.pic li img  {max-height:80px;max-width:80px ;_width:80px;_height:80px;}
.table-list ul.pic li  b {display:block;line-height:20px;height:20px;font-weight:normal;width:82px;overflow:hidden;}
.table-list ul.pic li  em {position:absolute;right:0;bottom:20px;}

</style>
<div class="table-list">

<ul class="pic">
<if condition="$leve"><li><span><a href="{:U($module_name.'/images?folder=')}{$uppath}"><img src="./Public/Images/upback.gif"></a></span><b><font color="#665aff">{%goback}</font></b></li>
</if>
<volist name="folders" id="vo">
<li><span><a href="{:U($module_name.'/images?folder='.$_GET['folder'])}{$vo.filename}/"><img src="./Public/Images/folder.gif"></a></span><b>{$vo.filename}</b><em><a href="javascript:confirm_delete('{:U($module_name.'/images?delete=1&folder='.$_GET['folder'].'&filename='.$vo[filename])}')">{%delete}</a></em></li>
</volist>

<volist name="files" id="vo">
<li><span><a href="../Public/images/{$_GET['folder']}{$vo.filename}" target="_blank"><if condition="!empty($vo['ico'])"><img src="./Public/Images/ext/{$vo['ext']}.png"><else /><img src="../Public/images/{$_GET['folder']}{$vo.filename}" ></if></a></span><b>{$vo.filename}</b><em><a href="javascript:confirm_delete('{:U($module_name.'/images?delete=1&folder='.$_GET['folder'].'&filename='.$vo[filename])}')">{%delete}</a></em></li>
</volist>
</ul>
</div>