<include file="Admin:header" />


<form name="myform" action="{:U('User/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40">ID</th>
			<th width="110" align="center">{:L('URL_MAKE_HTML')}</th>
			<th width="210" align="left">{:L('URL_example')}</th>		
			<th align="left">{:L('URL_RULE')}</th>
			<th  width="120">{:L('manage')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="vo" key="k">
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$vo['id']}" /></td>
			<td align="center">{$vo['id']}</td>
      		<td align="center"><eq name="vo['ishtml']" value="1">
      		{:L('yes')}
      		<else />
      		{:L('no')}
      		</eq></td>
			<td align="left" style="line-height:20px;">{$vo['showexample']}<br>{$vo['listexample']}</td>
      		<td align="left" style="line-height:20px;">{$vo['showurlrule']}<br>{$vo['listurlrule']}</td>
			<td align="center"><a href="{:U('Urlrule/edit',array(urlruleid=>$vo['urlruleid']))}">{:L('edit')}</a> | <a href="javascript:confirm_delete('{:U('Urlrule/delete',array(urlruleid=>$vo['urlruleid']))}')">{:L('delete')}</a></td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div class="btn"><input type="submit" class="button" name="dosubmit" value="<?php echo L('delete')?>" /></div>  </div>
</div>
</form>

<div id="pages" class="page">{$page}</div>
