/*主页样式表*/
#mainBox {margin:0px auto; width:960px }
#indexLogin {width:960px; height:37px; background:url(../../images/newimages/indexLogin.jpg)}
#top {margin-top:15px; height:67px; border-bottom:2px solid #f3c714 }
 .topLeft {float:left; width:177px; height:47px; padding:10px 0px 10px 10px; background:url(../../images/newimages/indexTopBg.jpg) no-repeat }
 .logo {float:left; width:146px }
 .logo h1 {border:0; margin:0; text-indent:-9999px }
 .logo h1 a {border:0; display:block; margin:0; height:47px; text-decoration:none }

 .topCenter {float:left; width:363px; padding-top:35px; height:32px; background:#ffffff }
 .topCenter a {color:#000 } 
 .topList { }
 .topList li {float:left; width:50px; background:url(../../images/newimages/indexTopLine.jpg) no-repeat right top }
 .topList li.none {background:none }
 
 .topRight {float:right; padding-top:30px; width:410px; height:37px; background:#ffffff url(../../images/newimages/topRightBg.jpg) no-repeat top right ;text-align:right}
 .indexLoginRight {float:right; padding-left:15px; width:85px; height:37px; line-height:33px; background:url(../../images/newimages/icoLogin.jpg) no-repeat top left; color:#ffffff }
 .indexLoginRight a {color:#ffffff}
  
#slid {clear:both; margin:0px auto; width:960px }
#rolling {clear:both; margin:0px auto; width:960px ; margin-top:1px}
#rolling .piccontent{width:924px;height:120px; float:left}
/*#rolling .piccontent li{ float:left; width:184px;height:120px; margin-right:1px}*/
#rolling .btn{width:35px;height:120px; float:right}
#indexConBottom {clear:both; margin:0px auto; width:960px; height:38px; background:url(../../images/newimages/indexConBottom.jpg) no-repeat top center }

 .loginDiv {z-index:2; position:fixed; margin:0px auto; padding:20px; width:379px; height:266px; background:url(../../images/newimages/loginBg.jpg); border:1px solid #a3a5a4; color:#777777; font-size:14px; -moz-box-shadow:0 0 22px #111; -webkit-box-shadow:0 0 22px #111; box-shadow:0 0 22px #111 }
 .loginDiv h2 {float:left; color:#f2c716 }
 .loginDiv span {float:right }
 .loginDiv em {clear:both; padding:20px 0px; display:block; font-style:normal }
 
 .loginContent {padding:15px; width:346px; height:122px; background:url(../../images/newimages/loginBg2.jpg) }
 .loginContent input {margin-bottom:15px }
 .loginSelect {float:left; font-size:12px; color:#2a8cc9 }
 .loginDl {float:right }
 .loginDl input {width:79px; height:38px; background:url(../../images/newimages/dl.jpg); border:none }
 
 .tipLeft {float:left; margin-top:10px; padding-left:30px; background:url(../../images/newimages/smile.gif) no-repeat; height:26px; line-height:26px }
 .tipLeft a {color:#777777 }
 .tipRight {float:right; height:48px; line-height:48px }
 .tipRight a {color:#f2c716 }



#about {margin:0px auto; width:960px; height:24px; line-height:24px; background:#7d7d7d; text-align:center; color:#84381a }
#about a {color:#84381a }

#copyRight {margin:0px auto; width:960px; height:22px; line-height:22px; text-align:center; background:#636363; color:#ffffff }  
  
