/*产品展示样式表*/
#mainBox {margin:0px auto; width:960px }
#top {height:74px; border-bottom:2px solid #f3c714 }
 .logo {float:left; width:190px }
 .logo h1 {border:0; margin:0; text-indent:-9999px }
 .logo h1 a {border:0; display:block; margin:0; height:74px; text-decoration:none }
 
 .topRight {float:left; padding-left:43px; width:727px; height:74px; background:url(../../images/newimages/topBg.jpg) no-repeat }
  .topSearch {float:left; margin-top:40px; width:440px;}
  
  .topLink {float:right; margin-top:40px; height:34px; line-height:34px; color:#ffffff ; padding-right:15px}
  .topLink a {color:#ffffff }

#Menu {padding:0px 8px; height:70px; background:url(../../images/newimages/menuBg.jpg); font-size:14px }
 .menuLeft {float:left; width:114px; height:34px; line-height:34px; background:url(../../images/newimages/menuLeftBg.jpg) no-repeat; text-align:center }
 .menuLeft a {color:#ffffff }
 .menu {float:left; text-align:center }
 .menu a {color:#ffffff }
 .menu li {float:left; width:102px; height:34px; line-height:34px; background:url(../../images/newimages/menuCenterBg.jpg) no-repeat }
 .menuRight {float:left; width:12px; height:34px; background:url(../../images/newimages/menuRightBg.jpg) no-repeat }
 
 .subMenu {margin:0px auto; width:600px; height:30px; line-height:30px; text-align:center }
 .subMenu li {float:left; margin-top:6px; width:104px; height:30px; background:url(../../images/newimages/subMenu.jpg) no-repeat; color:#000 }
 .subMenu li a {color:#000 }
 .subMenu li.on {float:left; margin-top:6px; width:104px; height:30px; background:url(../../images/newimages/subOnMenu.jpg) no-repeat; color:#cc2229 }
 .subMenu li.on a {color:#cc2229 }
 
#gjSearch {margin-bottom:10px; padding:0px 8px; height:82px; background:url(../../images/newimages/gjSearchBg.jpg); color:#c5c5c5;font-size:14px }
 .gjSearch {margin:0px 10px 10px 10px; font-size:12px }
 .menuLeft2 {float:left; width:114px; height:34px; line-height:34px; background:url(../../images/newimages/menuLeftBg.gif) no-repeat; text-align:center }
 .menuLeft2 a {color:#ffffff }
 .menu2 {float:left; text-align:center }
 .menu2 a {color:#ffffff }
 .menu2 li {float:left; width:102px; height:34px; line-height:34px; background:url(../../images/newimages/menuCenterBg.gif) no-repeat }
 .menuRight2 {float:left; width:12px; height:34px; background:url(../../images/newimages/menuRightBg.gif) no-repeat }

#nav {clear:both; margin:10px auto; height:33px; line-height:33px; width:960px }
 .navLeft {float:left; padding-left:36px; width:400px; background:url(../../images/newimages/navLeft.jpg) no-repeat }
 .navCenter {float:left; width:500px; text-align:right; background:url(../../images/newimages/navCenter.jpg) }
 .navRight {float:left; width:24px; height:33px; background:url(../../images/newimages/navRight.jpg) no-repeat }

#content {clear:both; margin:0px auto; width:960px } 
#left {float:left; width:192px } 
 .layer {margin-bottom:10px; width:178px; border:2px solid #909090; background:#5e5e5e }
 .leftOnMenu {margin:0px auto; width:157px }
 .leftOnMenu li {margin:10px 0; width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../../images/newimages/leftMenu.jpg) no-repeat }
 .leftOnMenu li.OnMenu {width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../../images/newimages/leftOnMenu.jpg) no-repeat }
 
 .layerTitle {margin:10px auto; width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../../images/newimages/layerTitle.jpg) no-repeat }
 .leftList {margin:10px auto; width:162px }
 .leftList li {margin:10px auto; width:152px; height:25px; background:url(../../images/newimages/line.jpg) no-repeat center bottom; color:#ffffff }
 .leftList li a {color:#ffffff }
 
 .leftContent {margin:10px auto; width:152px; color:#ffffff }

#right {float:left; width:768px } 
 .products {width:768px }
 .products li {float:left; margin-bottom:5px; margin-left:8px; padding:8px 10px 12px; width:162px; height:248px; border:1px  solid #767676; line-height:120% }
 .products li img {margin:5px 0; }
 
 .products li .title{ height:34px; display:block; overflow:hidden;}
 .products li .pimg {width:160px; height:160px; display:block}
 .products li span {text-align:left }
 
 .topview {z-index:2; position:absolute; margin-left:140px; width:30px; background:url(../../images/newimages/top.png) no-repeat 0px 0px; height:30px }
 
 .imgLeft {float:left; margin-top:25px; width:120px }
 .imgRight {float:left; margin-top:32px; width:38px }
 .imgRight1 {float:left; margin-top:-10px; width:38px }
 .imgRight p{ line-height:15px; height:15px; margin-top:4px}
 
 .viewPic {border:1px solid #e1e1e1 }
 .viewPicTit {margin:5px 10px; padding-top:5px; font-size:14px; height:27px; background:url(../../images/newimages/viewPicTit.jpg) }
 
#slideshow {margin:10px auto; position:relative; height:590px; width:766px }
#slideshow ul {border:1px solid #ffffff; left:90px; height:580px; list-style:none outside none; overflow:hidden; position:absolute; top:10px; width:580px }
#slideshow li {position:absolute; display:none; z-index:10 }
#slideshow li:first-child {display:block; z-index:1000 }
#slideshow .slideActive {z-index:1000 }
#slideshow canvas {display:none; position:absolute; z-index:100 }
#slideshow .arrow {height:364px; width:26px; position:absolute; background:url(../../images/newimages/arrows.png) no-repeat; top:25%; margin-top:-43px; cursor:pointer; z-index:5000 }
#slideshow .previous {background-position:left top;left:0 }
#slideshow .previous:hover {background-position:left bottom }
#slideshow .next{background-position:right top;right:0 }
#slideshow .next:hover {background-position:right bottom }
p.tzine {text-align:center; font-size:12px; margin:50px }
p.credit {text-align:center; color:#888; font-size:10px }
p.credit a,
p.credit a:visited {color:#ccc; border-bottom-color:#aaa }
p.credit a:hover {border-bottom-color:transparent }



 .viewPicIco {display:block; margin:0px auto; width:766px; text-align:center }
 .viewPicTittle {margin:10px auto; padding-left:10px; width:733px; height:29px; line-height:29px; background:url(../../images/newimages/viewPicTitBg.jpg) no-repeat; color:#c6c6c6 }
 .viewPicContent {margin:10px auto 30px auto; width:723px; }




#about {margin:20px auto; width:960px; text-align:center; color:#84381a }
#about a {color:#84381a }

#copyRight {margin:20px auto; width:960px; height:30px; line-height:30px; text-align:center; background:#777777; color:#ffffff }


.ImgshowHid{ width:582px; margin:0 10px; padding:0; float:left; display:inline; clear:both;position:absolute; top:80px; left:200px; z-index:3; visibility:hidden;}
 .ImgshowHid .top{ width:582px; height:4px;float:left; overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -420px no-repeat;}
.ImgshowHid .bot{ width:582px;height:4px; float:left;overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -424px no-repeat;}
.ImgshowHid .mid{width:574px; float:left; border-left:solid #777 4px; border-right:solid #777 4px; background-color:#e2e2e2;}
.ImgshowHid .mid .ISHbiaoti{width:574px;border-bottom:solid #919191 1px;line-height:32px; float:left; font-size:14px;letter-spacing:1px;text-align:center;margin:0 0 10px 0;}
.ImgshowHid .mid .NeIMG{ width:26px;height:525px; padding:0; margin:0; float:left;}
.ImgshowHid .mid .NeIMG img{ margin:80px 0;}
.ImgshowHid .mid .IMSzhuti{width:522px; float:left; height:525px}
.ImgshowHid .mid .IMSzhuti .imsTOP{width:522px; float:left; height:15px; background:url(../images/imgs/bgimg.png) -5px -430px no-repeat;}
.ImgshowHid .mid .IMSzhuti .imsBOT{width:522px;float:left;  height:15px; background:url(../images/imgs/bgimg.png) -5px -445px no-repeat;}
.ImgshowHid .mid .IMSzhuti .imsCEN{width:522px;float:left;  height:472px;background:url(../images/imgs/seIMGbg.jpg) left top repeat-y; text-align:center; vertical-align:middle; padding:10px 0;}

.ImgshowHid .mid .IMS{ width:520px; padding:0 28px; line-height:20px; margin:10px 0; color:#000; line-height:20px; float:left; position:relative;}
.ImgshowHid .mid .IMS .juzhong{display:block; float:left; position:absolute; top:0; left:250px;}
.ImgshowHid .mid .IMS a{ width:18px; height:18px; display:block; float:left; margin:1px 6px; background-color:red;}
.ImgshowHid .mid .IMS a.bf{ background:url(../../images/newimages/ting.jpg) no-repeat;}
.ImgshowHid .mid .IMS a.zt{ background:url(../../images/newimages/fang.jpg) no-repeat;}
.ImgshowHid .mid .IMS a.gb{ background:url(../../images/newimages/guanbi.jpg) no-repeat;}
.ImgshowHid .mid .IMS span{ padding:0 90px;}
