﻿@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0; font-size:12px; font-family:'宋体'; background-color:#000; }
div,ul,ol ,li,p{ padding:0; margin:0;}
ul,ol,li{ list-style:none;}
img{border:none; margin:0; padding:0;}
a{ text-decoration:none;}
a:hover{ cursor:hand; color:#f4cb01;}

#cenner{ width:960px; margin:0 auto; position:relative;}

#head{width:960px; margin:0; padding:17px 0 4px 0; border-bottom:solid #f4c714 26px;background-color:#000; float:left; overflow:hidden; font-size:14px; z-index:0;}
#head img{ width:144px; height:38px; float:left; margin:0 10px 0 24px;}
#head ul{ margin:25px 0 0 0; padding:0; list-style:none; display:block;  vertical-align:bottom;}
#head ul li{ display:block; float:left; width:55px; border-left:solid #f4c714 1px;text-align:center; line-height:16px;}
*+html #head ul li{ margin-top:13px;} /*这里是针对IE7的兼容性样式*/
#head ul .li_load{padding-left:335px;  color:#ababab; width:42px;}
#head ul .li_login{ width:42px; border-left:solid #ababab 1px; line-height:12px; margin-top:2px; }
*+html #head ul .li_login{ margin-top:14px;}/*这里是针对IE7的兼容性样式*/
#head ul li a{color:#f4c714;} 
#head ul li a.go{ color:#ababab; font-size:12px;}
#head ul li a:hover{color:red;}

/* <-----------------------  这一部分为 登录和注册 弹框的样式*/
.loads{width:430px; margin:0 auto; z-index:5; position:absolute; top:70px; left:265px;visibility:hidden; }
.loads .top{ width:430px; height:5px; overflow:hidden;background:url(../images/bgimg.png) -60px -5px no-repeat;}
.loads .bottom{ width:430px; height:5px; overflow:hidden;background:url(../images/bgimg.png) -60px -10px no-repeat;}
.loads .mid{ width:400px; padding:0 0 30px 20px;border-left:solid #a4a4a4 5px;border-right:solid #a4a4a4 5px; font-size:14px;background-color:#FFF;}
.loads .mid .biaoti{width:400px; padding:12px 0 0 0; font-size:16px; font-weight:bold; color:#714f05; line-height:22px;  margin-bottom:6px; position:relative; border-bottom:dashed 1px #333;}  /*加入后面两句可定义分割线为1像素的虚线background:url(../imgs/bgimg.png) -1px -299px no-repeat;  background-position:bottom left;*/
.loads .mid .biaoti a{ display:block; width:18px; height:18px; background:url(../images/bgimg.png) -120px -20px no-repeat;position:absolute; top:12px; right:5px;}
.loads .mid p.p1{ color:#000; padding:10px 0;}
.loads .mid .load_input{ width:345px; padding:15px; margin:20px 0 10px 0; background-color:#f3f3f3;}
.loads .mid .load_input input{ width:334px;  border:solid #e0e0e0 1px; height:14px; margin-bottom:8px;  font-size:14px;padding:7px;}
.loads .mid .load_input input:hover{border:solid #e4b720 1px;}
.loads .mid .load_input .summit{ width:50px; height:28px; background:url(../images/bgimg.png) -60px -20px no-repeat; border:none;}
.loads .mid .load_input .summit:hover{border:none;}
.loads .mid .load_input .losePWD{ display:block; float:right;color:#734e07; }
.loads .mid p.p2{ height:30px; background:url(../images/bgimg.png) -931px -1px no-repeat; line-height:30px; padding-left:30px; }
.loads .mid p.p2 a{color:#000;} 
.loads .mid p.p2 a:hover{color:#fdd600;}
.loads .mid .usertype{width:345px; padding:5px 15px; margin:10px 0; background-color:#f3f3f3; font-size:12px; color:#000; line-height:28px;}
.loads .mid .usertype input{ width:125px; height:28px; border:none; margin:20px 10px -5px 0;}
.loads .mid .usertype input.photoers{ background:url(../images/bgimg.png) -140px -20px no-repeat;}
.loads .mid .usertype input.shares{background:url(../images/bgimg.png) -270px -20px no-repeat;}
/*---------------------------------------------------------------------------------------------------------------------------->*/

#bodys{width:960px; margin:0;padding:0;float:left; clear:both; overflow:hidden; position:relative; z-index:1;}
#bodys .theme_img{width:960px;height:576px; z-index:2;}
#bodys .bg{width:960px; margin:0; padding:0; float:left; background-color:#333;z-index:3; height:156px;FILTER:Alpha(opacity=50); Opacity:0.5;}
																																/*opacity是设置透明度，0是百分百透明（隐藏），100是没有透明度*/
#bodys .scroll{ width:960px; margin:0; padding:0; float:left;  position:absolute; bottom:0; left:0; z-index:4;}
#bodys .scroll .theme{ width:928px; padding-left:32px; float:left; height:30px;}
#bodys .scroll .theme a{ color:#fff; letter-spacing:4px;FILTER:none; line-height:30px;}
#bodys .scroll .theme a:hover{color:#333;}
#bodys .scroll ol{ display:block; float:left; margin:0; padding:8px 0; vertical-align:bottom; }
#bodys .scroll ol li{ height:108px; float:left; padding:0; margin:0;}
#bodys .scroll ol li a{ display:block; margin:0 11px;}/*FILTER:none;*/
#bodys .scroll ol li a.before{height:108px; width:20px; background:url(../images/bgimg.png) -5px -5px no-repeat; margin:0;}
#bodys .scroll ol li a.next{height:108px; width:20px; background:url(../images/bgimg.png) -30px -5px no-repeat; margin:0;}
#bodys .scroll ol li .before:hover,#bodys .scroll ol li .next:hover{filter:gray;}
#bodys .scroll ol li a img{width:160px; height:106px; border:solid #fff 1px;}<!--FILTER:none;-->
#bodys .scroll ol li a img:hover{border:solid red 1px;}
#bodys .scroll ol li .sele_img{border:dashed red 1px;}

#foot{width:960px; margin:0; padding:0; color:#7f7f7f; text-align:center; float:left;}
#foot .top{ width:100%; background:#a4a4a4; line-height:29px;color:#833819;}
#foot .top a{ margin:0 8px;color:#833819;} 
#foot .mid{ width:100%; background-color:#000;color:#777; line-height:29px;}

.blk_18 .pcont {
FLOAT: left; OVERFLOW: hidden; WIDTH: 900px
}
.blk_18 .ScrCont {
WIDTH: 327669px; ZOOM: 1
}
.blk_18 #List1_1 {
FLOAT: left
}
.blk_18 #List2_1 {
FLOAT: left
}
.blk_18 .LeftBotton {
BACKGROUND: url( ../images/bgimg.png) no-repeat; FLOAT: left;  WIDTH: 20px; HEIGHT: 108px
}
.blk_18 .RightBotton {
	FLOAT: right;
	MARGIN: 1px 1px;
	WIDTH: 20px;
	HEIGHT: 108px;
	background-image: url(../images/bgimg.png);
	background-repeat: no-repeat;
}
.blk_18 .LeftBotton {
BACKGROUND-POSITION: -5px -5px; MARGIN-LEFT: 1px
}
.blk_18 .RightBotton {
BACKGROUND-POSITION: -30px -5px; MARGIN-LEFT: 1px
}

.blk_18 .pl IMG {DISPLAY: block; MARGIN:1px auto 1px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.blk_18 .pl {
	FLOAT: left;
	WIDTH: 185px;
	LINE-HEIGHT: 110px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: underline;
	FILTER:none;

}
.blk_18 A.pl:hover {
BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ff9900 1px solid; COLOR: #ff9900; BORDER-BOTTOM: #ff9900 1px solid
}
.commu_cont3 {
MARGIN: 1px 1px 1px; LINE-HEIGHT: 150%
}
.commu_cont3 UL {
WIDTH: 188px
}































