@charset "utf-8";
/* CSS Document */
body{font-size:12px; font-family:'宋体';background-color:#000;  }
div,ul,ol ,li,p{ padding:0; margin:0;}
ul,ol,li{ list-style:none;}
img{border:none; margin:0; padding:0;}
a{ text-decoration:none;}
a:hover{ cursor:hand; color:#f4cb01;}

/*-------非主页头部（LOGO、右侧会员信息）样式---------*/
#cenner{ width:960px; margin:0 auto; position:relative;}
#top{ width:935px;padding:23px 0 24px  25px; background-color:#000; float:left; display:inline; overflow:hidden; position:relative; z-index:1;}
#top .logo{ float:left;  width:144px; height:38px;}
#top ul { float:left; position:absolute; right:32px; bottom:25px;}
#top ul li{ display:block; float:left; height:12px; margin:0; padding:0 8px; text-align:center; line-height:12px;border-right:solid 1px #ababab; color:#ababab;}
#top ul li.lis{border:none;}
#top ul li a{ color:#ababab;}
#top ul li a:hover{color:#f3c714;} 

/*全局菜单样式*/
#menu{width:940px; height:37px;  float:left;padding:1px 0 0 0; margin:0 10px; background:url(../images/imgs/bgimg.png) -5px -140px no-repeat; position:absolute; top:70px; left:0; z-index:5}
#menu ol{margin: 0; padding:0; list-style:none;}
#menu ol li{display:block; padding:0; margin:0; float:left; height:33px; border-right:solid #464748 1px;}
#menu ol li a{display:block; width:94px; height:33px;color:#fff; border-left:solid #777 1px; border-right:solid #777 1px; text-align:center; line-height:33px; font-size:14px;}
#menu ol li a:hover{background:url(../images/imgs/bgimg.png) -500px -50px no-repeat;color:#f3c714;}
#menu ol li a.first{border-left:none;}
#menu ol li a.first:hover{background:url(../images/imgs/bgimg.png) -596px -50px no-repeat;}
#menu ol li a.days{background:url(../images/imgs/bgimg.png) -290px -50px no-repeat;}
#menu ol li a.days:hover{background:url(../images/imgs/bgimg.png) -400px -50px no-repeat;}
#menu #imgID{ width:180px; height:20px; padding:4px 0 0 15px;border:none;background:url(../images/imgs/bgimg.png) -60px -86px no-repeat; margin:4px 0 0 10px; color:#c0c0c0;}
#menu .seach{color:#f3c714; font-size:12px; margin:0 5px; position:absolute; top:13px;}



/*----------------------按照类别搜索选项部分-----------------*/
.selects{width:960px; margin:0;float:left; display:inline;position:relative; position:absolute; left:0; top:90px; z-index:1; }
#seleTag{  padding:30px 0 41px 0;background:url(../images/imgs/bgimg.png) 0 -205px no-repeat #bebebe ; }
#seleTag .seles{ height:32px; width:500px;float:left; margin:0; padding:0; float:left; border-bottom:solid 1px #fff; padding:0 230px; }
#seleTag .seles a{display:block;width:96px; height:32px; float:left; margin:1px 2px 0 2px;font-size:14px; line-height:32px; text-align:center; color:#000;background:url(../images/imgs/bgimg.png) -180px -50px no-repeat;}
#seleTag .seles a:hover{background:url(../images/imgs/bgimg.png) -60px -50px no-repeat;color:red;}
#seleTag .seles a.this{background:url(../images/imgs/bgimg.png) -60px -50px no-repeat;color:red;}
#seleTag .page{ float:left; width:958px; margin:-10px 0 0 0; padding:15px 0;border-left:solid 1px #fff;border-right:solid 1px #fff;background-color:#c0c0c0; position:absolute; left:0; top:73px; float:left;}
#seleTag .page .pages{ width:915px; padding-left:20px; height:24px;float:left; background:url(../images/imgs/bgimg.png) -5px -115px no-repeat; margin:0 12px;}
#seleTag .page .pages  .a_red{color:#000; margin:0 40px; height:42px; width:380px;}
#seleTag .page .pages  span{ padding:0; margin:0 410px; line-height:24px; width:410px}
#seleTag .page .pages  span select{ background:url(../images/imgs/bgimg.png) -260px -86px; height:19px; margin:0 5px; width:46px; color:#343434; line-height:24px;}
#seleTag .page .pages  span input{height:14px; margin:0 5px; width:30px; color:#343434; line-height:20px;}
#seleTag .page .pages  span a{color:#343434; margin:0 5px;}
#seleTag .page .pages  span a:hover,#seleTag .page .pages  .a_red:hover{color:#fff;}

/*------------------详细搜索选项部分----------------- -*/
.selects{width:960px; margin:0;float:left; display:inline;position:relative; position:absolute; left:0; top:90px; z-index:1; }
#search{padding:30px 0 11px 0; background:url(../images/imgs/searh_bgimg.jpg) left bottom no-repeat #5e5e5e ; borde-topr:solid #343434 1px;color:#c6c6c6;visibility:hidden;}
#search p{ font-size:12px; letter-spacing:1px; line-height:35px; margin-left:17px;}
#search input{ margin:0; padding:0; border:none; line-height:21px;}
#search input.time{ width:99px; height:21px; background:url(../images/imgs/bgimg.png) -750px -325px no-repeat; margin:0 7px 0 5px;}
#search .longSele{ width:103px; height:21px; background:url(../images/imgs/bgimg.png) -750px -300px no-repeat; margin:0 15px 0 5px; clear:#5f5f5f;}
#search input.keyword{ width:170px; padding-left:10px; height:21px;background:url(../images/imgs/bgimg.png) -750px -350px no-repeat;clear:#5f5f5f;}
#search .Adress{ width:64px; height:21px;background:url(../images/imgs/bgimg.png) -860px -300px no-repeat; margin:0 0 0 5px;}
#search input.many{margin:0 7px -2px 4px;border:none; background-color:#5e5e5e;}/*border:solid #c6c6c6 1px; */
#search b{ padding-left:25px; }
#search .goutu{ height:30px; width:120px; float:left; position:absolute; top:73px; right:75px; padding:2px 0 0 20px; z-index:1;}
#search .goutu a{display:block; width:30px; height:13px;float:left;color:#c6c6c6;  text-align:right; margin:0 5px;}
#search .goutu a.H{background:url(../images/imgs/bgimg.png) -947px -310px no-repeat; }
#search .goutu a.S{background:url(../images/imgs/bgimg.png) -947px -325px no-repeat; }
#search .goutu a.F{background:url(../images/imgs/bgimg.png) -947px -350px no-repeat; }
#search .goutu a:hover{color:#f1c814;}
#search input.searh{ float:left;width:45px; height:23px; background:url(../images/imgs/bgimg.png) -810px -20px; position:absolute;right:25px; top:70px;z-index:1;}
/*把上面的background的值换成{background:url(../images/imgs/bgimg.png) -752px -325px;}即可切换为原设计图效果*/
#search input.clean{ float:left;width:45px; height:23px; background:url(../images/imgs/bgimg.png) -860px -20px;position:absolute;right:25px; top:32px; z-index:1;}
/*把上面的background的值换成{background:url(../images/imgs/bgimg.png) -900px -325px;}即可切换为原设计图效果*/


/*-------------------全局页面左侧分类列表-------------*/
#bodys{ width:938px; margin: 0; float:left; padding:10px;border-left:solid #fff 1px; border-right:solid #fff 1px; background-color:#c0c0c0; z-index:2; position:absolute; left:0; top:200px;}
#bodys .left{ width:184px; padding:0; margin:0; float:left; display:inline;}
#bodys .left .top{ width:184px; height:9px;overflow:hidden; line-height:9px; background:url(../images/imgs/bgimg.png) -400px -20px no-repeat;}
#bodys .left .bot{ width:184px; height:9px; overflow:hidden; line-height:9px; background:url(../images/imgs/bgimg.png) -400px -40px no-repeat; }
#bodys .left .mid{ width:184px; overflow:hidden; background:url(../images/imgs/bgimg_left.jpg) left top repeat-y; }
#bodys .left .mid ul,#bodys .left .mid ol{ width:169px; padding:0; margin:0 auto;}
#bodys .left .mid ul li{ display:block; width:169px; margin-bottom:6px;}
#bodys .left .mid ul li a{ display:block;width:154px; padding-left:15px; font-size:12px; line-height:29px; color:#fff; background:url(../images/imgs/bgimg.png) -310px -86px no-repeat;}
#bodys .left .mid ul li a:hover{color:#5fe600; background:url(../images/imgs/bgimg.png) -490px -86px no-repeat;}
#bodys .left .mid ul li .titlelink{display:block;width:154px; padding-left:15px; font-size:12px; line-height:29px; color:#fff; background:url(../images/imgs/bgimg.png) -310px -86px no-repeat;}
#bodys .left .mid ul li .titlelink_copy{color:#5fe600; background:url(../images/imgs/bgimg.png) -670px -86px no-repeat;}

#bodys .left .mid ol li{ display:block; width:169px; padding:0; margin:0; border-top:solid #686868 1px;}
#bodys .left .mid ol li a{ display:block; width:159px;padding:5px;border-top:solid #e2e2e2 1px;margin-bottom:9px;font-size:12px;color:#000;line-height:16px;letter-spacing:1px;}
#bodys .left .mid ol li a:hover{color:#f3c714;}

#bodys .right{width:754px; padding:0; margin:0; float:left; display:inline; position:relative;}

/*-----------------全局页面右侧 地址条和模式切换块---------------*/
#bodys .right .type{ width:730px; padding-left:13px; height:30px; margin:0 0 13px 8px; border:solid #a6a6a6 1px; background:url(../images/imgs/bgimg.png) -5px -310px no-repeat;}
#bodys .right .type a{color:#343434; margin-left:21px; letter-spacing:1px;}#bodys .right .type a:hover{color:#a14420;}
#bodys .right .type  span{ display:block; height:30px; line-height:32px; margin:0 6px; float: left;}
#bodys .right .type  span.see{ background:url(../images/imgs/bgimg.png) -945px -65px no-repeat;}
#bodys .right .type  span.ppt{ background:url(../images/imgs/bgimg.png) -944px -95px no-repeat;}
#bodys .right .type  span.adress{ background:url(../images/imgs/bgimg.png) -946px -35px no-repeat; padding-left:21px;}
#bodys .right .type  span.adress a{ font-weight:bold; letter-spacing:2px; margin:0;}
#bodys .right .imglist{width:754px; padding:0; margin:0; float:left; display:inline;}
#bodys .right .imglist ul,#bodys .right .imglist ol{ padding:0; margin:0;}
#bodys .right .imglist ul li,#bodys .right .imglist ol li{ width:180px; margin:0 0 8px 8px; float:left;}

/*------------------------ 图片详细信息页面右侧主题部分---------------------------------------*/
#bodys .right .imgBiaoti{ width:724px; height:34px; padding-left:20px;margin:0 0 5px 8px; border:solid #9e441f 1px;  font-size:14px; letter-spacing:1px; color:#000; line-height:34px; z-index:2; float:leftl; background-color:#f9e697}
#bodys .right .imgBiaoti a{ display:block; width:21px; height:34px;background:url(../images/imgs/bgimg.png) -810px -50px no-repeat ; margin:-34px 0 0 695px;}
#bodys .right .imgShow{ width:746px; margin:0 0 0 7px; padding:30px 0; background-color:#fff; float:left; display:inline; text-align:center;}
#bodys .right .imgShow .NextImg{width:26px; height:364px; float:left; margin:0 4px;}
#bodys .right .imgShow .ImgShows{ width:678px; height:364px;float:left; margin:0 auto; padding:15px 0;}
#bodys .right .imgShow .ImgShows img{ max-height:350px; max-width:500px;margin:0;}
#bodys .right .imgShow .ImgShows .ImgMsg{ width:588px; padding:40px 0 10px 90px; text-align:center; float:left; color:#000;}
#bodys .right .imgShow .ImgShows .ImgMsg a{ display:block; float:left; height:16px; margin:0 6px; padding-left:20px; line-height:16px; color:#000;}
#bodys .right .imgShow .ImgShows .ImgMsg a.aG{background:url(../images/imgs/bgimg.png) -945px -386px no-repeat;}
#bodys .right .imgShow .ImgShows .ImgMsg a.aX{background:url(../images/imgs/bgimg.png) -945px -402px no-repeat;}
#bodys .right .imgShow .ImgShows .ImgMsg a.aC{background:url(../images/imgs/bgimg.png) -945px -370px no-repeat;}
#bodys .right .imgShow .ImgShows .ImgMsg span{ margin-left:100px;}
#bodys .right .ImgMsgs{ width:747px; margin:7px 0 5px 0; padding:0 0 0 7px; float:left; display:inline; }
#bodys .right .ImgMsgs .IMbiaoti{ width:733px; padding:0 0 0 6px; font-size:12px; font-weight:bold; line-height:22px; background-color:#c0c0c0;} 
#bodys .right .ImgMsgs p{background-color:#fff; color:#000; line-height:20px; text-indent:2.0em; padding:5px 10px;}
#bodys .right .ImgMsgs ol li{line-height:22px; background-color:#fff; padding-left:10px;}


/*---------------------------图片列表投影圆角部分------------------------------------*/
#bodys .right .imglist ul li .top{ width:180px; overflow:hidden; height:14px; line-height:7px; background:url(../images/imgs/bgimg.png) -596px -20px no-repeat;}
#bodys .right .imglist ul li .bot{ width:180px; overflow:hidden; height:6px; line-height:6px; background:url(../images/imgs/bgimg.png) -596px -43px no-repeat;}
#bodys .right .imglist ul li .mid{width:164px; padding:0 8px;background:url(../images/imgs/bgimg_imglist.jpg) left top repeat-y; position:relative; overflow:hidden; height:237px;}
#bodys .right .imglist ul li .mid .p_imgbiaoti{ text-align:center; color:#000; line-height:16px;}
#bodys .right .imglist ul li .mid img{ max-width:160px; max-height:160px; border:solid 1px #fff; margin:0 auto; position:absolute; top:40px;margin:0 auto;}
#bodys .right .imglist ul li .mid img.small{ width:106px; margin:0 27px;position:absolute; top:40px;}
#bodys .right .imglist ul li .mid img:hover{border:solid 1px #a14420;}
#bodys .right .imglist ul li .mid .p_note,#bodys .right .imglist ul li .mid .p_tag{ display:block; width:150px; height:16px; line-height:18px; float:left; margin: 0 0 0 10px; position:absolute; left:0; bottom:18px; letter-spacing:1px;}
#bodys .right .imglist ul li .mid .p_note span{padding-left:21px;}
#bodys .right .imglist ul li .mid .p_tag{ position:absolute; left:0; bottom:0;width:145px;padding:0 0 0 15px;}
#bodys .right .imglist ul li .mid .p_tag a{display:block;width:13px;height:13px;background:url(../images/imgs/bgimg.png) -947px -140px no-repeat;position:absolute;bottom:1px;left:2px;}

/*图片列表直角白边部分*/
#bodys .right .imglist ol li div{width:164px; padding:6px 8px; border:solid #fff 1px; margin:0;overflow:hidden; float:left;}

#bodys .right .imglist ol li .top{ vertical-align:bottom; height:172px;}
#bodys .right .imglist ol li .top:hover,#bodys .right .imglist ol li .bot:hover{border:solid red 1px;}
#bodys .right .imglist ol li .top img{  margin:0 auto;}
#bodys .right .imglist ol li .top .small{ width:106px; margin:0 27px;}
#bodys .right .imglist ol li .mid{border-bottom:none; width:100px; padding:6px 40px;}
#bodys .right .imglist ol li .mid a{ display:block;width:16px; height:16px; float:left; margin:4px;}
#bodys .right .imglist ol li .mid a.aF{background:url(../images/imgs/bgimg.png) -700px -50px no-repeat;}
#bodys .right .imglist ol li .mid a.aG{background:url(../images/imgs/bgimg.png) -720px -50px no-repeat;}
#bodys .right .imglist ol li .mid a.aX{background:url(../images/imgs/bgimg.png) -740px -50px no-repeat;}
#bodys .right .imglist ol li .mid a.aC{background:url(../images/imgs/bgimg.png) -760px -50px no-repeat;}
#bodys .right .imglist ol li .bot p{ line-height:18px; color:#000;}
#bodys .right .imglist .note{ width:170px; padding-left:8px;}
#bodys .right .imglist .note p{ line-height:24px; padding-left:11px;}
#bodys .right .imglist .note .imgNote{padding:10px; border:solid  #818181 1px; font-size:12px; color:#000; line-height:18px; text-indent:2.0em;}

/*------------这里是图片播放模块样式WIDTH:582PX--------------------*/
#bodys .right .ImgshowHid{ width:582px; margin:0 10px; padding:0; float:left; display:inline; clear:both;position:absolute; top:40px; left:80px; z-index:3; visibility:hidden;}
#bodys .right .ImgshowHid .top{ width:582px; height:4px;float:left; overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -420px no-repeat;}
#bodys .right .ImgshowHid .bot{ width:582px;height:4px; float:left;overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -424px no-repeat;}
#bodys .right .ImgshowHid .mid{width:574px; float:left; border-left:solid #777 4px; border-right:solid #777 4px; background-color:#e2e2e2;}
#bodys .right .ImgshowHid .mid .ISHbiaoti{width:574px;border-bottom:solid #919191 1px;line-height:32px; float:left; font-size:14px;letter-spacing:1px;text-align:center;margin:0 0 10px 0;}
#bodys .right .ImgshowHid .mid .NeIMG{ width:26px;height:525px; padding:0; margin:0; float:left;}
#bodys .right .ImgshowHid .mid .NeIMG img{ margin:80px 0;}
#bodys .right .ImgshowHid .mid .IMSzhuti{width:522px; float:left; height:525px}
#bodys .right .ImgshowHid .mid .IMSzhuti .imsTOP{width:522px; float:left; height:15px; background:url(../images/imgs/bgimg.png) -5px -430px no-repeat;}
#bodys .right .ImgshowHid .mid .IMSzhuti .imsBOT{width:522px;float:left;  height:15px; background:url(../images/imgs/bgimg.png) -5px -445px no-repeat;}
#bodys .right .ImgshowHid .mid .IMSzhuti .imsCEN{width:522px;float:left;  height:472px;background:url(../images/imgs/seIMGbg.jpg) left top repeat-y; text-align:center; vertical-align:middle; padding:10px 0;}
#bodys .right .ImgshowHid .mid .IMSzhuti .imsCEN img{ width:500px; height:480px;}
#bodys .right .ImgshowHid .mid .IMS{ width:520px; padding:0 28px; line-height:20px; margin:10px 0; color:#000; line-height:20px; float:left; position:relative;}
#bodys .right .ImgshowHid .mid .IMS .juzhong{display:block; float:left; position:absolute; top:0; left:250px;}
#bodys .right .ImgshowHid .mid .IMS a{ width:18px; height:18px; display:block; float:left; margin:1px 6px; background-color:red;}
#bodys .right .ImgshowHid .mid .IMS a.bf{ background:url(../images/imgs/bgimg.png) -600px -420px no-repeat;}
#bodys .right .ImgshowHid .mid .IMS a.zt{ background:url(../images/imgs/bgimg.png) -620px -420px no-repeat;}
#bodys .right .ImgshowHid .mid .IMS a.gb{ background:url(../images/imgs/bgimg.png) -640px -420px no-repeat;}
#bodys .right .ImgshowHid .mid .IMS span{ padding:0 90px;}

/*------------------这部分是图片查看图片详细信息模块（小弹层）-------------------*/
#bodys .right .div2 .SIMS{ width:379px; margin:0 10px; padding:0; float:left; display:inline; clear:both; position:absolute; top:40px; left:180px; z-index:3; visibility:hidden;}
#bodys .right  .div2 .SIMS .top{ width:379px; height:4px;float:left; overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -410px no-repeat;}
#bodys .right  .div2 .SIMS .bot{ width:379px;height:4px; float:left;overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -414px no-repeat;}
#bodys .right  .div2   .SIMS .mid{width:371px; float:left; border-left:solid #a14420 4px; border-right:solid #a14420 4px; background-color:#e2e2e2;}
	/* 备注：如果想恢复设计稿边框色，可以在上面第二行和第三方中把background的值(从-5px改为-400px),然后把上面第一行中的#a14420改为#d45a29即可*/
#bodys .right .SIMS .mid table{width:370px; border-collapse:collapse; font-size:12px; color:#333; line-height:14px;}
#bodys .right .SIMS .mid table tr{ line-height:26px; padding-left:10px;}


/*-----------图片列表模块的下侧页码条-----------------*/
#bodys .goPag{width:918px; margin:0 ; float:left;  background-color:#c0c0c0; z-index:2; text-align:right; padding-right:20px; letter-spacing:2px; color:#343434;}
#bodys .goPag select{ background:url(../images/imgs/bgimg.png) -260px -86px; height:19px; margin:0 3px; width:46px; color:#343434; line-height:24px;}
#bodys .goPag a{color:#343434; line-height:21px; margin:0 6px;}
#bodys .goPag a:hover{color:#f60;}

/*--------------页面脚部统一样式----------------------*/
#foot{width:960px; margin:0; padding:0; color:#7f7f7f; text-align:center; float:left;position: absolute; right:0px;}
#foot .top{ width:100%; background:#a4a4a4; line-height:29px;color:#833819;}
#foot .top a{ margin:0 8px;color:#833819;} 
#foot .mid{ width:100%; background-color:#000;color:#777; line-height:29px;}



/*弹出界面样式---------------------*/
.note{ width:170px; padding-left:8px;}
 .note p{ line-height:24px; padding-left:11px;}
 .note .imgNote{padding:10px; border:solid  #818181 1px; font-size:12px; color:#000; line-height:18px; text-indent:2.0em;}
 
.ImgshowHid{ width:582px; margin:0 10px; padding:0; float:left; display:inline; clear:both;position:absolute; top:80px; left:200px; z-index:3; visibility:hidden;}
 .ImgshowHid .top{ width:582px; height:4px;float:left; overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -420px no-repeat;}
.ImgshowHid .bot{ width:582px;height:4px; float:left;overflow:hidden; line-height:4px; background:url(../images/imgs/bgimg.png) -5px -424px no-repeat;}
.ImgshowHid .mid{width:574px; float:left; border-left:solid #777 4px; border-right:solid #777 4px; background-color:#e2e2e2;}
.ImgshowHid .mid .ISHbiaoti{width:574px;border-bottom:solid #919191 1px;line-height:32px; float:left; font-size:14px;letter-spacing:1px;text-align:center;margin:0 0 10px 0;}
.ImgshowHid .mid .NeIMG{ width:26px;height:525px; padding:0; margin:0; float:left;}
.ImgshowHid .mid .NeIMG img{ margin:80px 0;}
.ImgshowHid .mid .IMSzhuti{width:522px; float:left; height:525px}
.ImgshowHid .mid .IMSzhuti .imsTOP{width:522px; float:left; height:15px; background:url(../images/imgs/bgimg.png) -5px -430px no-repeat;}
.ImgshowHid .mid .IMSzhuti .imsBOT{width:522px;float:left;  height:15px; background:url(../images/imgs/bgimg.png) -5px -445px no-repeat;}
.ImgshowHid .mid .IMSzhuti .imsCEN{width:522px;float:left;  height:472px;background:url(../images/imgs/seIMGbg.jpg) left top repeat-y; text-align:center; vertical-align:middle; padding:10px 0;}
.ImgshowHid .mid .IMSzhuti .imsCEN img{ width:500px; height:480px;}
.ImgshowHid .mid .IMS{ width:520px; padding:0 28px; line-height:20px; margin:10px 0; color:#000; line-height:20px; float:left; position:relative;}
.ImgshowHid .mid .IMS .juzhong{display:block; float:left; position:absolute; top:0; left:250px;}
.ImgshowHid .mid .IMS a{ width:18px; height:18px; display:block; float:left; margin:1px 6px; background-color:red;}
.ImgshowHid .mid .IMS a.bf{ background:url(../images/imgs/bgimg.png) -600px -420px no-repeat;}
.ImgshowHid .mid .IMS a.zt{ background:url(../images/imgs/bgimg.png) -620px -420px no-repeat;}
.ImgshowHid .mid .IMS a.gb{ background:url(../images/imgs/bgimg.png) -640px -420px no-repeat;}
.ImgshowHid .mid .IMS span{ padding:0 90px;}
