div,ul,li,a,span,p{ margin:0; padding:0}
li{ list-style:none}
img{ border:none}
.clearfix:after {
	display: block; height: 0px; visibility: hidden; clear: both; content: "."
}
.clearfix {
	display: inline-block
}
body{ background:#484848; margin:0; padding:0; font-size:12px}
.w960{ width:960px; margin:0 auto}
.logo{ background:url(../images/logo_background.gif) repeat-x; height:68px; position:relative}
.logo img{ margin-left:20px; margin-bottom:0; display:inline; float:left}

.logo1{ background:url(../images/logo_hbackground.gif) repeat; height:68px; position:relative}
.logo1 img{ margin-left:20px; margin-bottom:0; display:inline; float:left}

.logo2{ background:url(../images/logo_bbackground.gif) repeat-x; height:23px; position:relative}
.logo2 img{ margin-left:20px; margin-bottom:0; display:inline; float:left}

.signinfo{position:absolute; right:30px; color:#ababab; top: 20px}
.rsigninfo{position:absolute; right:30px; color:#ababab; top: 45px}
.rrsigninfo{position:absolute; left:175px; color:#FC0; top: 45px; font-size:18px;}

.signinfo a{ color:#ababab; text-decoration:none}
.rsigninfo a{ color:#ababab; text-decoration:none}
.rrsigninfo a{ color:#FC0; text-decoration:none}


.signinfo a:hover{ color:#fff; text-decoration:none}
.rsigninfo a:hover{ color:#fff; text-decoration:none}
.rrsigninfo a:hover{ color:#900; text-decoration:none}

.menubg{ background:#cccccc; height:47px;  }
.menubg li{ list-style:none;}

 #globalnav {
	Z-INDEX: 3; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; ZOOM: 1; DISPLAY: block; PADDING-TOP: 5px; 
}
 #globalnav:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
 #globalnav li {
	DISPLAY: inline
}
 #globalnav  LI A {
	 WIDTH: 96px; BACKGROUND: url(../images/globalnav.png) no-repeat; FLOAT: left; HEIGHT: 37px; OVERFLOW: hidden; CURSOR: pointer; line-height:37px; color:#e2e2e2; text-align:center; text-decoration:none; font-size:14px;
}
 #globalnav LI A {
	OUTLINE-STYLE: none; BACKGROUND-POSITION: -99px 0;
}

 #globalnav LI A:hover {
	BACKGROUND-POSITION: -99px -40px;  WIDTH: 96px;
}
 #globalnav LI#gn1 A {
	OUTLINE-STYLE: none; BACKGROUND-POSITION: 0 0; width:99px;
}

 #globalnav LI#gn1 A:hover {
	BACKGROUND-POSITION: 0  -40px;width:99px;
}
#globalnav LI#gn24 a{text-align:left}
 #globalnav LI#gn24 a span{ background:url(../images/24.gif) no-repeat 15% 0; padding-left:32px; }
 .searchbg{ background:url(../images/searchbg.png) no-repeat; height:37px; display:inline; float:left; width:258px}
 .searchbg input { color:#c0c0c0; padding-left:20px; background:none; border:none; margin-top:10px; width:150px; }
.search_tu img{ padding-top:3px; background:none; display:inline; }
  #globalnav .searchbg A.search_an{ background:none; color:#f4c611;  float:right; margin-right:5px; padding-top:10px; text-decoration:none; position:absolute; right:20px}
  .menu2bg{ background:url(../images/menu2bg.gif) repeat-x; height:42px}
  
  
   #menu2nav {width:600px; MARGIN: 0px  auto ;}
 #menu2nav:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
 #menu2nav li {
	DISPLAY: inline
}
 #menu2nav LI A {
	 WIDTH: 97px; BACKGROUND: url(../images/menu2icon.gif) no-repeat; FLOAT: left; HEIGHT: 42px;_height:22px; OVERFLOW: hidden; CURSOR: pointer;  color:#000000; text-align:center; text-decoration:none; font-size:14px; padding-top:20px;
}
#menu2nav LI.current  A {
	 WIDTH: 97px; BACKGROUND: url(../images/menu2_current.gif) no-repeat; FLOAT: left; HEIGHT: 42px;_height:22px; OVERFLOW: hidden; CURSOR: pointer;  color:#d8101d; text-align:center; text-decoration:none; font-size:14px;padding-top:20px
}
.centerbg{ background:url(../images/centerbg.gif) repeat-y; padding-top:20px;_padding-top:20; margin:0; height:100%  }
.centerbg:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.daohangbg{ background:url(../images/daohangbg.gif) no-repeat; width:937px; height:25px; margin:0px auto; text-align:left; clear:both }
.daohangbg span { padding-left:25px; line-height:25px; float:left}
.daohangbg span a{color:#980001; text-decoration:none; padding-left:10px}
.daohangbg span a.fenge{ background:url(../images/daohangline.gif) no-repeat center right; padding-right:10px}
.pagelist{ padding-right:20px}
.pagelist ,.pagelist form{ display:inline; float:right; color:#333534}
.pagelist  a{ color:#333534; padding:0px 10px; text-decoration:none}
.pageinput{ background:#cbcbcb; border-bottom:1px solid #f0e5c5; border-left: 1px solid #585a57; border-right:1px solid #f0e5c5; border-top:1px solid #585a57; height:14px;}
.pagelist span{ padding-top:0px}
.pagelist .select {margin-top:0px;  margin-right:0px;}

DIV.selectbox-wrapper {
	BORDER-RIGHT: #b7d1eb 1px solid; BORDER-TOP: #b7d1eb 0px solid; MARGIN-TOP: -3px; BORDER-LEFT: #b7d1eb 1px solid; WIDTH: 50px; BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; BACKGROUND-COLOR: #cbcbcb; TEXT-ALIGN: left; z-index:200
}
DIV.selectbox-wrapper UL LI.selected {BACKGROUND-COLOR: #999;}
DIV.selectbox-wrapper UL LI.current {
	COLOR: #fff; BACKGROUND-COLOR: #999999
}
DIV.selectbox-wrapper UL LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 45px; CURSOR: pointer; LINE-HEIGHT: 16px; PADDING-TOP: 0px
}
.selectbox { border:none;  DISPLAY: block; padding-left:4px; width: 50px; CURSOR: pointer; padding-top:2px; HEIGHT: 18px; background: url(../images/selectbg.gif) no-repeat;}
.btn{ float:left; display:inline; margin-left:8px; margin-top:2px;}
.centermain{ margin-top:20px; }
.leftmenu{ width:120px;_width:108px; display:inline; float:left   }
.leftmenu li{ width:102px;_width:108px; margin:0  auto;padding:5px 0; text-align:center;}
.leftmenu li a { background:url(../images/leftmenu.gif) no-repeat; width:102px; height:23px; display:inline-block; color:#cacaca; text-decoration:none;   margin:0; padding-bottom:0; line-height:23px;}
.leftmenu li a:hover { background:url(../images/leftmenu2.gif) no-repeat; width:102px; height:23px; display:inline-block; color:#f4c811; text-decoration:none;   margin:0; padding-bottom:0; line-height:23px;}
.leftmenu li.current a { background:url(../images/leftmenu2.gif) no-repeat; width:102px; height:23px; display:inline-block; color:#f4c811; text-decoration:none;   margin:0; padding-bottom:0; line-height:23px;}
.rightcenter{ background:url(../images/ccbg.gif) repeat-y left top; display:inline; float:left; padding-left:10px; width:820px  }
.rightcenter p{text-align:left;} 
.photobg{ background:url(../images/photobg.gif) no-repeat; width:197px ; height:276px; margin-top:10px; text-align:center; position:relative}
li.photobg { display:inline; float:left; margin-left:8px}
.photobg p{padding-top:13px; width:146px; text-align:center; margin:0 auto; line-height:15px;color:#333333}
.photobg .tu a{ border:1px solid #fff; display:inline-block;margin:30px auto}
.photobg .tu a:hover{ border:1px solid #cd1f5c; display:inline-block; margin:30px auto}
.photobg .tu a.current{ border:1px solid #cd1f5c; display:inline-block; margin:30px auto}
.photobg  .text { padding:0 10px}
.photobg  .text:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.photobg   .add{ float:left; display:inline; color:#333}
.photobg   .time{float:right; display:inline; color:#333}
.top{ position:absolute; top:-1px; left:163px}
.fl{ display: inline; float:left}
.fr{ display:inline; float:right}
.m15{ margin-top:15px}

SPAN.button  {
	BACKGROUND-IMAGE: url(../images/btnbg.gif);  
}

SPAN.button INPUT {
	BACKGROUND-IMAGE:  url(../images/btnbg.gif);  
}
SPAN.button INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1; BACKGROUND-COLOR: transparent; FONT-STYLE: normal; MARGIN: 0px -16px 0px 10px; PADDING-LEFT:10px; PADDING-RIGHT: 20px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Arial" !important; WHITE-SPACE: nowrap; BACKGROUND-POSITION: 100% 0px; LETTER-SPACING: 0px !important; HEIGHT: 23px; COLOR: #c4eff8; FONT-SIZE: 12px !important;  BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; PADDING-TOP: 0px; _position: relative; _padding-left: 0px; _padding-right: 10px; _margin-right: -10px; _display: block; _top: 0; _right: -5px
}
SPAN.button {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; FONT-STYLE: normal; MARGIN: 0px 10px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; HEIGHT: 23px; FONT-SIZE: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px; _position: relative; _width: 5px; _overflow-y: hidden
}
.cenerbottom{ margin-bottom:5px ;  }
.bottmbg{background:url(../images/bttombg.gif); width:960px; height:27px; line-height:27px; color:#b8b8b8; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px}
.btnbg{ display:inline; float:left}
.body {background-color: #EAEAEA;border-top-color: #063;border-right-color: #063;border-bottom-color: #063;border-left-color: #063;color: #000;}
.main {background-color: #333;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;
	color: #EAEAEA;}
.red {background-color: #EAEAEA;color: #F00;}
.dd {background-color: #666;height: 20px;width: 860px;left: 10px;right: 30px;background-position: center center;margin: 20px;}
.leftpi {background-repeat: repeat;padding: 0px;height: 110px;width: 20px;}
.spicture {height: 110px;width: 162px;border-top-color: #FFF;border-right-color: #FFF;border-bottom-color: #FFF;border-left-color: #FFF;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;}
.login_page {background-color: #FAFAFA;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #999;border-right-color: #999;
border-bottom-color: #999;border-left-color: #999;position: absolute;top: 50px;bottom: 160px;
left: -450px;width: 459px;height: 419px;color: #000;}