@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0; background: url(../images/bgimg.jpg) center top repeat-y #000; font-size:12px; font-family:'宋体';
/* overflow:hidden;*/}
div,ul,ol ,li,p{ padding:0; margin:0;}
ul,ol,li{ list-style:none;}
img{border:none; margin:0;}
a{ text-decoration:none; color:#000}
a:hover{ cursor:hand; color:#f4cb01;}

#cenner{ width:960px; margin:0 auto;}
#banner{ width:960px;}#banner img{ width:960px;}
#menu{ width:960px; background:#000; padding:21px 0;}
#menu ul{ display:block; width:926px; padding:10px 0 0 10px; height:29px; background:url(../images/bgimgs.png) 0 0 no-repeat #000; margin:0 auto;}
#menu ul li{
	 display:block; float:right; width:55px; border-right:solid #f4c714 1px;text-align:center; line-height:12px;
}
#menu ul li a{
	display:block;
	height:21px;
	width:60px;
	line-height:21px;
	color:#FFF;
	text-align:center;
	color:c5c5c5;
	background-image: url(../images/bgimgs.png);
	background-repeat: no-repeat;
	background-position: 0 -40px;
}
#menu ul li a:hover{background:url(../images/bgimgs.png) -120px -40px no-repeat; color:#000;}

#bodys{ width:960px; padding:10px 0 10px 0; background-color:#FFF; float:left; clear:both; overflow:hidden; }
#bodys .left{ width:188px; float:left; clear:both; overflow:hidden;}
#bodys .left .user{ width:163px; margin:10px 0 0 15px; margin:0 0 0 25px;}
#bodys .left .user img{  margin-bottom:10px;} 
#bodys .left .user a:hover{color:red;}
#bodys .left .user p{ line-height:18px; color:#333;}

#bodys .left .sell_msg{ width:188px; float:left; clear:both; overflow:hidden; margin:10px 0; color:#333;}
#bodys .left .sell_msg .biaoti{width:168px; display:block; height:28px; padding:0 0 0 19px; line-height:28px; vertical-align:middle; color:#333; background-color:#FFF; border-left:solid #3d3d3d 1px;}
#bodys .left .sell_msg .biaoti a{margin-left:90px; color:#909090;}
#bodys .left .sell_msg .googimg{ width:170px; padding:10px 0 0 18px; float:left; font-size:15px; }



#bodys .right{width:730px; float:left; padding:25px 30px 10px 10px; background:url(../images/bgimgs.png) -939px 0 repeat-y; background-positionX:left; background-positionY:top; }
#bodys .right .select{
	width:710px;
	border:solid #c6c6c6 1px;
	background-color:#C7C7C7;
	color:#687182;
	line-height:24px;
	float:left;
	font-size: 14px;
	height: 330px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 9px;
	padding-bottom: 10px;
	padding-left: 30px;
}
#bodys .right .select .span{
	height: 30px;
	margin: 2px;
}

#bodys .right .select .keywords{
	width:150px;
	padding: 10px;
	margin-left: 180px;
	margin-top: 80px;
	height: 30px;
}
.summit {
	left: 500px;
	top: 350px;
}

#bodys .right .select input.time{width:94px;}
#bodys .right .select a{color:#687182; margin-left:18px;}

#bodys .right .page{ margin:0 0 15px 10px;width:800px; text-align:center; float:left;}
#bodys .right .page li{ display:block; line-height:24px; float:left;height:18px; margin:0 6px 0 0;}
#bodys .right .page li a{ display:block; float:left;color:#FFF; text-align:center;  width:17px; height:18px; background-color:#646464; line-height:23px;}
#bodys .right .page li a.before{ height:18px; width:48px; background:url(../images/bgimgs.png) -480px -40px no-repeat #2c2a2b; color:#818181; padding-left:12px; } 
#bodys .right .page li a.next{  width:48px; background:url(../images/bgimgs.png) -540px -40px no-repeat #2c2a2b; color:#818181; padding-right:12px;}
#bodys .right .page li a:hover{ background-color:#f60;}
#bodys .right .page span{ margin:0 7px;} 
#bodys .right .page input.pages{width:21px;}
#bodys .right .page .gos{float:left; margin:0; padding:0; height:18px;}
#bodys .right .page .gos  a.go{color:#818181;   display:block; width:24px; height:18px; line-height:18px; float:right;background-color:#2c2a2b;}

#bodys .right .img_list{width:750px; float:left; overflow:hidden;}
#bodys .right .img_list ol{float:left;width:750px; padding:0; margin:0 0 6px 0; }
#bodys .right .img_list ol li{display:block; float:left;width:180px; margin:4px 3px; padding:0; }
#bodys .right .img_list ol li .p_lei{ float:left; width:178px; height:20px; line-height:24px;color:0f0f11;}
#bodys .right .img_list ol li .p_lei span{ margin:0 5px;}
#bodys .right .img_list ol li .p_lei a{color:#0f0f11;}
#bodys .right .img_list ol li .imgmsg{width:160px; height:245px; border:solid #c6c6c6 1px; margin:0; padding:5px 9px; float:left; position:relative;overflow:hidden;;zoom:1;}
#bodys .right .img_list ol li .imgmsg .p_imgbiaoti{ text-align:center; line-height:20px; padding:0; margin:0;}
#bodys .right .img_list ol li .imgmsg img{ float:left; padding:0; margin:3px 0 0 0; width:160px; }
#cenner #menu ul .firstpage {
	color: #FF0;
}
#cenner #menu ul li a span {
	color: #FF0;
}

#bodys .right .img_list ol li .imgmsg img.small{ width:106px; margin:3px 27px 0 27px;}
#bodys .right .img_list ol li .imgmsg .p_note{ display:block; width:150px; height:18px; line-height:18px; float:left; margin: 0 0 0 10px; position:absolute; left:0; bottom:25px; }
#bodys .right .img_list ol li .imgmsg .p_note span{ margin-left:35px;}
#bodys .right .img_list ol li .imgmsg .p_tag{
	display:block;
	width:135px;
	float:left;
	padding:0 0 0 14px;
	line-height:14px;
	position:absolute;
	left:-5px;
	bottom:9px;
}
#bodys .right .img_list ol li .imgmsg .p_tag a{ display:block; width:15px; height:15px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.num{ background:url(../images/bgimgs.png) -360px -40px no-repeat; position:absolute; bottom:1px ; left:10px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.qiu_red{ background:url(../images/bgimgs.png) -380px -40px no-repeat; position:absolute; bottom:1px ; left:108px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.load{ background:url(../images/bgimgs.png) -420px -40px no-repeat; position:absolute; bottom:1px ; left:128px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.sele{ background:url(../images/bgimgs.png) -440px -40px no-repeat; position:absolute; bottom:1px ; left:148px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.rsele{ background:url(../images/bgimgs.png) -460px -40px no-repeat; position:absolute; bottom:1px ; left:148px;}

#foot{ width:100%; color:#7f7f7f; line-height:37px; text-align:center; float:left; margin:0 auto;}
#foot .top{ width:100%; height:38px; background:url(../images/footbg1.jpg) center top repeat-y #000; line-height:38px;}
#foot .top a{ margin:0 8px;color:#7f7f7f;} 
#foot .mid{ width:100%; height:45px;background:url(../images/footbg2.jpg) center top repeat-y #000; line-height:45px;}
