@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0; background: url(../../Public/images/Photoer/bgimg.jpg) center top repeat-y #000; font-size:12px; font-family:Helvetica, Arial,'宋体', sans-serif;
/* overflow:hidden;*/}
div,ul,ol ,li,p{ padding:0; margin:0;}
ul,ol,li{ list-style:none;}
img{border:none; margin:0;}
a{ text-decoration:none;}
a:hover{ cursor:hand; color:#f4cb01;}

#cenner{ width:960px; margin:0 auto;}
#banner{ width:960px;}#banner img{ width:960px;}
#menu{ width:960px; background:#000; padding:21px 0;}
#menu ul{ display:block; width:926px; padding:5px 0 0 10px; height:29px; background:url(../../Public/images/Photoer/bgimgs.png) 0 0 no-repeat #000; margin:0 auto;}
#menu ul li{
	display:block;
	height:21px;
	float:left;
	margin:0 5px;
	line-height:34px;
}
#menu ul li a{
	display:block;
	height:21px;
	width:60px;
	line-height:21px;
	color:#FFF;
	text-align:center;
	color:c5c5c5;
	background-image: url(../../Public/images/Photoer/bgimgs.png);
	background-repeat: no-repeat;
	background-position: 0 -40px;
}
#menu ul li a:visited{background:url(../../Public/images/Photoer/bgimgs.png) -60px -40px no-repeat; color:#f4cb01;}
#menu ul li a:hover{background:url(../../Public/images/Photoer/bgimgs.png) -120px -40px no-repeat; color:#000;}
#menu ul li .a_s{ background:url(../../Public/images/Photoer/bgimgs.png) -180px -40px no-repeat;display:block; height:21px; width:72px;}
#menu ul li .a_s:hover,#menu ul li .a_s:visited{background:url(../../Public/images/Photoer/bgimgs.png) -252px -40px no-repeat; color:#000;}
#menu ul li .a_back{ margin-left:125px;}

#bodys{ width:960px; padding:10px 0 10px 0; background-color:#FFF; float:left; clear:both; overflow:hidden; }
#bodys .left{ width:188px; float:left; clear:both; overflow:hidden;}
#bodys .left .user{ width:163px; margin:10px 0 0 15px; margin:0 0 0 25px;}
#bodys .left .user img{ width:145px; height:145px; margin-bottom:22px;} 
#bodys .left .user a{ color:#333;}
#bodys .left .user a:hover{color:#f4cb01;}
#bodys .left .user p{ line-height:18px; color:#333;}

#bodys .left .sell_msg{ width:188px; float:left; clear:both; overflow:hidden; margin:10px 0; color:#333;}
#bodys .left .sell_msg .biaoti{width:168px; display:block; height:28px; padding:0 0 0 19px; line-height:28px; vertical-align:middle; color:#d4d4d4; background-color:#212121; border-left:solid #3d3d3d 1px;}
#bodys .left .sell_msg .biaoti a{margin-left:90px; color:#909090;}
#bodys .left .sell_msg .googimg{ width:170px; padding:10px 0 0 18px; float:left; clear:both; overflow:hidden;}
#bodys .left .sell_msg .googimg img{ float:left; width:71px; height:53px; margin:0 06px 0 0;}
#bodys .left .sell_msg .googimg p{color:#333; line-height:14px;}
#bodys .left .sell_msg .googimg p .spans{ color:#7c7c7c;}
#bodys .left .sell_msg .loadtimes{ width:188px; float:left; margin:5px 0;}
#bodys .left .sell_msg .loadtimes ul{ list-style:none;  margin:11px 0 0 16px; }
#bodys .left .sell_msg .loadtimes ul li{line-height:21px; padding:0; width:175px;}

#bodys .right{width:750px; float:left; padding:0 12px 10px 10px; background:url(../../Public/images/Photoer/bgimgs.png) -939px 0 repeat-y; background-positionX:left; background-positionY:top; }
#bodys .right .select{ width:730px; padding:0 9px;border:solid #c6c6c6 1px; background-color:#e2e2e2; color:#687182; line-height:24px; float:left; margin:0 0 10px 0;}
#bodys .right .select span{margin:0 7px 0 22px;}
#bodys .right .select input,#bodys .right .page input{ border:solid #767676 1px; height:12px; margin:0 2px -4px 2px;}
#bodys .right .select input.keywords{ width:140px;height:15px}
#bodys .right .select input.time{width:94px;height:15px}
#bodys .right .select a{color:#687182; margin-left:18px;}

#bodys .right .page{ margin:0 0 15px 150px;width:600px; text-align:center; float:left;}
#bodys .right .page li{ display:block; line-height:24px; float:left;height:18px; margin:0 6px 0 0;}
#bodys .right .page li a{ display:block; float:left;color:#FFF; text-align:center;  width:17px; height:18px; background-color:#646464; line-height:18px;}
#bodys .right .page li a.before{ height:18px; width:48px; background:url(../../Public/images/Photoer/bgimgs.png) -480px -40px no-repeat #2c2a2b; color:#818181; padding-left:12px; } 
#bodys .right .page li a.next{  width:48px; background:url(../../Public/images/Photoer/bgimgs.png) -540px -40px no-repeat #2c2a2b; color:#818181; padding-right:12px;}
#bodys .right .page li a:hover{ background-color:#f60;}
#bodys .right .page span{ margin:0 7px;} 
#bodys .right .page input.pages{width:21px;}
#bodys .right .page .gos{float:left; margin:0; padding:0; height:18px;}
#bodys .right .page .gos  a.go{color:#818181;   display:block; width:24px; height:18px; line-height:18px; float:right;background-color:#2c2a2b;}

#bodys .right .img_list{width:750px; float:left; overflow:hidden;}
#bodys .right .img_list ol{float:left;width:750px; padding:0; margin:0 0 6px 0; }
#bodys .right .img_list ol li{display:block; float:left;width:180px; margin:4px 3px; padding:0; }
#bodys .right .img_list ol li .p_lei{ float:left; width:178px; height:20px; line-height:24px;color:0f0f11;}
#bodys .right .img_list ol li .p_lei span{ margin:0 5px;}
#bodys .right .img_list ol li .p_lei a{color:#0f0f11;}
#bodys .right .img_list ol li .imgmsg{width:160px; height:245px; border:solid #c6c6c6 1px; margin:0; padding:5px 9px; float:left; position:relative;overflow:hidden;;zoom:1;}
#bodys .right .img_list ol li .imgmsg .p_imgbiaoti{ text-align:center; line-height:20px; padding:0; margin:0; display:block; overflow:hidden;height:40px}
/*#bodys .right .img_list ol li .imgmsg img{ float:left; padding:0; margin:3px 0 0 0;  max-height:160px; max-width:160px;}*/
#cenner #menu ul .firstpage {
	color: #FF0;
}
#cenner #menu ul li a span {
	color: #FF0;
}

#bodys .right .img_list ol li .imgmsg img.small{ width:106px; margin:3px 27px 0 27px;}
#bodys .right .img_list ol li .imgmsg .p_img { width:160px; height:160px; display:block; text-align:center;clear:both}
#bodys .right .img_list ol li .imgmsg .p_img img{ clear:both; margin:auto ;max-height:160px; max-width:160px;}

#bodys .right .img_list ol li .imgmsg .p_note{ display:block; width:150px; height:18px; line-height:18px; float:left; margin: 0 0 0 10px; position:absolute; left:0; bottom:25px; right:1}
#bodys .right .img_list ol li .imgmsg .p_note span{display:block; float:right; margin-right:-4px}
#bodys .right .img_list ol li .imgmsg .p_tag{display:block;width:135px;float:left;  padding:0 0 0 25px; line-height:14px; position:absolute; left:0; bottom:8px;}
#bodys .right .img_list ol li .imgmsg .p_tag a{ display:block; width:15px; height:15px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.num{ background:url(../../Public/images/Photoer/bgimgs.png) -360px -40px no-repeat; position:absolute; bottom:1px ; left:10px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.qiu_red{ background:url(../../Public/images/Photoer/bgimgs.png) -380px -40px no-repeat; position:absolute; bottom:1px ; left:128px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.qiu_gree{ background:url(../../Public/images/Photoer/bgimgs.png) -440px -40px no-repeat; position:absolute; bottom:1px ; left:128px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.qiu_yellow{ background:url(../../Public/images/Photoer/bgimgs.png) -460px -40px no-repeat; position:absolute; bottom:1px ; left:128px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.qiu_white{ background:url(../../Public/images/Photoer/bgimgs.png) -611px -40px no-repeat; position:absolute; bottom:1px ; left:128px;}
#bodys .right .img_list ol li .imgmsg .p_tag a.sele{ background:url(../../Public/images/Photoer/bgimgs.png) -420px -40px no-repeat; position:absolute; bottom:1px ; left:128px;}

#bodys .right .img_list ol li .imgmsg .p_tag a.load{ background:url(../../Public/images/Photoer/bgimgs.png) -400px -40px no-repeat; position:absolute; bottom:1px ; left:148px;}

#foot{ width:100%; color:#7f7f7f; line-height:37px; text-align:center; float:left; margin:0 auto;}
#foot .top{ width:100%; height:38px; background:url(../../Public/images/Photoer/footbg1.jpg) center top repeat-y #000; line-height:38px;}
#foot .top a{ margin:0 8px;color:#7f7f7f;} 
#foot .mid{ width:100%; height:45px;background:url(../../Public/images/Photoer/footbg2.jpg) center top repeat-y #000; line-height:45px;}
/* <-----------------------  这一部分为 登录和注册 弹框的样式*/
.loads{width:430px; margin:0 auto; z-index:5; position:absolute; top:70px; left:265px;visibility:hidden; }
.loads .top{ width:430px; height:5px; overflow:hidden;background:url(../images/bgimg.png) -60px -5px no-repeat;}
.loads .bottom{ width:430px; height:5px; overflow:hidden;background:url(../images/bgimg.png) -60px -10px no-repeat;}
.loads .mid{ width:400px; padding:0 0 30px 20px;border-left:solid #a4a4a4 5px;border-right:solid #a4a4a4 5px; font-size:14px;background-color:#FFF;}
.loads .mid .biaoti{width:400px; padding:12px 0 0 0; font-size:16px; font-weight:bold; color:#714f05; line-height:22px;  margin-bottom:6px; position:relative; border-bottom:dashed 1px #333;}  /*加入后面两句可定义分割线为1像素的虚线background:url(../imgs/bgimg.png) -1px -299px no-repeat;  background-position:bottom left;*/
.loads .mid .biaoti a{ display:block; width:18px; height:18px; background:url(../images/bgimg.png) -120px -20px no-repeat;position:absolute; top:12px; right:5px;}
.loads .mid p.p1{ color:#000; padding:10px 0;}
.loads .mid .load_input{ width:345px; padding:15px; margin:20px 0 10px 0; background-color:#f3f3f3;}
.loads .mid .load_input input{ width:334px;  border:solid #e0e0e0 1px; height:14px; margin-bottom:8px;  font-size:14px;padding:7px;}
.loads .mid .load_input input:hover{border:solid #e4b720 1px;}
.loads .mid .load_input .summit{ width:50px; height:28px; background:url(../images/bgimg.png) -60px -20px no-repeat; border:none;}
.loads .mid .load_input .summit:hover{border:none;}
.loads .mid .load_input .losePWD{ display:block; float:right;color:#734e07; }
.loads .mid p.p2{ height:30px; background:url(../images/bgimg.png) -931px -1px no-repeat; line-height:30px; padding-left:30px; }
.loads .mid p.p2 a{color:#000;} 
.loads .mid p.p2 a:hover{color:#fdd600;}
.loads .mid .usertype{width:345px; padding:5px 15px; margin:10px 0; background-color:#f3f3f3; font-size:12px; color:#000; line-height:28px;}
.loads .mid .usertype input{ width:125px; height:28px; border:none; margin:20px 10px -5px 0;}
.loads .mid .usertype input.photoers{ background:url(../images/bgimg.png) -140px -20px no-repeat;}
.loads .mid .usertype input.shares{background:url(../images/bgimg.png) -270px -20px no-repeat;}
/*---------------------------------------------------------------------------------------------------------------------------->*/
