<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
			
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('AddvalueQuery/index')}" method="POST">
			
			{:L('account_query')}: <input type="text" style="width:120px;height:18px" name="account" class="input-text" value="{$account}"/>	
			{:L('oper_persion')}: <input type="text" style="width:120px;height:18px" name="oper" class="input-text" value="{$name}"/>
			 
             {:L('start_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="startdate" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})" style="height:17px;" />
			{:L('to_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="enddate" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="height:17px;" /> 
			
			<input type="submit" value="{:L('chaxun')}"  class="button" />
			<input type="reset" value="{:L('reset')}" class="button"  />
			</form>
		</td>
	</tr>
</table>

<form name="myform" action="" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="80" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('ID')}</th>		
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('account')}</th>
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('name')}</th>
			<th width="120" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('oper_persion')}</th>
			<th width="120" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('points')}</th>
			<th width="150" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('addvalue_time')}</th>	
			<th width="150" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('remark')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="addvaluelist" key="k">
      		<tr>
			<td align="left">{$addvaluelist['id']}</td>
      		<td align="left">{$addvaluelist['account']}</td>
			<td align="left">{$addvaluelist['name']}</td>
			<td align="left">{$addvaluelist['oper_persion']}</td>
      		<td align="left">{$addvaluelist['points']}</td>
      		<td align="left">{$addvaluelist['addvalue_time']}</td>
      		<td align="left">{$addvaluelist['remark']}</td>
      		</volist>
      	</tbody>
    </table>
</div>
</form>

<div id="pages" class="page">{$page}</div>



