<include file="Admin:header" />
<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">用户购买管理</strong>
 <img src="../Public/images/heixian.jpg" />
  <table  class="search_table" width="100%">
    <tr>
      <td>
        <form action="{:U('Baobiao/index')}" method="POST">
          
          <strong>用户账号:</strong> <input type="text" name="account" class="input-text" style="width:98px; height:15px;"/>	
          &nbsp;<strong>用户姓名:</strong> <input type="text" name="name" class="input-text"  style="width:80px; height:15px;"/>
          &nbsp;<strong>单位:</strong> <input type="text" name="company" class="input-text"  style="width:100px; height:15px;"/>	
          &nbsp;<strong>省份:</strong> <select name=province size="1" style="width:100px;"></select>
          &nbsp<strong>城市:</strong> <select name=city  style="width:100px;"></select>		
          <BR>
          <strong>日期:</strong> <input type="text" name="start_query" onfocus="MyCalendar.SetDate(this)" style="width:110px;" >-<input type="text" name="end_query" onfocus="MyCalendar.SetDate(this)"  style="width:110px;">
          &nbsp;<strong>图片标题： </strong><input type="text" name="title" style="width:102px;" />
          &nbsp;<strong>图片ID:</strong> <input type="text" name="photoid" style="width:111px;"/>
          &nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
          &nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />
          <SCRIPT language=javascript defer>
				new PCAS("province","city");
			</SCRIPT>
        </form>
      </td>
      
    </tr>
  </table>
    
  <!-- 显示当天下载的信息 -->
  <div style="padding-left:60px;padding-right:60px">
  <table style="border-collapse: collapse;padding-left=50px">
    <thead>
    <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7;padding-left=50px">今日下载</td>
        <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">昨天下载</td>
        <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">一周下载</td>
        <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">月度下载</td>
        <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">年度下载</td>
        <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">支付点数</td>
        <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">剩余点数</td>
        </thead>
      <tbody>
      <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['today_reg_num']}</td>
        <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['yer_reg_num']}</td>
        <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['before7_reg_num']}</td>
        <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['month_reg_num']}</td>
        <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['year_reg_num']}</td>
        <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['total_reg_num']}</td>
        <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['user_reg_num']}</td>
        </tbody>
  </table>
  </div>
    
  <br/>
    
  <form name="myform" action="{:U('Baobiao/index')}" method="post">
  <div class="table-list">
    <table width="100%" cellspacing="0">
      <thead>
        <tr>
          <th width="75" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">购买ID</th>
          
          <th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">
          用户账号</th>	
          <th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">单位名称</th>
          <th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">图片ID</th>
          <th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">图片</th>
          <th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">图片名称</th>
          <th width="250" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">购买时间</th>	
          <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">支付点数</th>
          <th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">下载IP</th>
          <th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">会员类型</th>
          <th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">会员状态</th>
        </tr>
      </thead>
      <tbody>	
      <volist name="mlist" id="downloader" key="k">	
        <tr>
          <td align="center" style="border:1px solid #c6c6c6; ">{$downloader['id']}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['username']}</td>
          <td align="left" style="border:1px solid #c6c6c6; ">{$downloader['work_company']}</td>
          <td align="left" style="border:1px solid #c6c6c6; ">{$downloader['images_id']}</td>
          <td style="border:1px solid #c6c6c6; "><img src="{$downloader['url']}" style="width:70px; height:40px"></td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['email']}</td>
          <td style="border:1px solid #c6c6c6; "><?php
          echo date("Y-m-d",$downloader['buytime']);    
		     ?></td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['buy_values']}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['down_id']}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['role']}</td>
           <td style="border:1px solid #c6c6c6; ">{$downloader['state']}</td>
         
         	
        </tr>	
        </volist>
      </tbody>
    </table>
</div>
<div id="pages" class="page">{$page}</div>