<include file="Admin:header" />
<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">充值记录查询</strong>
 <img src="../Public/images/heixian.jpg" />
 <table  class="search_table" width="100%">
    <tr>
      <td>
        <form action="{:U('Baobiao/supplement')}" method="POST">
          
          <strong>用户账号:</strong> <input type="text" name="account" class="input-text" style="width:120px; height:15px;"/>	
          &nbsp;<strong>单位名称: </strong><input type="text" name="company" class="input-text"  style="width:110px; height:15px;"/>
         
          &nbsp;<strong>操作用户:</strong> <input type="text" name="oper" class="input-text"  style="width:120px; height:15px;"/><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>日期:</strong>    <input  class="Wdate input-text  "  validate=" required:true"   name="start_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})" style="height:17px;" /> - <input  class="Wdate input-text  "  validate=" required:true"   name="end_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="height:17px;"/>
          &nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
          &nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />
        </form>
      </td>
      
    </tr>
  </table>
  <form name="myform" action="{:U('Baobiao/downer_info')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">ID</th>
			<th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">操作名称</th>	
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">用户账号</th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">单位名称</th> 
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">联系人</th>
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">电话</th>
			<th width="250" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">手机</th>	
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">操作用户</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">点数</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">添加时间</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">说明</th>
          
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="downloader" key="k">
      		<tr>
			<td align="center" style="border:1px solid #c6c6c6; ">{$downloader['id']}</td>
      		<td style="border:1px solid #c6c6c6; "><a href="{:U('downloader/edit',array(id=>$downloader['id']))}">{$downloader['account']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['name']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['work_company']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['oper']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['phone']}</td>
      		<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['phone']}</td>   
            <td style="border:1px solid #c6c6c6; ">{$downloader['oper']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['points']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['createtime']}</td>	
             <td style="border:1px solid #c6c6c6; ">{$downloader['remark']}</td>	  		  		
			    		
      		</tr>
      		</volist>
      	</tbody>
    </table>
    </div> 

</form>

<div id="pages" class="page">{$page}</div>
