<include file="Admin:header" />
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>

<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">通讯员发稿统计</strong>
 <img src="../Public/images/heixian.jpg" />

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>
		

<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>

<script type="text/javascript">
	function onselectall()
	{
		var ch=document.getElementById("allcheckbox").checked;
		document.getElementById("check_box").checked=ch;
		selectall('ids[]');
	}
	
	function order(filed)
	{
		var f=document.getElementById("orderfiled").value;
		if(f==filed)
		{
			if(document.getElementById("order").value=="")
				document.getElementById("order").value="desc";
			else
				document.getElementById("order").value="";
		}
		else
		{
			document.getElementById("orderfiled").value=filed;
			document.getElementById("order").value="desc";
		}
		//document.queryfrm.submit();
	}
</script>
		
<form name="queryfrm" action="{:U('Baobiao/txyfg')}" method="POST">
<input type="text" name="orderfiled" id="orderfiled" value="{$vo['filed']}" style="display:none" />
<input type="text" name="order" id="order" value="{$vo['order']}" style="display:none" />
<table  class="search_table" width="100%">
	<tr>
		<td>
			下载时间: 
            <input  class="Wdate input-text"  validate=" required:true"   name="start_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			- <input  class="Wdate input-text"  validate=" required:true"   name="end_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			
			&nbsp;&nbsp;&nbsp;
            <input type="submit" value="查询"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;
            <input type="reset" value="重置" class="button" style="width:60px" />
		</td>
	</tr>
</table>
</form>


<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('id')"><u>ID</u></a>
            </th>
			<th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('title')"><u>记者姓名</u></a></th>
            
            <th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('up_account')"><u>下载用户名</u></a></th>
            	
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            图片ID</th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            图片</th>
            
            <th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('up_time')"><u>下载时间</u></a></th>
            <th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            版面</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="photoer" key="k">
      		<tr>
      		<td align="center" style="border:1px solid #c6c6c6; ">
            <input type="checkbox" name="ids[]" value="{$photoer['id']}" /></td>
			<td align="center" style="border:1px solid #c6c6c6; ">{$photoer['id']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$photoer['realname']}</td>
            <td style="border:1px solid #c6c6c6; ">{$photoer['username']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$photoer['images_id']}</td>
			<td align="center" style="border:1px solid #c6c6c6; ">
			<img src="{$photoer['url']}" style="max_width:100px;height:50px;" /></a>
			</td>
      		<td style="border:1px solid #c6c6c6; ">
             <?php echo date('Y-m-d H:i:s',$photoer['buytime']); ?></td> 	
             <td style="border:1px solid #c6c6c6; "></td> 		
      		</tr>
      		</volist>
      	</tbody>
    </table>
</div>

<div id="pages" class="page">{$page}</div>



