<include file="Admin:header" />
<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">下载用户资料管理</strong>
 <img src="../Public/images/heixian.jpg" />
 <table  class="search_table" width="100%">
    <tr>
      <td>
        <form action="{:U('Baobiao/downer_info')}" method="POST">
          
          <strong>用户账号:</strong> <input type="text" name="account" class="input-text" style="width:120px; height:15px;"/>	
          &nbsp;<strong>用户姓名: </strong><input type="text" name="name" class="input-text"  style="width:110px; height:15px;"/>
          &nbsp;<strong>邮箱:</strong> <input type="text" name="email" class="input-text"  style="width:110px; height:15px;"/>	
          &nbsp;<strong>手机:</strong> <input type="text" name="phone" class="input-text"  style="width:110px; height:15px;"/><br />
          &nbsp;<strong>单位:</strong> <input type="text" name="company" class="input-text"  style="width:120px; height:15px;"/>
          
          &nbsp;<strong>省份:</strong> <select name=province size="1" style="width:100px;"></select>
          &nbsp<strong>城市:</strong> <select name=city  style="width:100px;"></select>		
          &nbsp<strong>状态:</strong> <select name='state'>
			<option>正常</option>
			<option>未激活</option>
			<option>锁定</option>
			</select>
          &nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
          &nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />
          <SCRIPT language=javascript defer>
				new PCAS("province","city");
			</SCRIPT>
        </form>
      </td>
      
    </tr>
  </table>
  <form name="myform" action="{:U('Baobiao/correctstate')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">用户ID</th>
			<th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">城市名称</th>	
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">单位</th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">真实姓名</th> 
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">手机</th>
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">电话</th>
			<th width="250" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">会员邮箱</th>	
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">用户类型</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">折扣</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">下载信息</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">剩余点数</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">注册日期</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">状态</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="downloader" key="k">
      		<tr>
      		<td align="center" style="border:1px solid #c6c6c6; "><input type="checkbox" name="ids[]" value="{$downloader['id']}" /></td>
			<td align="center" style="border:1px solid #c6c6c6; ">{$downloader['id']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['city']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['work_company']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['name']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['phone']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['phone']}</td>
      		<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['email']}</td> 
            <td align="left" style="border:1px solid #c6c6c6; ">{$downloader['role']}</td>     		
            <td align="left" style="border:1px solid #c6c6c6; ">#</td>     		
            <td align="left" style="border:1px solid #c6c6c6; ">#</td>     		
            <td align="left" style="border:1px solid #c6c6c6; ">{$downloader['user_values']}</td>     
             <td align="left" style="border:1px solid #c6c6c6; "><?php
             echo  date("Y-m-d",$downloader['createtime']);     
             ?></td>   
              <td align="left" style="border:1px solid #c6c6c6; ">
              <?php
              if($downloader['state']==0)
              	echo "正常";
              else if ($downloader['state']==1)
            	  echo "未激活";
             else
             	echo "锁定";     
             ?></td>   		 		
      		</tr>
      		</volist>
      	</tbody>
    </table>
 
    <input type="checkbox" name="quanxuan" id="check_box"  onclick="selectall('ids[]');" /> 全选</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" class="button" name="0submit" value="激活所有"/>
    <input type="submit" class="button" name="1submit" value="锁定所有"/>
    <input type="submit" class="button" name="2submit" value="封杀所有"/>
    </div> 

</form>

<div id="pages" class="page">{$page}</div>
