﻿<include file="Admin:header" />

<script>
$('#nav ul a ').removeClass('on');
<if condition="!empty($_GET['type'])">
$('#nav ul a ').eq(3).addClass('on');
</if>
<if condition="$action_name=='add' && empty($_GET['type'])">
$('#nav ul a ').eq(1).addClass('on');
</if>
</script>

<form name="myform"  id="myform"  action="<if condition="$action_name=='add'">{:U('Category/insert')}<else />{:U('Category/update')}</if>" method="post">

<table cellpadding=0 cellspacing=0 class="table_form"width="100%">
     

      	<tr>
		<td>{:L('catname')}</td>
		<td><input type="text" name="catname" class="input-text  required" value="{$vo['catname']}"  minlength="3"  maxlength="30"  title="{:L('error_catname_is_empty')}"/></td>
		</tr>

      	<!--<tr>
		<td>{:L('ismenu')}</td>
		<td>{:Form::radio(array('field'=>'ismenu','options'=>array('1'=>L('yes'),'0'=>L('no'))),$vo['ismenu'])}</td>
		</tr>

		<tr>
		<td>{:L('cat_link_url')}</td>
		<td><input type="text" name="url" class="input-text" value="<if condition="$vo['type']==1">{$vo['url']}</if>" size='50'  /></td>
		</tr>-->
</table>

		<div class="btn">
		<if condition="$vo['id']!=''"><input TYPE="hidden" name="id" value="{$vo.id}"></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>

</form></div>
