<include file="Admin:header" />

     
<form id="myform" action="{:U('Downloader/Update')}" ENCTYPE="multipart/form-data" method="POST">
<table cellpadding=1 cellspacing=1 class="table_form" width="100%">
    <tr>
	<td>{:L('member_head_image')}:</td><td><img align="left" src="http://localhost/Uploads/headimage/{$vo['head_image_path']}" border="0" id="simg" style="width:100px;height:80px" />
	<input align="bottom" type="file" id="file" name="head_image_file"  onchange="onSelectFile()"/>
    <script language="javascript">
		function onSelectFile()
		{
			document.execCommand("BackgroundImageCache", false, true);
			document.getElementById("simg").src=document.getElementById("file").value;
			//alert(document.getElementById("file").value);
		}
	</script>

	<tr bgcolor="#EEEEFF" style="height:10px"><td width="120">{:L('ID')}:</td><td>{$vo['id']}</td>
    <td width="120">{:L('member_reg_time')}:</td><td>{$vo['createtime']}</td>
    <input type="text" name="head_image_path" value="{$vo['account']}.jpg" style="display:none" />
    </tr>
	<tr bgcolor="#EEEEDD" style="height:10px">
	<td width="120">{:L('account_query')}:</td>
	<td>{$vo['account']}</td>
	<td widht="120">{:L('name_query')}:</td>
	<td><input style="width:150px;height:18px;font-size:13px" type="text" class="input_text" name="name" value={$vo['name']}></td>
	</tr>
	<tr bgcolor="#EEEEFF">
	<td widht="120">{:L('member_pwd')}:</td>
	<td><input style="width:150px;height:18px;font-size:13px" type="password" class="input_text" name="password" value={$vo['password']}></td>
	<td width="120">{:L('post_code')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="post_code" name="post_code" value={$vo['post_code']}></td>
	</tr>
	
	<tr bgcolor="#EEEEDD">
	<td width="120">{:L('member_sex')}:</td>

	<td><select name="sex">
	   <option  value={:L('sex_man')} <eq name="vo['sex']" value="{:L('sex_man')}">selected="selected"</eq>>{:L('sex_man')}</option>
	   <option  value={:L('sex_woman')} <eq name="vo['sex']" value="{:L('sex_woman')}">selected="selected"</eq>>{:L('sex_woman')}</option>
	</select></td>

    <td width="120">{:L('phone_query')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="phone" value={$vo['phone']}></td>
	</tr>
	<tr bgcolor="#EEEEFF">
		<td width="120">{:L('email_query')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="email" value={$vo['email']}></td>
		<td width="120">{:L('member_link_addr')}:</td><td><input style="width:200px;height:18px;font-size:13px" type="text" name="link_addr" value={$vo['link_addr']}></td>
    </tr>
	<tr bgcolor="#EEEEDD">
		<td width="120">{:L('member_company_name')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="company_name" value={$vo['company_name']}></td>  
	</tr>
</table>
<center>
<input type="hidden" name="id" value="{$vo['id']}">
{__TOKEN__}
<input type="submit" style="width:80px;height:25px" value="{:L('dosave')}"   class="button">
<input type="button" style="width:80px;height:25px" value="{:L('doreturn')}" class="button">
</center>

</form>