<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
			
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Downloader/index')}" method="POST">
			
			{:L('account_query')}: <input type="text" name="account" class="input-text" value="{$account}"/>	
			&nbsp;&nbsp;&nbsp;{:L('name_query')}: <input type="text" name="name" class="input-text" value="{$name}"/>
			&nbsp;&nbsp;&nbsp;{:L('email_query')}: <input type="text" name="email" class="input-text" value="{$email}"/>
			<BR> 
			{:L('phone_query')}: <input type="text" name="phone" class="input-text" value="{$phone}"/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{:L('province_query')}: <select name=province size="1"></select>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{:L('city_query')}: <select name=city></select>
			
			<BR>
			{:L('start_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="start_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})" style="height:17px;" />
			{:L('to_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="end_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="height:17px;"/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp{:L('state_query')}:&nbsp <select name='state'>
			<option>{:L('member_state_all')}</option>
			<option>{:L('member_state_normal')}</option>
			<option>{:L('member_state_wait_check')}</option>
			<option>{:L('member_state_lock')}</option>
			<option>{:L('member_state_del')}</option>
			</select>
			

			&nbsp;&nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />
			
			<SCRIPT language=javascript defer>
				new PCAS("province","city");
			</SCRIPT>
			</form>
		</td>
		
	</tr>
</table>

<!-- 显示摄影师当天的信息 -->
<div style="padding-left:60px;padding-right:60px">
<table style="border-collapse: collapse;padding-left=50px">
	<thead>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7;padding-left=50px">{:L('p_today_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_yes_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_before_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_before7_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_month_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_total_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_total_active_num')}</td>
	</thead>
	<tbody>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['today_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['yer_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['before_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['before7_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['month_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['total_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['total_active_num']}</td>
	</tbody>
</table>
</div>

<br/>

<form name="myform" action="{:U('Downloader/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">ID</th>
			<th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('account_query')}</th>	
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('name_query')}</th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('city_query')}</th>
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('email_query')}</th>
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('phone_query')}</th>
			<th width="250" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('create_time_member')}</th>	
            <th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">点数</th>
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('status')}</th>
			<th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">{:L('oper')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="downloader" key="k">
      		<tr>
      		<td align="center" style="border:1px solid #c6c6c6; "><input type="checkbox" name="ids[]" value="{$downloader['id']}" /></td>
			<td align="center" style="border:1px solid #c6c6c6; ">{$downloader['id']}</td>
      		<td style="border:1px solid #c6c6c6; "><a href="{:U('downloader/edit',array(id=>$downloader['id']))}">{$downloader['account']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['name']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['city']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['email']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['phone']}</td>
      		<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['createtime']}</td>
            <td align="left" style="border:1px solid #c6c6c6; ">{$downloader['user_values']}</td>     		
			 <td style="border:1px solid #c6c6c6; ">
            <?php
            if($downloader['state']==0)
            	echo "正常";
             elseif($downloader['state']==1)
             	echo "未激活";  
             elseif($downloader['state']==2)
            	echo "锁定"; 
               else
            	echo "已删除";    
		     ?></td>
			<td align="left" style="border:1px solid #c6c6c6; "><a href="{:U('downloader/addvalue',array(id=>$downloader['id']))}">添加点数</td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <input type="submit" class="button" name="deletesubmit" value="<?php echo L('delete')?>" />
    <input type="submit" class="button" name="0submit" value="<?php echo L('account_active'); ?>" />
    <input type="submit" class="button" name="2submit" value="<?php echo L('account_lock'); ?>" />
</div>
</form>

<div id="pages" class="page">{$page}</div>



