<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">热门项目组管理</strong>
 <img src="../Public/images/heixian.jpg" />
 <form action="{:U('Hotphotogroup/save')}"  method="post">
<input type="text" name="id"  value="{$vo['id']}" style=" display:none;"/>
<table  class="search_table" width="100%">
    <tr><td style="width:150px">相片推荐位置名称:</td><td>{$vo['place']}</td>	</tr>
     <tr><td style="widht:150px">相片标题: </td><td>{$vo['picturename']}</td></tr>     
          <tr><td style="widht:150px">位置:</td><td><input type="text" name="number" class="input-text"  style=" height:20px;" value="{$vo['number']}"/></td></tr>
          <tr><td style="widht:150px">开始时间:</td><td><input  class="Wdate input-text  "  validate=" required:true"   name="begintime" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="width:150px; height:20px" value="{$vo['begintime']}"/>
          
          </td></tr>
          <tr><td style="widht:150px">结束时间:</td><td><input  class="Wdate input-text  "  validate=" required:true"   name="endtime" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="width:150px; height:20px" value="{$vo['endtime']}"/></td></tr>
          <tr><td style="widht:150px">图片:</td><td> <img src="{$vo['url']}" style=" width:200px; height:130px" /></td></tr>
  </table>
   <input type="submit" style="width:80px;height:25px" value="{:L('dosave')}">
   <input type="button" style="width:80px;height:25px" value="返回" onclick="document.location.href='{:U(Hotphotogroup/index)}'"  />
    </form>
    