<include file="Admin:header" />

<div id="nav" class="mainnav_title"><div id="lang"></div><ul><a href="/index.php?g=Admin&m=Keyword&a=index">关键字管理</a>|
	<a href="/index.php?g=Admin&m=Keyword&a=type">关键字类别管理</a>|</ul>
</div>

<script type="text/javascript">
	function onAddType()
	{
		
		
	}
</script>



<form action="{:U('keyword/index')}" method="POST">
	<table >
    	<tr>
    	<td>关键词类别:</td>
    	<td><select name="type">
        	<option>全部</option>
        	<volist name="tlist" id="t">
            	<option>{$t['name']}</option>
        	</volist>
        </select></td>
        <td><input type="submit" value="查询" /></td>
       
        </tr>
    </table>
</form >

<div >
<form >
	<table style="border-collapse: collapse;">
    	<thead>
			<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7;padding-left=50px">
            <input type="checkbox" name="check_box" id="check_box" />
            </td>
			<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">ID</td>
			<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">类别</td>
            <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">关键词</td>
            <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">操作</td>
        </thead>
        <tbody>
        	<volist name="klist" id="t">
        		<tr>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                <input type="checkbox" name="ids[]" value="{$t['id']}" /></td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                {$t['id']}
              	</td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                {$t['type_name']}
              	</td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                {$t['name']}
                </td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                <a href="?g=admin&m=keyword&a=delkey&id={$t['id']}">
                <u><b>删除</b></u>
                </a>
                </td>
                </tr>
        	</volist>
        </tbody>
	</table>
</form>