<include file="Admin:header" />

<div id="nav" class="mainnav_title"><div id="lang"></div><ul><a href="/index.php?g=Admin&m=Keyword&a=index">关键字管理</a>|
	<a href="/index.php?g=Admin&m=Keyword&a=type">关键字类别管理</a>|</ul>
</div>

<script type="text/javascript">
	function addtype()
	{
		document.location.href="?g=admin&m=keyword&a=addtype";
	}
</script>

<form action="{:U('keyword/type')}" method="POST">
	<table >
    	<tr>
        <td><input type="button" value="添加类型" onClick="addtype()" /></td>
        </tr>
    </table>
</form >

<div >
<form >
	<table style="border-collapse: collapse;">
    	<thead>
			<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7;padding-left=50px">
            <input type="checkbox" name="check_box" id="check_box" />
            </td>
			<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">ID</td>
            <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">父类别</td>
			<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">类别</td>
            <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">操作</td>
        </thead>
        <tbody>
        	<volist name="tlist" id="t">
        		<tr>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                <input type="checkbox" name="ids[]" value="{$t['id']}" /></td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                {$t['id']}
              	</td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                {$t['parent_name']}
              	</td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">
                {$t['name']}
              	</td>
                <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">  
                <a href="?g=admin&m=keyword&a=addkey&id={$t['id']}&name={$t['name']}">
                <u><b>添加关键字</b></u></a>|
                <a href="?g=admin&m=keyword&a=addtype&id={$t['id']}"><u><b>添加子类</b></u></a>|
                <a href="?m=keyword&a=del&id={$t['id']}"><u><b>删除</b></u></a>
                </td>
                </tr>
        	</volist>
        </tbody>
	</table>
</form>