<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>
<script type="text/javascript">
  function oncheckchange()
  {
	  for(i=1;i<100;i++)
	  {
		  var sid="listcheck"+i;
		  
		  if( document.getElementById("allcheck").checked==true )
		  	document.getElementById(sid).checked=true;
		  else
		  	document.getElementById(sid).checked=false;
	  }
  }
  function oncheckchangeup()
  {
	 for(i=1;i<100;i++)
	  {
		  var sid="listcheck"+i;
		  
		  if( document.getElementById("check_box").checked==true )
		  	document.getElementById(sid).checked=true;
		  else
		  	document.getElementById(sid).checked=false;
	  }
  }

	function onSelectFile()
	{
		document.execCommand("BackgroundImageCache", false, true);
		document.getElementById("simg").src=document.getElementById("file").value;
		//alert(document.getElementById("file").value);
	}
</script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">添加修改广告图片</strong>
 <img src="../Public/images/heixian.jpg"/>
 <form action="{:U('Mainpicture/save')}"  method="POST" ENCTYPE="multipart/form-data">
	<input type="text" name="id"  value="{$vo['id']}" style=" display:none;"/>
	<table  class="search_table" width="100%">
	<tr><td style="width:150px">图片:</td>
    	<td>
        <img align="left" src="{$vo['imgurl']}" border="0" id="simg" style="width:200px;height:160px" /></td></tr>
		<tr><td style="width:150px"></td><td><input align="bottom" type="file"  id="file" name="file" onchange="onSelectFile()"/></td></tr>
				    
    	<tr><td style="width:150px">文字说明:</td><td><input type="text" name="remark" class="input-text"  style=" height:20px;" value="{$vo['remark']}"/></td>	</tr>
     <tr><td style="widht:150px">链接地址: </td><td><input type="text" name="url" class="input-text"  style=" height:20px;" value="{$vo['url']}"/></td></tr>     
          <tr><td style="widht:150px">显示位置:</td><td><input type="text" name="number" class="input-text"  style=" height:20px;" value="{$vo['number']}"/></td></tr>
          <tr><td style="widht:150px">开始时间:</td><td><input  class="Wdate input-text  "  validate=" required:true"   name="begintime" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="width:150px; height:20px" value="{$vo['begintime']}"/>
          
          </td></tr>
          <tr><td style="widht:150px">结束时间:</td><td><input  class="Wdate input-text  "  validate=" required:true"   name="endtime" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="width:150px; height:20px" value="{$vo['endtime']}"/></td></tr>
  </table>
   <input type="submit" style="width:80px;height:25px" value="{:L('dosave')}">
   <input type="button" style="width:80px;height:25px" value="返回" onclick="document.location.href='{:U(Hotphotogroup/index)}'"  />
    </form>
    