<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={:C('DEFAULT_CHARSET')}" />
<title></title>
<load href="./Public/Js/jquery.min.js"/>
<link rel='stylesheet' type='text/css' href='./Public/Css/style.css'>
<style>
html{overflow-x : hidden;}
</style>
<base target="main" />
</head>
<body id="menu_bg">

<table  class="left_menu" cellpadding=0 cellspacing=0 >
<tr>
	<td>&nbsp;&nbsp;<img SRC="./Public/Images/admin_left_menu.gif"  BORDER="0" ALT="" align="absmiddle">&nbsp;<b><empty name="pname">{:L('admin_index')}</empty>{$pname.name}</b></td>
</tr>

<iterate id="item" name="menu" >
<tr>
	<td onclick="seton({$i});">
	<span onclick="javascript:gourl('{:U($item['model'].'/'.$item['action'],$item['data'])}')"><a href="{:U($item['model'].'/'.$item['action'],$item['data'])}" id="{$i}">{$item['name']}</a><if condition="$pname['model']=='Category'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U($item['model'].'/add',$item['data'])}" id="{$i}">{%add}</a></if></span></td>
</tr>
</iterate>

</table>

<script language="JavaScript">
<!--
if(self==top){
	window.top.location.href = '{:U("Login/index")}';
}
function seton(n) {
	var lis = document.getElementsByTagName('td');
	for(var i = 0; i < lis.length; i++) {
		lis[i].className = '';
	}
	lis[n].className = 'on';
}
seton(1);
function gourl(url){
parent.main.location.href=url;
}
//-->
</script>
</body>
</html>