<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
			
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Member/index')}" method="POST">
			
			{:L('account_query')}: <input type="text" name="account" class="input-text" value="{$account}"/>	
			   {:L('name_query')}: <input type="text" name="name" class="input-text" value="{$name}"/>
			   {:L('email_query')}: <input type="text" name="email" class="input-text" value="{$email}"/>
			<BR> 
			{:L('phone_query')}: <input type="text" name="phone" class="input-text" value="{$phone}"/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{:L('province_query')}: <select name=province size="1"></select>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{:L('city_query')}: <select name=city></select>
			
			<BR>
			{:L('start_query')}: <input type="text" name="start_query" onfocus="MyCalendar.SetDate(this)" >
			{:L('to_query')}: <input type="text" name="end_query" onfocus="MyCalendar.SetDate(this)" >
			
			<input type="submit" value="{:L('chaxun')}"  class="button" />
			<input type="reset" value="{:L('reset')}" class="button"  />
			
			<SCRIPT language=javascript defer>
				new PCAS("province","city");
			</SCRIPT>

			</form>
		</td>
		
	</tr>
</table>

<form name="myform" action="{:U('Member/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40">ID</th>
			<th width="180" align="left">{:L('account_query')}</th>	
			<th width="110" align="left">{:L('name_query')}</th>
			<th width="110" align="left">{:L('city_query')}</th>
			<th width="120" align="left">{:L('email_query')}</th>
			<th width="120" align="left">{:L('phone_query')}</th>
			<th width="250" align="left">{:L('create_time_member')}</th>	
			<th width="90" align="left">{:L('status')}</th>
			<th width="150" align="left">{:L('oper')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="member" key="k">
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$member['id']}" /></td>
			<td align="center">{$member['id']}</td>
      		<td>{$member['account']}</td>
			<td align="left">{$member['name']}</td>
			<td align="left">{$member['city']}</td>
      		<td>{$member['email']}</td>
      		<td>{$member['phone']}</td>
      		<td align="left">{$member['createtime']}</td>     		
			<td align="left"> <eq name="member['status']" value="1">
      		{:L('enable')}
      		<else />
      		{:L('disable')}
      		</eq>
      		</td>
			<td align="left"><a href="{:U('member/edit',array(id=>$member['id']))}">{:L('edit')}</a> | <a href="javascript:confirm_delete('{:U('Member/delete',array(id=>$member['id']))}')">{:L('delete')}</a></td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div class="btn"><input type="submit" class="button" name="dosubmit" value="<?php echo L('delete')?>" /></div>
</div>
</form>

<div id="pages" class="page">{$page}</div>



