<load href='./Public/Css/seltype.css' />

<tr>
		<td>图组分类:</td>
        <td>
        <div class="c_subNav" ><ul>
        	<li class="li charges">
            	<a href="#nogo" class="option"><span id="stypeone">
                <?php if( strlen($vo['type_one_name'])<=0 ) echo '选择类型'; else echo $vo['type_one_name']; ?>
                </span></a><ul>
                    <?php 
                        $menu=M('column');
                        $mlist=$menu->select();
                        
                        for($i=0;$i<count($mlist);$i++)
                        {
                        	//加载一级菜单
                        	if($mlist[$i]['parentid']==0)
                            {
                            	echo '<li class="li">';
                            	echo '<a href="#nogo" class="option" ';
                            	$menuone=sprintf(" onclick=\"selecttype(1,%s,'%s')\"><span>%s</span></a>",$mlist[$i]['groupid'],$mlist[$i]['name'],$mlist[$i]['name']);
                            	echo $menuone;
                                
								////加载属于这个类别的二级菜单
                                $bIshaveTwo=false;
                                for($j=0;$j<count($mlist);$j++)
                        		{
                                	if( $mlist[$j]['parentid']==$mlist[$i]['groupid'] )
                                    {
                                    	if(false==$bIshaveTwo)
                                        {
                                        	$bIshaveTwo=true;
                                            echo "<ul>";
                                        }
                                    	echo '<li class="li"><a href="#nogo" class="option" ';
                                        $menutwo=sprintf(" onclick=\"selecttype(1,%s,'%s')\"><span>%s</span></a>",
                               								$mlist[$j]['groupid'],$mlist[$j]['name'],$mlist[$j]['name']);
                                        echo $menutwo;
                                        
                                        //加载三级菜单
                                        $bIshaveThree=false;
                                        for($k=0;$k<count($mlist);$k++)
                                        {
                                        	if( $mlist[$k]['parentid']==$mlist[$j]['groupid'] )
                                    		{
                                        	if(false==$bIshaveThree)
                                            {
                                                $bIshaveThree=true;
                                                echo "<ul>";
                                            }
                                        	echo '<li class="li"><a href="#nogo" class="option" ';
                                            $menuthree=sprintf(" onclick=\"selecttype(1,%s,'%s')\"><span>%s</span></a></li>",
                               								$mlist[$k]['groupid'],$mlist[$k]['name'],$mlist[$k]['name']);
                                        	echo $menuthree;
                                            }
                                        }
                                        if($bIshaveThree) echo "</ul>";
                                    }
                                 }
                                if($bIshaveTwo) echo "</ul>";
                                echo '</li>';
                            }
                         }
                   ?>
        </ul></li></div>
        </td>
		<td>添加分类:</td>
        <td>
        <div class="c_subNav"><ul>
        	<li class="li charges">
            	<a href="#nogo" class="option"><span id="stypetwo">
                <?php if( strlen($vo['type_two_name'])<=0 ) echo '选择类型'; else echo $vo['type_two_name']; ?>
                </span></a><ul>
                    <?php 
                        $menu=M('column');
                        $mlist=$menu->select();
                        
                        for($i=0;$i<count($mlist);$i++)
                        {
                        	//加载一级菜单
                        	if($mlist[$i]['parentid']==0)
                            {
                            	echo '<li class="li">';
                            	echo '<a href="#nogo" class="option" ';
                            	$menuone=sprintf(" onclick=\"selecttype(2,%s,'%s')\"><span>%s</span></a>",$mlist[$i]['groupid'],$mlist[$i]['name'],$mlist[$i]['name']);
                            	echo $menuone;
                                
								////加载属于这个类别的二级菜单
                                $bIshaveTwo=false;
                                for($j=0;$j<count($mlist);$j++)
                        		{
                                	if( $mlist[$j]['parentid']==$mlist[$i]['groupid'] )
                                    {
                                    	if(false==$bIshaveTwo)
                                        {
                                        	$bIshaveTwo=true;
                                            echo "<ul>";
                                        }
                                    	echo '<li class="li"><a href="#nogo" class="option" ';
                                        $menutwo=sprintf(" onclick=\"selecttype(2,%s,'%s')\"><span>%s</span></a>",
                               								$mlist[$j]['groupid'],$mlist[$j]['name'],$mlist[$j]['name']);
                                        echo $menutwo;
                                        
                                        //加载三级菜单
                                        $bIshaveThree=false;
                                        for($k=0;$k<count($mlist);$k++)
                                        {
                                        	if( $mlist[$k]['parentid']==$mlist[$j]['groupid'] )
                                    		{
                                        	if(false==$bIshaveThree)
                                            {
                                                $bIshaveThree=true;
                                                echo "<ul>";
                                            }
                                        	echo '<li class="li"><a href="#nogo" class="option" ';
                                            $menuthree=sprintf(" onclick=\"selecttype(2,%s,'%s')\"><span>%s</span></a></li>",
                               								$mlist[$k]['groupid'],$mlist[$k]['name'],$mlist[$k]['name']);
                                        	echo $menuthree;
                                            }
                                        }
                                        if($bIshaveThree) echo "</ul>";
                                    }
                                 }
                                if($bIshaveTwo) echo "</ul>";
                                echo '</li>';
                            }
                         }
                   ?>
        </ul></li></div>
        </td>
		<td>添加分类:</td>
        <td>
        <div class="c_subNav"><ul>
        	<li class="li charges">
            	<a href="#nogo" class="option"><span id="stypethree">
                <?php if( strlen($vo['type_three_name'])<=0 ) echo '选择类型'; else echo $vo['type_three_name']; ?>
                </span></a><ul>
                    <?php 
                        $menu=M('column');
                        $mlist=$menu->select();
                        
                        for($i=0;$i<count($mlist);$i++)
                        {
                        	//加载一级菜单
                        	if($mlist[$i]['parentid']==0)
                            {
                            	echo '<li class="li">';
                            	echo '<a href="#nogo" class="option" ';
                            	$menuone=sprintf(" onclick=\"selecttype(3,%s,'%s')\"><span>%s</span></a>",$mlist[$i]['groupid'],$mlist[$i]['name'],$mlist[$i]['name']);
                            	echo $menuone;
                                
								////加载属于这个类别的二级菜单
                                $bIshaveTwo=false;
                                for($j=0;$j<count($mlist);$j++)
                        		{
                                	if( $mlist[$j]['parentid']==$mlist[$i]['groupid'] )
                                    {
                                    	if(false==$bIshaveTwo)
                                        {
                                        	$bIshaveTwo=true;
                                            echo "<ul>";
                                        }
                                    	echo '<li class="li"><a href="#nogo" class="option" ';
                                        $menutwo=sprintf(" onclick=\"selecttype(3,%s,'%s')\"><span>%s</span></a>",
                               								$mlist[$j]['groupid'],$mlist[$j]['name'],$mlist[$j]['name']);
                                        echo $menutwo;
                                        
                                        //加载三级菜单
                                        $bIshaveThree=false;
                                        for($k=0;$k<count($mlist);$k++)
                                        {
                                        	if( $mlist[$k]['parentid']==$mlist[$j]['groupid'] )
                                    		{
                                        	if(false==$bIshaveThree)
                                            {
                                                $bIshaveThree=true;
                                                echo "<ul>";
                                            }
                                        	echo '<li class="li"><a href="#nogo" class="option" ';
                                            $menuthree=sprintf(" onclick=\"selecttype(3,%s,'%s')\"><span>%s</span></a></li>",
                               								$mlist[$k]['groupid'],$mlist[$k]['name'],$mlist[$k]['name']);
                                        	echo $menuthree;
                                            }
                                        }
                                        if($bIshaveThree) echo "</ul>";
                                    }
                                 }
                                if($bIshaveTwo) echo "</ul>";
                                echo '</li>';
                            }
                         }
                   ?>
        </ul></li></div>
        </td>
		</tr>