<include file="Admin:header" />


<form action="{:U('Phototype/subadd')}" method="POST">
	<input type="text" name="parentid" value="{$vo['groupid']}" style="display:none" />
	<table>
	<tr><td>父类编号:</td><td>{$vo['groupid']}</td></tr>
    <tr><td>父类名称:</td><td>{$vo['name']}</td></tr>
    <tr><td>类型名称:</td>
    <td><input type="text" name="typename" /></td></tr>
	</table>
    <input type="submit" value="提交" />
</form>