<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul><a href="/index.php?g=Admin&m=PhotoerImageGroup&a=query&menuid=86">摄影师图组</a>|
	<a href="/index.php?g=Admin&m=PhotoerImageGroup&a=editgroup&menuid=86">编辑图组</a>|</ul>
	</div>

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<load href='./Public/Css/seltype.css' />

<style >
	.imagetd{width:250px;
				height:250px;
				border:1px solid #666;
	}
	
	.stable{ font-size:16px;
			color:#00C;
	}
	
	.keydiv{ position:absolute;
	border:1px solid #666;;
	left:315px;
	top:120px;
	width:250px;
	display:none;
	background:#99C;
	};

</style>

		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>

<script language="javascript">
	
	function addkey()
	{
		var key=document.getElementById("gkey").value;
		//把关键字添加到选中项里面
		for(i=1;i<100;i++)
		{
			var cid="check"+i;
			if( document.getElementById(cid).checked )
			{
				var imgid="imagespan"+i;
				var iid=document.getElementById(imgid).innerHTML;
				var keyid="imagekey"+iid;
				
				document.getElementById(keyid).innerHTML=key;
			}
		}
		
	}
	
	function addarea()
	{
		var key=document.getElementById("gkey").value;
		
		//country
		var country=document.getElementById("country").value;
		var province;
		var city;
		if(country!="国外")
		{
			country="中国";
			province=document.getElementById("province").value;
			city=document.getElementById("city").value;
		}
		else
		{
			country=document.getElementById("country1").value;
			province=document.getElementById("province1").value;
			city=document.getElementById("city1").value;
		}
	
		//把关键字添加到选中项里面
		for(i=1;i<100;i++)
		{
			var cid="check"+i;
			if( document.getElementById(cid).checked )
			{
				var imgid="imagespan"+i;
				var iid=document.getElementById(imgid).innerHTML;
				var countryid="imgcountry"+iid;
				var provinceid="imgprovince"+iid;
				var cityid="imgcity"+iid;
				
				document.getElementById(countryid).value=country;
				document.getElementById(provinceid).value=province;
				document.getElementById(cityid).value=city;
			}
		}
	}
	
	function changetype()
	{
		//清空面板
		for(i=1;i<=20;i++)
		{
			c="ckey"+i;
			t="tid"+i;
			if(document.getElementById(c)!=null)
				document.getElementById(c).style.display="none";
			if(document.getElementById(t)!=null)
				document.getElementById(t).innerHTML="";
		}

		//查询该类别的关键字
		var type=document.getElementById("keytype").value;
		document.getElementById("keyqueryname").value=type;
		document.getElementById("keyquerysubmit").click();
	}
	
	function showdiv()
	{
		//weizhi
		//var left=document.getElementById("gkey").style.left;
		//var top=document.getElementById("gkey").style.top;
	
		
		//document.getElementById("keydivid").style.left=left;
		//document.getElementById("keydivid").style.top=top+10;
		
		document.getElementById("keydivid").style.display="block";
		
	}
	
	//全选关键字
	function selallkey()
	{
		var key=0;
		var x=0;
		for(i=1;i<100;i++)
		{
			c="ckey"+i;
			t="tid"+i;
			
			var ctrl=document.getElementById(c);
			var ctrl2=document.getElementById(t);
			if(ctrl!=null && ctrl2!=null)
			{
				var kt=document.getElementById(t).innerHTML;
				if(kt!="")
				{
					document.getElementById(c).checked=true;
				
					if(x==0)
						key=document.getElementById(t).innerHTML;
					else
						key=key+","+document.getElementById(t).innerHTML
					x++;
				}
			}
			else
			{
				
				document.getElementById("gkey").value=key;
				break;
			}
		}
	}
	
	function selkey(id)
	{
		var key="";
		var x=0;
		//更新关键字
		for(i=1;i<100;i++)
		{
			c="ckey"+i;
			t="tid"+i;
			if( document.getElementById(c)==null )
			{
				document.getElementById("gkey").value=key;
				break;
			}
			
			if( document.getElementById(c).checked )
			{
				if(x==0)
					key=document.getElementById(t).innerHTML;
				else
					key=key+","+document.getElementById(t).innerHTML;
					
				x++;
			}
		}
	}
	
	function selectall() //全选/全不选
	{
		var bIsSelect=document.getElementById("sall").checked;
		for(i=1;i<20;i++)
		{
			var sid="check"+i;
			document.getElementById(sid).checked=bIsSelect;
		}
	}
	
	//
	function selecttype(seq,id,name)
	{
		if(seq==1)
		{
			document.getElementById("typeoneid").value=id;
			document.getElementById("stypeone").innerHTML=name;
		}
		else if(seq==2)
		{
			document.getElementById("typetwoid").value=id;
			document.getElementById("stypetwo").innerHTML=name;
		}
		else if(seq==3)
		{
			document.getElementById("typethreeid").value=id;
			document.getElementById("stypethree").innerHTML=name;
		}
	}
	
	//移除一张图片
	function removeimg(id)
	{
		document.getElementById("removeid").value=id;
		document.getElementById("removesubmit").click();
	}
	
	//移除所有已选择的图片
	function removeall()
	{
		//找出所有选择的图片
		var cnt=document.getElementById("imagenum").value;
		var ids="";
		for(i=1;i<=parseInt(cnt);i++)
		{
			var sid="check"+i;
			if( document.getElementById(sid).checked )
			{
				sid="imagespan"+i;
				var imageid=document.getElementById(sid).innerHTML;
				ids=ids+imageid+",";
			}
		}
		document.getElementById("removeid").value=ids;
		document.getElementById("removesubmit").click(); //提交复制	
	}
	
	//删除图组
	function delgroup()
	{
		document.getElementById("delgroupsubmit").click();
	}
	
	//保存图组
	function savegroup()
	{
		//保存图组信息
		document.getElementById("subtype").value="0";//0表示保存不提交
		document.getElementById("subgroup").click();
	}
	
	//提交编辑图组
	function submitgroup()
	{
		//提交图组
		document.getElementById("subtype").value="1";//1表示保存且提交
		document.getElementById("subgroup").click();
	}
	
	//设置封面图片
	function onsetface(id)
	{
		document.getElementById("mainfaceid").value=id;
		document.setfacefrm.submit();
	}
	
	$(function(){
	$('#removefrm').ajaxForm({
	success:    completeremove,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#delgroupfrm').ajaxForm({
	success:    completedelgroup,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#groupfrm').ajaxForm({
	success:    completesaveinfo,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#keyfrm').ajaxForm({
	success:    completekey,  // post-submit callback
	dataType: 'json'
	});
	});
	
	function completedelgroup(data){
        if (data.status==1)
        {
			//alert('删除成功');
			document.location="{:U('PhotoerImageGroup/editGroup')}";
        }else{
            alert('删除失败');
        }
	};
	
	function completeremove(data){
        if (data.status==1)
        {
			//alert('删除成功');
			document.location="{:U('PhotoerImageGroup/editGroup')}";
        }else{
            alert('删除失败');
        }
	};
	
	function completekey(data){
		if(data.status==1)
		{
			var n=1;
			for(i=1;i<100;i++)
			{
				if(data.info[i-1].name.length>0)
				{
					c="ckey"+n;
					t="tid"+n;
					document.getElementById(t).innerHTML=data.info[i-1].name;
					document.getElementById(c).style.display="block";
					n=n+1;
				}
			}
		}
		else
		{
			alert('查找关键字失败');
		}
	}
	
	function completesaveinfo(data){
        if (data.status==1)
        {
			//保存组信息成功，保存具体图片信息
			document.mainfrm.submit();
			//alert('保存成功');
			//document.location="{:U('PhotoerImageGroup/editGroup')}";
        }
		else{
			if( data.info.length>0 )
            	alert('保存组信息失败，信息：'+data.info);
			else
				document.mainfrm.submit();
        }
	}
	
</script>

<!--查找关键字-->
<form name="keyfrm" id="keyfrm" action="{:U('PhotoerImageGroup/querykey')}" method="POST">
	<input type="text" id="keyqueryname" name="keyqueryname" style="display:none" />
    <input type="submit" id="keyquerysubmit" style="display:none" />
</form>

<!--选择关键字 -->
<div id="keydivid" class="keydiv" >
	<table>
    <tr><td><input type="checkbox"  id="ckey1" style="display:none" onclick="selkey('ckey1')"/></td>
    <td id="tid1"></td></tr>
	<tr><td><input type="checkbox"  id="ckey2" style="display:none" onclick="selkey('ckey2')"/></td>
    <td id="tid2"></td></tr>
    <tr><td><input type="checkbox" id="ckey3" style="display:none" onclick="selkey('ckey3')"/></td>
    <td id="tid3"></td></tr>
	<tr><td><input type="checkbox" id="ckey4" style="display:none" onclick="selkey('ckey4')"/></td>
    <td id="tid4"></td></tr>
    <tr><td><input type="checkbox" id="ckey5" style="display:none" onclick="selkey('ckey5')"/></td>
    <td id="tid5"></td></tr>
    <tr><td><input type="checkbox" id="ckey6" style="display:none" onclick="selkey('ckey6')"/></td>
    <td id="tid6"></td></tr>
    <tr><td><input type="checkbox" id="ckey7" style="display:none" onclick="selkey('ckey7')"/></td>
    <td id="tid7"></td></tr>
    <tr><td><input type="checkbox" id="ckey8" style="display:none" onclick="selkey('ckey8')"/></td>
    <td id="tid8"></td></tr>
    <tr><td><input type="checkbox" id="ckey9" style="display:none" onclick="selkey('ckey9')"/></td>
    <td id="tid9"></td></tr>
    <tr><td><input type="checkbox" id="ckey10" style="display:none" onclick="selkey('ckey10')"/></td>
    <td id="tid10"></td></tr>
    <tr><td><input type="checkbox" id="ckey11" style="display:none" onclick="selkey('ckey11')"/></td>
    <td id="tid11"></td></tr>
    <tr><td><input type="checkbox" id="ckey12" style="display:none" onclick="selkey('ckey12')"/></td>
    <td id="tid12"></td></tr>
    <tr><td><input type="checkbox" id="ckey13" style="display:none" onclick="selkey('ckey13')"/></td>
    <td id="tid13"></td></tr>
    <tr><td><input type="checkbox" id="ckey14" style="display:none" onclick="selkey('ckey14')"/></td>
    <td id="tid14"></td></tr>
    <tr><td><input type="checkbox" id="ckey15" style="display:none" onclick="selkey('ckey15')"/></td>
    <td id="tid15"></td></tr>
    <tr><td><input type="checkbox" id="ckey16" style="display:none" onclick="selkey('ckey16')"/></td>
    <td id="tid16"></td></tr>
    <tr><td><input type="checkbox" id="ckey17" style="display:none" onclick="selkey('ckey17')"/></td>
    <td id="tid17"></td></tr>
    <tr><td><input type="checkbox" id="ckey18" style="display:none" onclick="selkey('ckey18')"/></td>
    <td id="ckey18"></td></tr>
    <tr><td><input type="checkbox" id="ckey19" style="display:none" onclick="selkey('ckey19')"/></td>
    <td id="tid19"></td></tr>
    <tr><td><input type="checkbox" id="ckey20" style="display:none" onclick="selkey('ckey20')"/></td>
    <td id="tid20"></td></tr>
    </table>
    <input type="button" value="确定" onclick="document.getElementById('keydivid').style.display='none';"/>
</div>
			
<form name="groupfrm" id="groupfrm" action="{:U('PhotoerImageGroup/savegroupinfo')}" method="POST">
	<!--添加三个隐藏的文本框记录选择的类型 -->
    <input name="typeoneid" id="typeoneid" value="{$vo['type_one']}" style="display:none" />
    <input name="typetwoid" id="typetwoid" value="{$vo['type_two']}" style="display:none" />
    <input name="typethreeid" id="typethreeid" value="{$vo['type_three']}" style="display:none" />
    <table>
    	<include file="Admin:menutype" />
        <tr>
		<td>发生时间:</td><td> <input  class="Wdate input-text"  validate=" required:true"   name="gtime" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  /></td>
     	<td colspan="4">
        <table>
        <tr>
		<td>拍摄地区：</td>
		<td>
              <select name="country" id="country" onChange="chgCountry(this)">
					<option value="中国" selected>国内</option>
					<option value="国外">国外</option>
		   	  </select>         
			  <span id="area0">省份：
				城市：<select name=province id="province" class="Adress"></select>
            <select name=city  id="city" class="Adress"></select>
            </span>
            <span id="area1" style="display:none">
            国家：<input type="text" name="country1" id="country1" maxlength="20" length="10" style="width:100px"/>
            州/区：<input type="text" name="province1" id="province1" maxlength="20" length="10" style="width:100px"/>
    城市:<input type="text" name="city1" maxlength="20" id="city1" length="10" style="width:100px"/>
            </span>
		</td>
		<td><input type="button" value="添加" onclick="addarea()" /></td>
		</tr>
        </table>
        </td></tr>
        <tr>
        <td>类别:</td>
        <td>
        <select name="keytype" id="keytype"  onchange="changetype()">
        <option style="display:none">-----请选择类别-----</option>
		<?php
        	$t=M('keyword_type');
            $tlist=$t->select();
            for($i=0;$i<count($tlist);$i++)
            	echo '<option value="'.$tlist[$i]['name'].'">'.$tlist[$i]['name'].'</option>';
        ?>
		</select></td>
		<td>关键字:</td>
        <td colspan="3"><input name="gkey" id="gkey" style="width:400px" onfocus="showdiv()"/>
		
		<input type="button" value="全选" onclick="selallkey()"/>
		<input type="button" value="添加" onclick="addkey()"/></td>
		</tr>
        <tr>
		<td>图组标题:</td><td colspan="5"><input type="text" name="gtitle" value="{$vo['title']}" style="width:710px"/></td></tr>
        <tr>
		<td>图组说明:</td><td colspan="5"><textarea name="gremark" style="width:700px;height:100px">{$vo['remark']}</textarea></td></tr>
      </table>
      <input type="submit" id="subgroup" name="subgroup" style="display:none" />
   </form>
        
        <!--移除操作的form-->
        <form name="removefrm" id="removefrm" action="{:U('PhotoerImageGroup/removeimg')}" method="POST" >
        	<input type="text" id="removeid" name="removeid" style="display:none" />
            <input type="submit" id="removesubmit" name="removesubmit" style="display:none" />
            <input type="text" name="imagenum" id="imagenum" value="<?php echo count($imagelist); ?>" style="display:none" />
        </form>
        
        <!--删除图组的form-->
        <form name="delgroupfrm" id="delgroupfrm" action="{:U('PhotoerImageGroup/delgroup')}" method="POST" >
        	<input type="submit" id="delgroupsubmit" name="delgroupsubmit" style="display:none" />
        </form>
        
        <!--设置为封面的FORM-->
        <form name="setfacefrm" id="setfacefrm" action="{:U('PhotoerImageGroup/setface')}" method="POST" >
        	<input type="text" id="mainfaceid" name="mainfaceid" style="display:none" />
        	<input type="submit" id="submainface" name="submainface" style="display:none" />
        </form>
		
		<!-- 加载图像 -->
		<form id="mainfrm" name="mainfrm" action="{:U('PhotoerImageGroup/saveeditgroup')}" method="POST" >
        <input type="text" name="subtype" id="subtype" style="display:none"/>
		<table class="stable">
			<volist name="imagelist" id="image" key="id">
				<?php if( $id-1%3==0 ) echo "<tr>"; ?>
					<td >
                    	<table>
						<tr><td colspan="2">图片编号：<span id="imagespan{$id}">{$image['id']}</span></td></tr>
						<tr><td align="center" valign="middle" class="imagetd">
                		<img align="middle" src="{$image.big_url}" <?php if($image['width']>$image['height']) echo 'style="max-width:240px"'; else echo 'style="max-height:240px"'; ?> /></td></tr>
            			</table>
                       
                       	<table>
						<tr><td >上传时间：</td><td style="font-size:16px">
                        <?php echo date('Y-m-d',$image['up_time']); ?></td></tr>
						<tr><td >审核时间：</td><td style="font-size:16px"><?php echo date('Y-m-d',$image['check_time']); ?></td></tr>
						<tr><td >是否封面：</td>
                        <td ><?php if($image['small_url']==$vo['main_url']) echo "封面图片"; else echo "否"; ?></td></tr>
						<tr><td >价格：</td>
                        <td >
                        <select name="point{$image['id']}" id="point{$image['id']}" >
                        <option <?php if( $image['points']==100 ) echo 'selected="selected"'; ?> >100</option>
                         <option <?php if( $image['points']==200 ) echo 'selected="selected"'; ?> >200</option>
                          <option <?php if( $image['points']==300 ) echo 'selected="selected"'; ?> >300</option>
                           <option <?php if( $image['points']==400 ) echo 'selected="selected"'; ?> >400</option>
                            <option <?php if( $image['points']==500 ) echo 'selected="selected"'; ?> >500</option>
                            </select>
                        </td>
                        </tr>
                        <tr><td>地区:</td>
                        <td>
                        <input id="imgcountry{$image['id']}" name="imgcountry{$image['id']}" value="{$image['country']}" style="width:55px"/>
                        &nbsp;&nbsp;<input id="imgprovince{$image['id']}" name="imgprovince{$image['id']}" value="{$image['province']}" style="width:55px"/>
                        &nbsp;&nbsp;<input id="imgcity{$image['id']}" name="imgcity{$image['id']}" value="{$image['city']}" style="width:55px"/>
                      </td></tr>
						<tr><td >图片说明：</td></tr>
						<tr><td colspan="2"><textarea id="imageremark{$image['id']}" name="imageremark{$image['id']}" style="height:80px;width:250px">{$image['remark']}</textarea></td></tr>
						<tr><td >关键字:</td></tr>
						<tr><td colspan="2"><textarea style="height:60px;width:250px" name="imagekey{$image['id']}" id="imagekey{$image['id']}" >{$image['key']}</textarea></td></tr>
						<tr><td  name="rwname{$image['id']}">人物姓名：</td>
                        <td><input type="text" name="rwname{$image['id']}" style="width:150px" value="{$image['name']}" /></td></tr>
						<tr><td  ">艺名绰号：</td>
                        <td><input type="text" name="ymnick{$image['id']}" id="ymnick{$image['id']}" value="{$image['yiming']}"  style="width:150px" /></td></tr>
                        </table>
						<input type="radio" name="txradio{$image['id']}"  <?php if($image['texie']==1) echo "checked=checked"; ?> value="1"/>特写&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="txradio{$image['id']}" <?php if($image['texie']==2) echo "checked=checked"; ?> value="2"/>半身&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="txradio{$image['id']}" <?php if($image['texie']==3) echo "checked=checked"; ?> value="3"/>全身<br>
						<input type="radio" name="renradio{$image['id']}"   <?php if($image['ren']==1) echo "checked=checked"; ?> value="1"/>1人&nbsp;&nbsp;
						<input type="radio" name="renradio{$image['id']}"  <?php if($image['ren']==2) echo "checked=checked"; ?> value="2"/>2人&nbsp;&nbsp;
						<input type="radio" name="renradio{$image['id']}"  <?php if($image['ren']==3) echo "checked=checked"; ?> value="3"/>3人&nbsp;&nbsp;
						<input type="radio" name="renradio{$image['id']}"  <?php if($image['texie']==4) echo "checked=checked"; ?> value="4"/>合影<br>
						<input type="radio" name="htradio{$image['id']}"  <?php if($image['position']==1) echo "checked=checked"; ?> value="1"/>横图&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="htradio{$image['id']}"   <?php if($image['position']==2) echo "checked=checked"; ?> value="2"/>竖图&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="htradio{$image['id']}"   <?php if($image['position']==3) echo "checked=checked"; ?> value="3"/>方图<br>
						<input type="checkbox" id="check{$id}"/>
                        <input type="button" value="删除" onclick="removeimg({$image['id']})"/>&nbsp;
						<input type="button" value="设为封面" onclick="onsetface({$image['id']})"/>
						<br><br>
					</td>
				<?php if( $id % 3==0 && $id>1 ) echo "</tr>"; ?>
			</volist>
		</table>
        <input type="checkbox" id="sall" onclick="selectall()"/>全选
        <input type="button" value="刷新" onclick="document.location.href='{:U('PhotoerImageGroup/editGroup')}'"/></a>
		<input type="button" value="删除图片" onclick="removeall()"/>
		<input type="button" value="删除图组" onclick="delgroup()"/>
		<input type="button" value="保存" onclick="savegroup()" />
		<input type="button" id="submain" name="submain" value="提交" onclick="submitgroup()" />
</form>

<SCRIPT language=javascript defer>
            new PCAS("province","city");
            function chg(obj)
            {
            	if(0 == obj.value)
            	{
            		document.getElementById('tbody').style.display="";
            	}
            	else
            	{
            		document.getElementById('tbody').style.display="none";
            	}
            }
            function chgCountry(obj)
            {
            	if(obj.value == '中国')
            	{
            		document.getElementById('area0').style.display="";
            		document.getElementById('area1').style.display="none";
            	}
            	else
            	{
            		document.getElementById('area0').style.display="none";
                    document.getElementById('area1').style.display="";
            	}
            }
 </SCRIPT>	
