<include file="Admin:header" />

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<script language="javascript">
	function selchang()
	{
		var onetypename=document.getElementById("onetype").value;
		
		document.getElementById("onetypename").value=onetypename;
		document.getElementById("querytypeid").click();
	}
</script>

<script language="javascript">

	$(function(){
	$('#querytypefrm').ajaxForm({
	success:    complete,  // post-submit callback
	dataType: 'json'
	});
	});
	
	function complete(data){
		if(data.status==1)
		{
			document.getElementById("twotype").length=0;
			var n=1;
			for(i=1;i<100;i++)
			{
				if(data.info[i-1].name.length>0)
				{
					document.queryfrm.twotype.options.add(new Option(data.info[i-1].name,data.info[i-1].name));
				}
			}
		}
		else
		{
			alert('查找关键字失败');
		}
	}
</script>

<!--
<form id="queryfrm" name="queryfrm" action="{:U('Phototype/index')}" method="POST" >
	<table>
    <tr>
    	<td>一级类型:</td><td><select name="onetype" id="onetype" onchange="selchang()">
        	
        	<volist name="onelist" id="type">
            	<option value="{$type['groupid']}">{$type['name']}</option>
            </volist>
        </select></td>
        
        <td>&nbsp;&nbsp;&nbsp二级类型:</td><td><select name="twotype" id="twotype">
        	<option >全部</option>
        	<volist name="twolist" id="type">
            	<option >{$type['name']}</option>
            </volist>
        </select></td>
        <td><input type="submit" value="查询" /></td>
	</table>
</form>
-->

<!-- ajax查询二级类型 -->
<form name="querytypefrm" id="querytypefrm" action="{:U('Phototype/querytype')}" method="POST">
	<input id="onetypename" name="onetypename" style="display:none" />
	<input type="submit" id="querytypeid" style="display:none" />
<form>
<table width="100%" cellspacing="0" style="border-collapse: collapse;">
	<thead>
	<td align="center" width="80px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">一级类型</td>
	<td align="center" width="80px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">二级类型</td>
	<td align="center" width="80px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">三级类型</td>
	<td align="center" width="180px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">操作</td>
	</thead>
    <tbody>
    	<volist name="clist" id="detail">
    		<tr>
            	<td align="center" style="border:1px solid #c6c6c6; ">
                {$detail['onetypename']}
                </td>
                <td align="center" style="border:1px solid #c6c6c6; ">{$detail['twotypename']}</td>
                <td align="center" style="border:1px solid #c6c6c6; ">{$detail['threetypename']}</td>
                <td align="center" style="border:1px solid #c6c6c6; ">
                <?php
                if( strlen($detail['onetypename'])>0 )
                {
                	echo '<a href="index.php?g=Admin&m=Phototype&a=addsubtype&id='.$detail['id'];
                    echo '"><u><b>添加子类</b></u></a>';
                }
                else if( strlen($detail['twotypename'])>0 )
                {
                	echo '<a href="index.php?g=Admin&m=Phototype&a=addsubtype&id='.$detail['id'];
                    echo '"><u><b>添加子类</b></u></a>|';
                    echo '<a href="index.php?g=Admin&m=Phototype&a=modisubtype&id='.$detail['id'];
                    echo '"><u><b>修改</b></u></a>|';
                    echo '<a href="javascript:confirm_delete(';
                    echo "'index.php?g=Admin&m=Phototype&a=delsubtype&id=".$detail['id'];
                    echo "')";
                    echo '"><u><b>删除</b></u></a>';
                 }
                else 
                {
                	echo '<a href="index.php?g=Admin&m=Phototype&a=modisubtype&id='.$detail['id'];
                    echo '"><u><b>修改</b></u></a>|';
                    echo '<a href="javascript:confirm_delete(';
                    echo "'index.php?g=Admin&m=Phototype&a=delsubtype&id=".$detail['id'];
                    echo "')";
                    echo '"><u><b>删除</b></u></a>';
                }
                ?>
                
                </td>
            </tr>
    	</volist>
    </tbody>
    </table>
</form>

