<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
	
	function order(filed)
	{
		var f=document.getElementById("orderfiled").value;
		if(f==filed)
		{
			if(document.getElementById("order").value=="")
				document.getElementById("order").value="desc";
			else
				document.getElementById("order").value="";
		}
		else
		{
			document.getElementById("orderfiled").value=filed;
			document.getElementById("order").value="desc";
		}
		document.queryfrm.submit();
	}
</script>

<table  class="search_table" width="100%">
	<tr>
		<td>
			<form name="queryfrm" action="{:U('realsephotoer/index')}" method="POST">
            
            <input type="text" name="orderfiled" id="orderfiled" value="{$vo['filed']}" style="display:none" />
			<input type="text" name="order" id="order" value="{$vo['order']}" style="display:none" />
			
			相片组类型: <select name="type">
			<option value="0">全部</option>
			<option value="1000">新闻图片</option>
			<option value="2000">创意图片</option>
            <option value="3000">摄影专题</option>
			<option value="4000">素材图片</option>
			</select>
			
			<input type="text" name="typeid" id="typeid" style="display:none" />
			
			&nbsp;&nbsp;&nbsp;用户名称:
			<input type="text" name="username" class="input-text" />
			相片组名称: <input type="text" name="group_name" />
			
            &nbsp;&nbsp;&nbsp;相片组状态: 
			<select name="state">
            	<option>正常</option>
				<option>待发布</option>
				<option>审核不通过</option>
				<option>已删除</option>
				<option>全部</option>
			</select>
			<BR> 
			
			创建时间: <input type="text" name="start_query" onfocus="MyCalendar.SetDate(this)" >
			- <input type="text" name="end_query" onfocus="MyCalendar.SetDate(this)" >
			
			&nbsp;&nbsp;&nbsp;<input type="submit" value="搜索"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;<input type="reset" value="重置" class="button" style="width:60px" />
		
			</form>
		</td>
		
	</tr>
</table>

<form name="myform" action="{:U('Photoer/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">
            <input type="checkbox"  id="check_box"  onclick="selectall('ids[]')" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('id')"><u>ID</u></th>
			<th width="380" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('title')"><u>相片组名称</u></a></th>	
			<th width="200" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('type_one_name')"><u>类型名称</u></a></th>
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">相片组图片</th>
            <th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('image_count')"><u>数量</u></a></th>
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('up_account')"><u>用户名</u></a></th>
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('up_time')"><u>创建时间</u></a></th>
      		<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('check_time')"><u>审核时间</u></a></th>
      		<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">状态</th>
      		<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">审核</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">热门组</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">top组</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">推荐组</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">24小时热图</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="glist" id="group" key="k">
      		<tr>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <input type="checkbox" name="ids[]" value="{$group['id']}"  /></td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['id']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">
            <a href="{:U('realsephotoer/checkgroup',array(id=>$group['id']))}"><u><b>
            {$group['title']}</b></u></a>
            </td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['type_one_name']}</td>
			<td align="center" style="border:1px solid #c6c6c6; ">
            	<a href="{:U('realsephotoer/checkgroup',array(id=>$group['id']))}"><u><b>
				<img src="{$group['main_url']}" style="max_width:100px;height:50px;"  />
                </b></u></a>
			</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['image_count']}</td>
            <td align="left" style="border:1px solid #c6c6c6; ">{$group['up_account']}</td>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <?php echo date('Y-m-d',$group['up_time']); ?>
            </td>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <?php echo date('Y-m-d',$group['check_time']); ?></td>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <?php
            	if($group['state']==0) 
                	echo '<img src="./Public/Images/write.jpg" title="待审核" />'; //待审核
             	
                else if($group['state']==1) 
                	echo '<img src="./Public/Images/green.jpg" title="已审核" />'; //全部通过
                else if($group['state']==2) 
                	echo '<img src="./Public/Images/red.jpg" title="审核不通过" />'; //全部不通过
                else if($group['state']==4) 
                	echo '<img src="./Public/Images/yellow.jpg" title="部分审核" />'; //部分通过
                    
            ?>
            </td>
      		<td style="border:1px solid #c6c6c6; "><a href="{:U('realsephotoer/checkgroup',array(id=>$group['id']))}"><u><b>审核</b></u></a></td>
      		<td style="border:1px solid #c6c6c6; "><a href="{:U('realsephotoer/addhot',array(id=>$group['id']))}"><u><b>添加</b></u></a></td>
            <td style="border:1px solid #c6c6c6; "><a href="{:U('realsephotoer/addtop',array(id=>$group['id']))}"><u><b>
            <?php 
            	if( $photoer['is_top']==0 )
                	echo "添加";
                else 
                	echo "取消";
            ?>
            </b></u></a></td>
            <td style="border:1px solid #c6c6c6; "><a href="{:U('realsephotoer/submit',array(id=>$group['id']))}"><u><b>推荐</b></u></a></td>
             <td style="border:1px solid #c6c6c6; "><a href="{:U('realsephotoer/add24hot',array(id=>$group['id']))}"><u><b>添加</b></u></a></td>
			</tr>
      		</volist>
      	</tbody>
    </table>
  	<input type="checkbox" id="allcheck" onclick="oncheckchange" />全选
    <input type="submit" class="button" name="dosubmit" value="审核不通过" />
    <input type="button" class="button" name="dosubmit" value="删除图组" />
</div>
</form>

<div id="pages" class="page">{$page}</div>




