<include file="Admin:header" />

<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">新闻类型管理</strong>
 <img src="../Public/images/heixian.jpg" />
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Request/addnew')}" method="POST">

			新闻类型  <input type="text" name="key" />
            新闻标题  <input type="text" name="title">
            新闻图片  

			<input type="submit" value="搜素"  class="button" />
			</form>
		</td>
	</tr>
</table>

