<include file="Admin:header" />

<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Request/index')}" method="POST">

			{:L('gsearch')}: 
			<input type="text" name="key" />

			<input type="submit" value="{:L('search')}"  class="button" />
		
			</form>
		</td>
	</tr>
</table>

<form name="myform" action="{:U('Photoer/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">ID</th>
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('liuyan_title')}</th>	
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('liuyan_time')}</th>	
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('liuyan_account')}</th>
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('liuyan_state')}</th>
			<th width="120" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('oper')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="rlist" id="req" key="k">
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$tuijian['id']}" /></td>
			<td align="center">{$req['id']}</td>
      		<td align="left">{$req['title']}</td>
      		<td align="left"><?php echo date('Y-m-d H:i:s',$req['time']);?></td>
			<td align="left">{$req['username']}</td>
			<td align="left">{$req['state']}</td>
      		  		
			<td align="left"><a href="{:U('Request/edit',array(id=>$req['id']))}">{:L('liuyan_edit')}</a> | <a href="javascript:confirm_delete('{:U('Request/delete',array(id=>$req['id']))}')">{:L('delete')} </a>|<a href="{:U('Request/reply',array(id=>$req['id']))}')"> {:L('liuyan_reply')}</a></td>     		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div><input type="submit" class="button" name="dosubmit" value="<?php echo L('delete')?>" /></div>
</div>
</form>

<div id="pages" class="page">{$page}</div>