<include file="Admin:header" />

<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Tuijian/index')}" method="POST">

			{:L('tuijian_position')}: <select name='positoin'>
			<option>{:L('tuijian_all')}</option>
			<option>{:L('tuijian_good_photoer')}</option>
			</select>

			<input type="submit" value="{:L('chaxun')}"  class="button" />
		
			</form>
		</td>
	</tr>
</table>

<form name="myform" action="{:U('Photoer/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">ID</th>
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('tuijian_name')}</th>	
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('tuijian_position')}</th>	
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('tuijian_startdate')}</th>
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('tuijian_enddate')}</th>
			<th width="120" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('oper')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="tuijian" key="k">
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$tuijian['id']}" /></td>
			<td align="center">{$tuijian['id']}</td>
      		<td align="left">{$tuijian['account']}</td>
      		<td align="left">{$tuijian['position']}</td>
			<td align="left">{$tuijian['startdate']}</td>
			<td align="left">{$tuijian['enddate']}</td>
      		  		
			<td align="left"><a href="{:U('Tuijian/edit',array(id=>$tuijian['id']))}">{:L('edit')}</a> | <a href="javascript:confirm_delete('{:U('Tuijian/delete',array(id=>$tuijian['id']))}')">{:L('delete')}</a></td>     		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div><input type="submit" class="button" name="dosubmit" value="<?php echo L('delete')?>" /></div>
</div>
</form>

<div id="pages" class="page">{$page}</div>