/*普通样式表*/
body {margin:0px; padding:0px; background:#c0c0c0; font-size:12px; line-height:150%; color:#333; font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif }
div {margin:0px; padding:0px }
dl {margin:0px; padding:0px }
dt {margin:0px; padding:0px }
dd {margin:0px; padding:0px }
ul {margin:0px; padding:0px }
ol {margin:0px; padding:0px }
li {margin:0px; padding:0px; font-weight:normal; font-size:100%; list-style-type:none }
h1 {margin:0px; padding:0px; font-weight:normal; font-size:100% }
h2 {margin:0px; padding:0px; font-weight:normal; font-size:100% }
h3 {margin:0px; padding:0px; font-weight:normal; font-size:100% }
h4 {margin:0px; padding:0px; font-weight:normal; font-size:100% }
h5 {margin:0px; padding:0px; font-weight:normal; font-size:100% }
h6 {margin:0px; padding:0px; font-weight:normal; font-size:100% }
pre {margin:0px; padding:0px }
form {margin:0px; padding:0px }
fieldset {margin:0px; padding:0px; border:0px }
legend {margin:0px; padding:0px }
input {margin:0px; padding:0px; font-size:100%; font-family:inherit }
button {margin:0px; padding:0px; font-size:100%; font-family:inherit }
textarea {margin:0px; padding:0px; font-size:100%; font-family:inherit }
p {margin:0px; padding:0px }
blockquote {margin:0px; padding:0px }
thead {margin:0px; padding:0px }
tbody {margin:0px; padding:0px }
tfoot {margin:0px; padding:0px }
th {margin:0px; padding:0px }
td {margin:0px; padding:0px }
img {border:0px }
select {font-family:inherit }
optgroup {font-family:inherit }
option {font-family:inherit }
select {font-size:100% }
table {border-collapse:collapse; border-spacing:0 }
caption {text-align:left }
a {color:#333; text-decoration:none }
a:hover {color:#a10000; text-decoration:none }

.clear {clear:both; display:block; visibility:hidden; line-height:10px; height:10px }
.clear0 {clear:both; display:block; visibility:hidden; line-height:0px; height:0px }
