/*主页样式表*/
#mainBox {margin:0px auto; width:960px }
#indexLogin {width:960px; height:37px; background:url(../images/indexLogin.jpg)}
#top {margin-top:15px; height:67px; border-bottom:2px solid #f3c714 }
 .topLeft {float:left; width:177px; height:47px; padding:10px 0px 10px 10px; background:url(../images/indexTopBg.jpg) no-repeat }
 .logo {float:left; width:146px; background:url(../images/logoIndex.jpg) no-repeat }
 .logo h1 {border:0; margin:0; text-indent:-9999px }
 .logo h1 a {border:0; display:block; background:url(../images/logoIndex.jpg) no-repeat left top; margin:0; height:47px; text-decoration:none }

 .topCenter {float:left; width:363px; padding-top:35px; height:32px; background:#ffffff }
 .topCenter a {color:#000 } 
 .topList { }
 .topList li {float:left; width:70px; background:url(../images/indexTopLine.jpg) no-repeat right top }
 .topList li.none {background:none }
 
 .topRight {float:left; padding-top:30px; width:410px; height:37px; background:#ffffff url(../images/topRightBg.jpg) no-repeat top right }
 .indexLoginRight {float:right; padding-left:15px; width:85px; height:37px; line-height:33px; background:url(../images/icoLogin.jpg) no-repeat top left; color:#ffffff }
 .indexLoginRight a {color:#ffffff}
  
#slid {clear:both; margin:0px auto; width:960px }
#rolling {clear:both; margin:0px auto; width:960px }
#indexConBottom {clear:both; margin:0px auto; width:960px; height:38px; background:url(../images/indexConBottom.jpg) no-repeat top center }



#about {margin:0px auto; width:960px; height:24px; line-height:24px; background:#7d7d7d; text-align:center; color:#84381a }
#about a {color:#84381a }

#copyRight {margin:0px auto; width:960px; height:22px; line-height:22px; text-align:center; background:#636363; color:#ffffff }  
  
