/*产品展示样式表*/
#mainBox {margin:0px auto; width:960px }
#top {height:74px; border-bottom:2px solid #f3c714 }
 .logo {float:left; width:233px }
 .logo h1 {border:0; margin:0; text-indent:-9999px }
 .logo h1 a {border:0; display:block; background:url(../images/logo.jpg) no-repeat left top; margin:0; height:74px; text-decoration:none }
 
 .topRight {float:left; width:727px; height:74px; background:url(../images/topBg.jpg) no-repeat }
  .topSearch {float:left; margin-top:40px; width:506px }
  .topLink {float:left; margin-top:40px; height:34px; line-height:34px; color:#ffffff }
  .topLink a {color:#ffffff }

#Menu {padding:0px 8px; height:70px; background:url(../images/menuBg.jpg); font-size:14px }
 .menuLeft {float:left; width:114px; height:34px; line-height:34px; background:url(../images/menuLeftBg.jpg) no-repeat; text-align:center }
 .menuLeft a {color:#ffffff }
 .menu {float:left; text-align:center }
 .menu a {color:#ffffff }
 .menu li {float:left; width:102px; height:34px; line-height:34px; background:url(../images/menuCenterBg.jpg) no-repeat }
 .menuRight {float:left; width:12px; height:34px; background:url(../images/menuRightBg.jpg) no-repeat }
 
 .subMenu {margin:0px auto; width:600px; height:30px; line-height:30px; text-align:center }
 .subMenu li {float:left; margin-top:6px; width:104px; height:30px; background:url(../images/subMenu.jpg) no-repeat; color:#000 }
 .subMenu li a {color:#000 }
 .subMenu li.on {float:left; margin-top:6px; width:104px; height:30px; background:url(../images/subOnMenu.jpg) no-repeat; color:#cc2229 }
 .subMenu li.on a {color:#cc2229 }
 
#nav {clear:both; margin:10px auto; height:33px; line-height:33px; width:960px }
 .navLeft {float:left; padding-left:36px; width:400px; background:url(../images/navLeft.jpg) no-repeat }
 .navCenter {float:left; width:500px; text-align:right; background:url(../images/navCenter.jpg) }
 .navRight {float:left; width:24px; height:33px; background:url(../images/navRight.jpg) no-repeat }

#content {clear:both; margin:0px auto; width:960px } 
#left {float:left; width:192px } 
 .layer {margin-bottom:10px; width:178px; border:2px solid #909090; background:#5e5e5e }
 .leftOnMenu {margin:0px auto; width:157px }
 .leftOnMenu li {margin:10px 0; width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../images/leftMenu.jpg) no-repeat }
 .leftOnMenu li.OnMenu {width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../images/leftOnMenu.jpg) no-repeat }
 
 .layerTitle {margin:10px auto; width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../images/layerTitle.jpg) no-repeat }
 .leftList {margin:10px auto; width:162px }
 .leftList li {margin:10px auto; width:152px; height:45px; background:url(../images/line.jpg) no-repeat center bottom; color:#ffffff }
 .leftList li a {color:#ffffff }
 
 .leftContent {margin:10px auto; width:152px; color:#ffffff }

#right {float:left; width:768px } 
 .products {width:768px }
 .products li {float:left; margin-bottom:5px; margin-left:8px; padding:8px 10px; width:162px; height:248px; border:1px solid #767676 }
 .products li img {margin:5px 0; border:1px solid #ffffff }
 .products li span {text-align:left }
 
 .imgLeft {float:left; padding-top:2px; width:120px }
 .imgRight {float:left; width:38px }
 
 .viewPic {border:1px solid #e1e1e1 }
 .viewPicTit {margin:5px 10px; padding-top:5px; font-size:14px; height:27px; background:url(../images/viewPicTit.jpg) }
 
#slideshow {margin:10px auto; position:relative; width:766px }
#slideshow ul {border:1px solid #ffffff; left:90px; list-style:none outside none; overflow:hidden; position:absolute; top:10px; width:580px }
#slideshow li {position:absolute; display:none; z-index:10 }
#slideshow li:first-child {display:block; z-index:1000 }
#slideshow .slideActive {z-index:1000 }
#slideshow canvas {display:none; position:absolute; z-index:100 }
#slideshow .arrow {height:86px; width:60px; position:absolute; background:url(../images/arrows.png) no-repeat; top:50%; margin-top:-43px; cursor:pointer; z-index:5000 }
#slideshow .previous {background-position:left top;left:0 }
#slideshow .previous:hover {background-position:left bottom }
#slideshow .next{background-position:right top;right:0 }
#slideshow .next:hover {background-position:right bottom }
p.tzine {text-align:center; font-size:12px; margin:50px }
p.credit {text-align:center; color:#888; font-size:10px }
p.credit a,
p.credit a:visited {color:#ccc; border-bottom-color:#aaa }
p.credit a:hover {border-bottom-color:transparent }

 .viewPicIco {margin:0px auto; width:766px; text-align:center }
 .viewPicTittle {margin:10px auto; padding-left:10px; width:733px; height:29px; line-height:29px; background:url(../images/viewPicTitBg.jpg) no-repeat; color:#c6c6c6 }
 .viewPicContent {margin:10px auto 30px auto; width:723px; }




#about {margin:20px auto; width:960px; text-align:center; color:#84381a }
#about a {color:#84381a }

#copyRight {margin:20px auto; width:960px; height:30px; line-height:30px; text-align:center; background:#777777; color:#ffffff }

