<include file="Home:header" />



<div id="member">
	<include file="User:menu" />
 
	<div class="right">
		 
			<h5 class="title"><b>修改资料</b></h5>
			 
					<form method='post'  id="myform" action="{:U('User-Index/profileupdate')}">
					<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
					<tr>
						<td  width="120">{:L('username')}</td>
						<td>{$login['username']}</td>
					</tr>
					<tr>
						<td  width="120">{:L('realname')}</td>
						<td><input type="text" class="input-text"  name="realname" value="{$login['realname']}"></td>
					</tr>
					
					<tr>
						<td>{:L('question')}</td>
						<td><input type="text" class="input-text"  name="question" value="{$login['question']}"></td>
					</tr>
					<tr>
						<td>{:L('answer')}</td>
						<td><input type="text" class="input-text"  name="answer" value="{$login['answer']}"></td>
					</tr>
					<tr>
						<td>{:L('sex')}</td>
						<td><input type="radio" id="" name="sex" value=1 <eq name='{$vo.sex}' value='1'>checked </eq> />{:L('sex1')}&nbsp;<input type="radio" id="" name="sex" value=2 <eq name='{$vo.sex}' value='2'>checked </eq> />{:L('sex2')} &nbsp;<input type="radio" id="" name="sex" value=1 <eq name='{$vo.sex}' value='0'>checked </eq> />{:L('sex0')}</td>
					</tr>
					<tr>
						<td>{:L('telephone')}</td>
						<td><input type="text" class="input-text"  name="tel" value="{$login['tel']}"></td>
					</tr>
					<tr>
						<td>{:L('mobile')}</td>
						<td><input type="text" class="input-text"  name="mobile" value="{$login['mobile']}"></td>
					</tr>
					<tr>
						<td>{:L('fax')}</td>
						<td><input type="text" class="input-text"  name="fax" value="{$login['fax']}"></td>
					</tr>
					<tr>
						<td>{:L('web_url')}</td>
						<td><input type="text" class="input-text"  name="web_url" value="{$login['web_url']}"></td>
					</tr>
					<tr>
						<td>{:L('address')}</td>
						<td><input type="text" class="input-text"  name="address" value="{$login['address']}"></td>
					</tr>
					</table>
					<div class="btn">
					<input TYPE="hidden" name="id" value="{$login['id']}">
					<INPUT TYPE="submit" name="dosubmit"  value="{:L('dosubmit')}" class="button" >
					<input TYPE="reset"  value="{:L('cancel')}" class="button">
					</div>{__TOKEN__}
					</form>

		 
	</div>
</div>


<include file="Home:footer" />