<load href='../Public/css/member.css' />

<include file="User:user_header"/>
   <div id="bodys">
    	<div class="left">
       	 <include file="left" />
        </div>
       

<div id="member">
	<div class="right">
		 
			<h5 class="title"><b>修改资料</b></h5>
			 
					<form method='post'  id="myform" action="{:U('User-Index/password')}">
					<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
					
<input type="text" name="username" value="{$vo['username']}" style="display:none">
					
					<tr><td width="140">{:L('oldpassword')}</td><td><input type="password" class="input-text" name="oldpassword" validate=" required:true, minlength:5, maxlength:20"></td></tr>
					<tr><td>{:L('newpassword')}</td><td><input type="password" class="input-text"  name="password" id="password" validate=" required:true, minlength:5, maxlength:20"></td></tr>
					<tr><td>{:L('repassword')}</td><td><input type="password" class="input-text"  name="repassword" validate=" required:true,equalTo: '#password', minlength:5, maxlength:20"></td></tr>
					<tr><td>{:L('verify')}</td><td><input type="text" class="input-text" size="6" name="verify"> <img SRC="{:U('Login/verify')}" BORDER="0" ALT="{:L('reverify')}" id="verifyImage" onClick="resetVerifyCode()" style="cursor:pointer" align="absmiddle"></td></tr>
					</table>
					<div class="btn">
					<INPUT TYPE="submit"  name="dosubmit" value="{:L('dosubmit')}" class="button" >
					<input type="reset"  value="{:L('cancel')}" class="button">
					</div>
					</form>


		 

	</div>
</div>
</div>




<include file="foot" />
</body>
</html>