 <div class="user">
    <a ><img src="../Public/images/photo.jpg"  title="我的头像"/></a>
    <p>用户名：<a href="index.php?g=User&m=Index&a=userinfo" style="color:#F00">{$login.account}</a></p> 
    
    <p>类&nbsp;&nbsp;型：<a href="#">{$login.role}</a></p><div style="padding-top:15px">
    <a href="/index.php?g=User&m=Index&a=buydetail"><img src="../Public/images/goumai.jpg" alt="#" width="67" height="23" title="购买记录" />&nbsp;</a><a href="/index.php?g=User&m=Index&a=index"><img src="../Public/images/gouwu.jpg" alt="#" width="67" height="23" title="购物车" /></a></div>      
</div>
<div class="sell_msg">
    <div style="padding:0 0 0 19px; "><img  src="../Public/images/henxian.jpg" /></div>
  <p class="biaoti">管理购物车</p>
   <div style="padding:0 0 0 19px; "><img  src="../Public/images/henxian.jpg" /></div>
   <p class="biaoti">我的收藏夹&nbsp;<img src="../Public/images/xiangxia.jpg" /></a></p>
   
    <div class="googimg"><div style="padding-left:65px;">
        <p><a href="#">默认文件夹<br /><a href="#">文件夹1</a></p><a class="spans">新建文件夹</a></p>
        </div>
    </div>
</div>