<load href="../Public/css/style.css"/>
<style>
body{background:none;}
.login_box {margin:10px ;}
.login_box .input-text{line-height:18px;height:20px;}
.login_box .button {padding:0;}
.login_box ul li {line-height:22px;height:22px;padding:4px 0;}
.login_box ul {position:relative;}
.login_box ul li.avatar {position:absolute;right:5px;top:10px;padding:6px;height:70px;background:#FFF;border:1px solid #ccc;overflow:hidden;zoom:1;}
</style>
{if: empty($_COOKIE['YP_auth'])}
	<div class="login_box">
		<form method="post" action="{:U('User-Login/dologin')}" target="_top"><input type="hidden" id="forward" name="forward" value="{$forward}"/>
		<ul><li><label>账号：</label><input type="text" id="username" name="username" class="input-text" /></li>
		<li><label>密码：</label><input type="password" id="password" name="password" class="input-text" /></li>
		<li><input type="submit" class="button" value="会员登录"/>&nbsp;<a href="{:U('User-Register/index?forward=')}{$forward|urlencode}" target="_top" />会员注册</a>&nbsp; <a href="{:U('User-Login/getpass')}" target="_top">忘记密码？</a></li>
		</ul>
		</form>
	</div>
{else:/}
	<div class="login_box">		 
		<ul>
			<li><label>用户名：</label><font color="red"><b>{$_COOKIE['YP_username']}</b></font></li>
			<li><label>会员组：</label>{$Role[$_COOKIE['YP_groupid']]['name']}</li>
			<li><a href="{:U('User-Index/index')}" target="_top" />会员中心</a>&nbsp; <a href="{:U('User-Login/logout?forward=')}{$forward|urlencode}" target="_top">退出登陆</a></li>
			<li class="avatar"><a href="{:U('User-Index/index')}" target="_top" ><img src="{$vo['avatar']}" width="60" height="60" onerror="this.src='__PUBLIC__/Images/nophoto.gif'"></a></li>
		</ul>
	</div>
{if:/}