<include file="Home:header" />
<div class="main">
	<h3>会员登录</h3>
		<div class="block-msg">
		<form method="post" action="{:U('User-Login/dologin')}">
		<table width="100%">
		<tr>
			<td align="right" height="35px">账号：</td>
			<td><input type="text" id="username" name="username" class="input-text" /></td>
		</tr>
		<tr>
			<td align="right" height="35px">密码：</td>
			<td><input type="password" id="password" name="password" class="input-text" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td><input type="hidden" id="forward" name="forward" value="{$forward}"/>
			<td height="50px"><input type="submit" class="button" value="会员登录" />&nbsp;<a href="{:U('User-Register/index?forward=')}{$forward|urlencode}" target="_top" />会员注册</a>&nbsp; <a href="{:U('User-Login/getpass')}">忘记密码？</a></td>
		</tr>
		</table>
		</form>
		</div>
</div>
<include file="Home:footer" />