<load href='../Public/css/member.css' />
<load href="__PUBLIC__/Js/jquery.validate.js"/>
<div class="pos"><span style="float:right;">{if: $_COOKIE['YP_account']}{$_COOKIE['YP_username']}{else: /}{%guest}{if:/}{%welcome_user_message}</span>当前位置: <a href="/">网站首页</a> > <a href="{:U('User-Index/index')}">会员中心</a> </div>
<div class="left-memu">

		
		{if: $user_menu}
		<h5 class="title"><b><img src="../Public/images/member/m_1.png" width="15" height="15" /> 在线投稿</b></h5>
		<ul>
		<volist name="user_menu" id="r">
			<li > <span><a href="{:U('User-Post/add?moduleid='.$r['id'])}">投稿</a></span><a href="{:U('User-Post/index?moduleid='.$r['id'])}"><img src="../Public/images/member/m_2.png" width="14" height="15" /> {$r['title']}</a></li>
		</volist>
		</ul>
		{if:/}
		
		<h5 class="title"><b><img src="../Public/images/member/coins.png" width="15" height="15" /> 财务管理</b></h5>
		<ul>
			{if: $_COOKIE['userid11']}<li><a href="{:U('User-Pay/pay')}"><img src="../Public/images/member/m_4.png" width="15" height="16" /> 在线充值</a></li>{if:/}
			<!--<li><a href="{:U('User-Pay/index')}"><img src="../Public/images/member/m_8.png" width="16" height="16" /> 支付记录</a></li>-->
			<li><a href="{:U('User-Order/index')}"><img src="../Public/images/member/table-information.png" width="16" height="16" /> 订单查询</a></li>
			<!--
			<li><a href="{:U('User-Pay/spend')}"><img src="../Public/images/member/table-information.png" width="16" height="16" /> 消费记录</a></li>
			<li><a href="{:U('User-Index/change_credit')}"><img src="../Public/images/member/coins_add.png" width="16" height="16" /> 积分购买/兑换</a></li>
			-->
		</ul>

	  {if: $_COOKIE['YP_userid']}
		<h5 class="title"><b><img src="../Public/images/member/home.png" width="15" height="15" /> <a href="{:U('User-Index/index')}">会员中心</a></b></h5>
		<ul>
			<li><a href="{:U('User-Index/profile')}"><img src="../Public/images/member/user_edit.png" width="16" /> 修改个人信息</a></li>
			<li><a href="{:U('User-Index/avatar')}"><img src="../Public/images/member/vcard.png" width="16" /> 修改头像</a></li>
			<li><a href="{:U('User-Index/password')}"><img src="../Public/images/member/icon_key.gif" width="16" height="16" /> 修改邮箱/密码</a></li>
			<li><a href="{:U('User-Login/logout')}"><img src="../Public/images/member/computer_key.png" width="16" height="16" /> 退出登陆</a></li>
			<!--<li><a href="{:U('User-Index/edit')}"><img src="../Public/images/member/Upload.png" /> 会员自助升级</a></li>-->
		</ul>
		{if:/}

</div>