<include file="Home:header" />



<div id="member">
	<include file="User:menu" />
 
	<div class="right">
		 
			<h5 class="title"><b>订单查询</b></h5>
			 
					<table  class="search_table" width="100%">
							<tr>
								<td class="search">
									<form action="{:U($module_name.'/index')}" method="get">
									<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
									<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
									<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />	

									<input id="title" type="text" class="input-text" name="keyword" value="{$Think.get.keyword}" />
									<input type="hidden" id="searchtype" name="searchtype" value="sn"/> 
									<input type="submit" value="{:L('chaxun')}"  class="button" />
									</form>
								</td>
								
							</tr>
						</table>

						<form name="myform" id="myform" action="" method="post">

						<div class="table-list">
							<table width="100%" cellspacing="0">
								<thead> 
									<tr> 
								 
									<th width="140">{:L('order_sn')}</th> 
									<th width="100" align="left">{:L('ORDER_PRICE')}</th>
									<th  align="left">{:L('ORDER_createtime')}</th> 
									<th width="120" align="center">{:L('manage')}</th> 
									</tr> 
								</thead> 
								<tbody>
									<volist name="list" id="vo" key="k">
									<tr>
									<td>{$vo.sn}</td>
									<td><font color="red">{$vo.price|number_format=###,2}元</font></td>
									<td>{$vo['createtime']|toDate=###,'Y-m-d H:i:s'}</td>			
									<td align="center"><a href="{:U($module_name.'/show',array(id=>$vo['id']))}">{:L('order_show')}</a> | <a href="{:U($module_name.'/edit',array(id=>$vo['id']))}">{:L('edit')}</a></td>      		
									</tr>
									</volist>
								</tbody>
							</table>
						   
						</form></div>    

						<div id="pages" class="page">{$page}</div>
						<script>
						$("#catid").attr("value",'{$catid}');
						function confirm_deleteall(){
							art.dialog.confirm("{:L('real_delete')}", function(){ $('#myform').submit();});
						}
						</script>

		 
	</div>
</div>

<include file="Home:footer" />