<include file="Home:header" />
<load href="./Public/Js/jquery.form.js"/>
<load href="./Public/Js/MyDate/WdatePicker.js"/>
<load href="./Public/Js/jquery.colorpicker.js"/>
<load href="__PUBLIC__/Js/artDialog.min.js"/>
<load href='../Public/Css/member.css' />
<load href="__PUBLIC__/Js/my.js"/>
<load href="__PUBLIC__/Js/swfupload.js"/>
<load href="./Public/ckeditor/ckeditor.js"/>

<div id="member">
	<include file="User:menu" />
 
	<div class="right">
		 
			<h5 class="title"><b>会员投稿</b></h5>
			 
					<div id="msg"></div>
					<form name="myform" id="myform" action="<if condition="$action_name=='add'">{:U($module_name.'/insert')}<else />{:U($module_name.'/update')}</if>" method="post">
					<div id="filelist" class="hide"></div>
					<div class="error"><ul></ul></div>
					<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
					<volist name="fields" id="r">
						<tr>
							<td width="80">{if: $r['required']}<font color="red">*</font>{if:/}{$r.name}</td>
							<td id="box_{$r['field']}">
							{$r|getform=$form,###}
							</td>
						</tr>
					</volist>

							</table>
							<div id="bootline"></div>
							<div id="btnbox" class="btn"><input type="hidden" id="moduleid" name="moduleid" value="{$moduleid}" />
							<if condition="$vo['id']!=''"><input TYPE="hidden" name="id" value="{$vo.id}"></if>
							<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
							<input TYPE="reset"  value="{:L('cancel')}" class="button">
							</div>
					{__TOKEN__}
					</form>
		 
	</div>
</div>


<include file="Home:footer" />