<include file="Home:header" />

<load href="__PUBLIC__/Js/jquery.validate.js"/>
<div class="main">
	<h3>注册会员</h3>	 
		<div class="block-msg">
		<form id="myform"  method="post" action="{:U('User-Register/doreg')}" >
		<table width="100%">
		<tr>
			<td align="right" width="240" height="35px">账号：</td>
			<td><input type="text" id="username" name="username" class="input-text" validate="required:true,en_num:true,remote: '{:U('User-Register/checkusername')}' , minlength:5, maxlength:20"/></td>
		</tr>

		<tr><td align="right" width="240" height="35px">密码：</td><td><input type="password" class="input-text"  name="password" id="password" validate=" required:true, minlength:5, maxlength:20"></td></tr>
		<tr><td align="right" width="240" height="35px">确认密码：</td><td><input type="password" class="input-text"  name="repassword" validate=" required:true,equalTo: '#password', minlength:5, maxlength:20"></td></tr>

		<tr>
			<td align="right" height="35px">邮箱：</td>
			<td><input type="text" id="email" name="email" class="input-text" validate="required:true,email:true,remote: '{:U('User-Register/checkEmail')}' , minlength:1, maxlength:40"/></td>
		</tr>
		<tr>
			<td>&nbsp;</td><input type="hidden" id="forward" name="forward" value="{$forward}"/>
			<td height="50px"><input type="submit" class="button" value="注册成为会员" /></td>
		</tr>
		</table>
		</form>
		</div>	 
</div>
<include file="Home:footer" />