<div class="select"> 
下载查询<span>&nbsp;</span> 关键词<input type="text" name="chaxunkey" title="keyword_s"  class="keywords" style="width:80px;" /> 时间范围从<input  class="Wdate input-text  "  validate=" required:true"   name="opentime" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
})"  style="width:120px;"/></td>到<input  class="Wdate input-text  "  validate=" required:true"   name="endtime" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
})" style="width:120px;" />     </td><a href="#" onclick="onQuery()">查询</a>
</div>
<script language="JavaScript">
    function onQuery()
    {   
        document.queryform.submit();
    }
</script>   