<include file="Home:header" />

<div class="left">
		<div class="pos">当前位置: <a href="/">首页</a> > <YP:catpos  catid="$catid" space=" > " /></div>
		<YP:subcat catid="catid" id="cid" key="ii">
				<div class="list">
				<h4><span><a href="{$cid['url']}">更多>></a></span> <b><a href="{$cid['url']}">{$cid['catname']}</a></b></h4>
				<ul class="txt">
				<YP:list name="Article" order="id desc" catid="$cid[arrchildid]" limit="6">
					<li><span class="date">[{$r.createtime|toDate=###,'Y-m-d'}]</span><a href="{$r.url}" target="_blank">{$r.title}</a></li>
				</YP:list> 
				</ul></div>
		</YP:subcat>
		<br>
</div>


<div class="right">
	<include file="Home:right" />
</div>
<include file="Home:footer" />