<include file="Home:header" />

<div class="left">
		<div class="pos">当前位置: <a href="/">首页</a> > <YP:catpos  catid="$catid" space=" > " /></div>
		<div class="down_list">
			<volist name="list" id="vo" key="k">
			<dl class="img">
			<dt><a href="{$vo.url}" target="_blank">{$vo.title}</a></dt>
			<dd class="desc">软件简介：{$vo.description}</dd>
			<dd class="ext">软件类型：{$vo.ext} &nbsp;&nbsp;&nbsp;&nbsp;软件大小：{$vo.size}</dd>
			</dl>
			</volist>
		</div>
		 <div id="pages" class="page">{$pages}</div>
		<br>
</div>

<div class="right">
	<include file="Home:right" />
</div>
<include file="Home:footer" />