<div class="c"></div>
<br>

</div></div>
<div id="footer" class="warp">
Powered by <a href="http://www.yourphp.cn" target="_blank">Yourphp</a> 版权所有 © 2008-2011, All right reserved<br>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/4005324.js"></script> 
<noscript><a href="http://www.51.la/?4005324" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/4005324.asp" style="border:none" /></a></noscript>
</div>

<YP:kefu id="kefu" left="-10" top="180" />
<script>showon('.catlist ul li.folder','span.fd_ico','{$catid}');</script>
<script type="text/javascript" src="http://v1.jiathis.com/code/jiathis_r.js?type=left&amp;move=0" charset="utf-8"></script>
</body>
</html>