<include file="Home:header" />

<load href="__PUBLIC__/Js/jquery.validate.js"/>

<div class="left">
		<div class="pos">当前位置: <a href="/">首页</a> > <YP:catpos  catid="$catid" space=" > " /></div>

<style>
#content {margin:0;line-height:22px;}

</style>


		<div class="guestbook_list">
			<volist name="list" id="vo" key="k">
			<dl>
				<dt><span>{$vo.createtime|toDate=###,'Y-m-d H:i:s'}</span>姓名:{$vo.username} - {$vo.title}</dt>
				<dd class="g_content">
				{$vo.content}
				</dd>
				{if: $vo['reply_content']}<dt>管理员回复:</dt><dd class="reply_content">{$vo['reply_content']}</dd>{if:/}
			</dl>
			</volist>
		</div>
		<div id="pages" class="page">{$pages}</div>

		<div class="post_box">
		<h5>提交留言</h5>
		<form name="myform" id="myform" action="__ROOT__/index.php?g=User&m=Post&a=insert" method="post">
 		<table cellpadding=0 cellspacing=0 class="table_form"  >
		<input type="hidden" id="catid" name="catid" value="{$catid}" />
		<input type="hidden" id="catid" name="moduleid" value="{$moduleid}" />
		<volist name="fields" id="r">
		<if condition="!empty($r['status']) && $r['ispost']">
			<tr>
				<td width="100" align="right">{if: $r['required']}<font color="red">*</font>{if:/}{$r.name}</td>
				<td id="box_{$r['field']}">
				{$r|getform=$form,###}
				</td>
			</tr>
		</if>
		</volist>
		<tr>
				<td width="100"></td>
				<td><INPUT TYPE="submit"  value="提交" class="button" >
		<input TYPE="reset"  value="重置" class="button"></td>
				</tr>
		</table>
		</form>
		</div>
 

		<br>
</div>

<div class="right">
	<include file="Home:right" />
</div>
<include file="Home:footer" />