<div id="top">
        <a href="{:U('Home-Index/index')}"><img src="../Public/images/imgs/logo.jpg" class="logo" /></a>
       <ul>
       <if condition="isset($login)">
            <eq name="login.roleid" value="1">
            <li>您好：<a href="{:U('Home-Photoer/index')}"><span style="color:#FB0000;">{$login.name}</span></a></li>
             <else />
             <li>您好：<a href="{:U('User-Index/index')}"><span style="color:#FB0000;">{$login.name}</span></a></li>
             </eq>
             <li>角色：<a href="#">{$login.role}</span></a>
            <li class="lis"><a id="logout_url" href="{:U('User-Login/logout')}">注销</a></li>
       <else />
       <li><a href="{:U('Home-Index/index')}">登录</a></li>
       <li><a href="{:U('Home-Index/index')}">注册</a></li>
       </if>
        </ul>
    </div>
    <div id="menu">
            <ol>
            <li><a href="#" class="first">公告</a></li>
            <li><a href="{:U('Main/decide?t=1')}" class="days"></a></li>
            <li><a href="{:U('Main/decide?t=5')}">新闻图片</a></li>
            <li><a href="{:U('Main/decide?t=2')}">创意图片</a></li>
            <li><a href="{:U('Main/decide?t=3')}">摄影专题</a></li>
            <li><a href="#">历史图片</a></li>
            <li><a href="{:U('Main/decide?t=4')}">素材图片</a></li>
        </ol>
        <form action="{:U('Showphoto/index')}" name="seachform" method="POST">
        <input type="text" value="图片ID或关键词" id="imgID" name="imgID" onfocus="javascript:if(this.value=='图片ID或关键词') {this.value='';}" onblur="javascript:if(this.value=='') {this.value='图片ID或关键词';}"  onmouseover="hand()" /><a href="#" class="seach" onclick="infoQuery()">搜索</a>
    </div>
    <script language="JavaScript">
                    function infoQuery()
                    {
                        document.seachform.submit();
            
                    }
                </script>
  </form>