<include file="Home:photoheader" />
 <!--   ------------------------详细搜索选项部分----------------- -->
    <div id="bodys">
    	<div class="left">
            <div class="top"></div>
            <div class="mid">
            	<div id="mylink">
                <ul>
                <volist name="column" id="vo" key="k">
				<li><a href="{$Think.session.columnurl}&w={$vo.groupid}" class="titlelink" onclick="changeBg(this)">{$vo.name}</a></li>
            </volist> 
            <li><a href="{$Think.session.columnurl}&w=3">编辑推荐</a></li>  	
                </ul>
                </div>
                <ol>
                <volist name="bianjiinfo" id="vo" key="k">      
                	<li><a href="index.php?m=Showphoto&a=index&id={$vo.id}">{$vo.title}({$vo.image_count})</a></li>
                    </volist>
                    <li><a href="###"></a></li>
                </ol>
            </div>
            <div class="bot"></div>
         </div>
         <div class="right">
         	
            <div class="imglist">
            	<ul>
                <volist name="list" id="vo" key="k">
                	<li>
                    	<?php
                    if($vo['is_top']==1)
                    
                    	echo '<div class="top"><img src="../Public/images/top.gif"/></div>';
                    else
                    	echo '<div class="top"></div>';
                    
                    
                    ?>
                        <div class="mid">
                        
                        	<p class="p_imgbiaoti">{$vo.title}</p><a href="/index.php?m=Showphoto&a=index&id={$vo.id}"><img src="{$vo.main_url}" /></a>
                            <p class="p_note">地点:{$vo.city}</p>
                            <p class="p_tag"><a href="/index.php?m=Showphoto&a=index&id={$vo.id}" class="num"></a>{$vo.image_count}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ><?php echo date('Y-m-d',$vo['check_time']);?></span></p> 
                        </div>
                        <div class="bot"></div>
                    </li>
                    </volist>
                </ul>
            </div>
      </div>
         <div class="goPag">
               <a href="#">{$page}</a>
        </div>
    </div>
    <div id="foot" style="position:absolute; top:{$Think.session.footsize}px;">
		<div class="top"><a href="#">公司简介</a>|<a href="#">联系我们</a>|<a href="#">版权申明</a></div>
		<div class="mid">浙ICP证20111126  COpyRight@futu.com  All right reserved 推荐使用IE5.5以上浏览器访问本站以获得最佳效果，如有问题请联系我们</div>
	</div>
</div>
</body>
</html>