<include file="Home:header" />
<!--content begin-->
<div id="content">
<!--left begin-->
<div id="left">
<!--layer 1-->
<div class="layer">
<div class="leftOnMenu">
<volist name="thirdcolumn" id="vo" key="k"> 
<?php     
                 
             if( $k==$_SESSION[threecolumn])
             	echo '<li class="OnMenu"><a href="'.$_SESSION[columnurl].'&w='.$vo['groupid'].'">'.$vo['name'].'</a></li>';
             else
             	echo '<li><a href="'.$_SESSION[columnurl].'&w='.$vo['groupid'].'">'.$vo['name'].'</a></li>';              
             ?>
            </volist>
</div>
</div>
<!--layer 2-->
<div class="layer">
<div class="layerTitle">
<a href="{$Think.session.columnurl}&w=3">摄影记者</a>
</div>
<div class="leftList">
<volist name="user_one" id="vo" key="k">      
                	<li><a href="index.php?m=Main&a=usershow&id={$vo['id']}">{$vo.name}({$vo.phone})</a></li>
                    </volist>
</div>
</div>
<!--layer 3-->
<div class="layer">
<div class="layerTitle">
<a href="javascript:;">通讯员</a>
</div>
<div class="leftContent">
<volist name="user_two" id="vo" key="k">      
                	<li><a href="index.php?m=Main&a=usershow&id={$vo['id']}">{$vo.name}({$vo.phone})</a></li>
                    </volist>
</div>
</div>
<!--layer 4-->
<div class="layer">
<div class="layerTitle">
<a href="javascript:;">联系我们</a>
</div>
<div class="leftContent">
  <p>摄影部联系方式：<br />
    TEL:0571-28800708<br />
    MSN:<br />
    QQ:</p>
  <p>热线新闻部联系方式：<br />
    TEL:0571-28800609<br />
    MSN:<br />
    QQ:</p>
</div>
</div>

</div>
<!--left end-->

<!--right begin-->
<div id="right">
<div class="products">
 <volist name="list" id="vo" key="k">
<li>
<?php
   if($vo['is_top']==1)
     echo '<div class="topview"></div>'; 
?>
<div align="center">
<a href="javascript:;" class="title">{$vo.title}</a>
</div>
<div style="height:185px;" align="center">
<?php
    if($vo['is_topic']>0)
    	echo '<a href="index.php?m=Main&a=decide&topic='.$vo[id].'"  class="pimg"><img src="'.$vo['main_url'].'" style=" max-width:160px; max-height:160px; "/></a>';
    else
    	echo '<a href="index.php?m=Showphoto&a=index&id='.$vo[id].'" class="pimg"  target="_blank"><img src="'.$vo['main_url'].'" style=" max-height:160px; max-width:160px;"/></a>';
    
?>       
</div>
 
<span style="float:left;display:block;width:50%; overflow:hidden;">{$vo.city}</span> 
<span style="float:right"><?php echo date('Y-m-d',$vo['check_time']);?></span>
<div class="clear0"></div>
<span style="float:left"><a href="index.php?m=Showphoto&a=index&id={$vo.id}"><img src="../Public/images/newimages/ico1.jpg" width="14" height="14" align="middle" /></a> {$vo.image_count}</span> 
<span style="float:right"><a href="javascript:;"><img src="../Public/images/newimages/ico2.jpg" width="16" height="16" align="middle" /></a> {$vo.name}</span>
</li>
</volist>
</div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--nav begin-->
<div id="nav">

</div>
<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<div id="about">
<a href="javascript:;">关于我们</a> | <a href="javascript:;">合作机构</a> | <a href="javascript:;">版权声明</a>
</div>
<!--about end-->

<!--copyRight begin-->
<div id="copyRight">
浙ICP备10203621号 2011 PHOTOCHINA.COM.CN All Rights Reserved  推荐使用IE6.0及以上 FIREFOX3.0及以上浏览器访问本站以获得最佳效果 如有问题请联系我们
</div>
<!--copyRight end-->

</div>
</body>
</html>
