<include file="Home:header" />

<div class="left">
		<div class="pos">当前位置: <a href="/">首页</a> > <YP:catpos  catid="$catid" space=" > " /></div>
		<div id="content">				
			<h1>{$title}</h1>
			<br>
			<div class="content">{$content}</div>
			<div id="pages" class="page">{$pages}</div>
			<br>
		</div>
</div>

<div class="right">
	<include file="Home:right" />
</div>



<include file="Home:footer" />