<include file="Photoer_header" />

<body topmargin= "0" marginwidth= "0" >
<div id="cenner">
    <div id="bodys">
    	<div class="left">
       	 <include file="left" />
        </div>
        
        <form action="{:U('Photoer/index')}" name="formIndex" method="POST">
        	<div class="right">
                <include file="top" />
		
			<!--保存当前是在第几页-->
                <input type="text" id="cur_page_info" name="cur_page" value="{$vo['cur_page']}" style="display:none" />
           		<input type="text" id="total_pages_info" name="total_pages" value="{$vo['pages']}"  style="display:none" />
            	<div class="page">
            		<ul>
                    	<li><a href="#" class="before" onclick="onPrePage()">上一页</a></li>
                        
                        <?php 
                        	for($i=1;$i<=$vo['pages'];$i++)
                            {
                            	if( $vo['cur_page']==$i )
                        			echo '<li><a href="#" style="background:#0C3" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                                else
                                	echo '<li><a href="#" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                            }
                        ?>
                        <li><a href="#" class="next" onclick="onNextPage()">下一页</a></li>
                    </ul>
                    
                    <!--上一页-->
                    <script language="JavaScript">
						function onPrePage()
						{
							var curPage=document.getElementById("cur_page_info").value;
							if(curPage>1)
							{
								document.getElementById("cur_page_info").value=parseInt(curPage)-1;
								document.queryform.submit();
							}
						}
					</script>
                    
                    <!--下一页-->
                    <script language="JavaScript">
						function onNextPage()
						{
							var curPage=document.getElementById("cur_page_info").value;
							var tPages=document.getElementById("total_pages_info").value;
							if(curPage<tPages)
							{
								document.getElementById("cur_page_info").value=parseInt(curPage)+1;
								document.queryform.submit();
							}
						}
					</script>
                    
                   <!--定位到某一页(上面)-->
                    <script language="JavaScript">
						function onUpSetPage()
						{
							var goPage=document.getElementById("goPageUp").value;
							var tPages=document.getElementById("total_pages_info").value;
							if( goPage<1 )
								document.getElementById("cur_page_info").value=1;
							else if( goPage>=tPages )
								document.getElementById("cur_page_info").value=tPages;
							else
								document.getElementById("cur_page_info").value=goPage;
							
							document.queryform.submit();
						}
					</script>
                    
                     <!--定位到某一页(下面)-->
                    <script language="JavaScript">
						function onDownSetPage()
						{
							var goPage=document.getElementById("goPageDown").value;
							var tPages=document.getElementById("total_pages_info").value;
							if( goPage<1 )
								document.getElementById("cur_page_info").value=1;
							else if( goPage>=tPages )
								document.getElementById("cur_page_info").value=tPages;
							else
								document.getElementById("cur_page_info").value=goPage;
							
							document.queryform.submit();
						}
					</script>

                    <div class="gos">
                    	<span >共{$vo['pages']}页</span><span>跳转到</span>
                        <input type="text" id="goPageUp" class="pages" /><span>页</span><a href="#" class="go" onclick="onUpSetPage()">GO</a>
                    </div>				
		 		</div>

				<table style="border-collapse: collapse;">
                	<thead>
                        <td align="center" width="220px" height="20px" style="border:1px solid #c6c6c6; background:#E2E2E2">稿费发放时间</td>
                        <td align="center" width="220px" height="20px" style="border:1px solid #c6c6c6; background:#E2E2E2">稿费金额</td>
                        <td  align="center" width="220px" height="20px" style="border:1px solid #c6c6c6; background:#E2E2E2">付款时间</td>
                    </thead>
                    <tbody>
                    	<volist name="clist" id="credit" key="k">
                        <tr>
                            <td align="center" style="border:1px solid #c6c6c6;">{$credit['send_time']}</td>
                            <td align="center" style="border:1px solid #c6c6c6;">{$credit['credit_value']}</td>
                            <td align="center" style="border:1px solid #c6c6c6;">{$credit['pay_time']}</td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
		 		
				<div class="page" style="margin-top:20px;">
            		<ul>
	                    <li><a href="#" class="before" onclick="onPrePage()">上一页</a></li>
	                        
	                    <?php 
	                        for($i=1;$i<=$vo['pages'];$i++)
                        {
                           	if( $vo['cur_page']==$i )
                        		echo '<li><a href="#" style="background:#0C3" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                            else
                               	echo '<li><a href="#" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                        }
                    ?>
	                        
	                   	<li><a href="#" class="next" onclick="onNextPage()">下一页</a></li>
	                </ul>
                            
                    <div class="gos">
                    	<span>共{$vo['pages']}页</span><span>跳转到</span>
                        <input type="text"  class="pages" id="goPageDown"/><span>页</span><a href="#" class="go" onclick="onDownSetPage()">GO</a>
                    </div>
            	</div>
			</div>
            
		</form>
	</div>
	
		
	<include file="Photoer_foot" />
	</div>
	</body>
</html>