<include file="Photoer_header" />

<body>
<div id="cenner">
    <div id="bodys">
    	<div class="left">
       	  <include file="left" />
        </div>
        	<div class="right">
                <include file="top" />
            
                <!--保存当前是在第几页
                <input type="text" id="cur_page_info" name="cur_page" value="{$vo['cur_page']}" style="display:none" />
           		<input type="text" id="total_pages_info" name="total_pages" value="{$vo['pages']}"  style="display:none" />-->
            	<div class="page">
            		<ul>
                    	{$page}
                    </ul>
                    
                    <!--<div class="gos">
                    	<span >共{$vo['pages']}页</span><span>跳转到</span>
                        <input type="text" id="goPageUp" class="pages" /><span>页</span><a href="#" class="go" onclick="onUpSetPage()">GO</a>
                    </div>-->
                    
            		</div>
            			<div class="img_list">
                        <ol>
                        <volist name="mlist" id="vo" mod="4">
                        <php>if(!$vo['check_state'])$vo['check_state']=0;
                        </php>
                        <li>
                        <div class="imgmsg">
                            <p class="p_imgbiaoti">{$vo.title}</p> 
                            <!-- <p class="p_img"><a href="{:U('Photoer/imageslist',array('id'=>$vo['id']))}"><if condition="!$vo['main_url']"><img src="../Public/images/noimg.jpg" /><else /><img src="{$vo.main_url}" /></if></a></p> -->
                            <p class="p_img"><a href="{:U('Photoer/imageslist',array('id'=>$vo['id']))}"><if condition="!$vo['main_url']"><img src="../Public/images/noimg.jpg" /><else /><img src="{$vo.main_url}" /></if></a></p>
                            <p class="p_note">{$vo.city}<span>{$vo.up_time|date="Y-m-d",###}</span></p>
                            <p class="p_tag"><a href="#" class="num"></a>{$vo.image_num}张<a href="#" class="{$color[$vo['check_state']]}"></a><a href="{:U('Photoer/groupdownload',array('id'=>$vo['id']))}" class="load"></a><!-- <a href="{:U('Photoer/groupdownload',array('id'=>$vo['id']))}" class="sele"></a> --></p>
                        </div> <!-- <p class="p_lei"><a href="#">时事</a><span>》</span><a href="#">日常生活</a></p> -->
                        </li>
                        <eq name="mod" value="0"></ol><ol></eq>
                        </volist>
            			</div>
            
             			<div class="page" style="margin-top:20px;">
            				<ul>
                    		{$page}
                    		</ul>
                            
                    		<!-- <div class="gos">
                    			<span>共{$vo['pages']}页</span><span>跳转到</span>
                                <input type="text"  class="pages" id="goPageDown"/><span>页</span><a href="#" class="go" onclick="onDownSetPage()">GO</a>
                    		</div> -->
            			</div>
        			</div>
    			</div> <!--page-->
			</div>
        </form>

		<include file="Photoer_foot" />
	</body>
</html>
