<include file="Admin:header" />

<style >
	.imageframe{width:230px;
				height:200px;
				border:1px solid #666;
	}
	.image{ width:150px;
			height:200px;
	}
	
	.stable{ font-size:16px;
			color:#00C;
	}

</style>


<form action="" method="POST">
<table  class="search_table" width="100%">
	<tr>
		<td>图组分类:</td>
		<td><input type="text" value="{$vo['group_type']}" /></td>
		<td>创建时间:</td>
		<td>{$vo['createtime']}</td>
		<td>编辑时间:</td>
		<td>{$vo['edittime']}</td>
		<td><input type="submit" value="创建编辑图组" /></td>
	</tr>
</table>
</form>
<br><br><br><br>
<table>
<tr>
<td>图组标题:</td>
<td><input type="text" style="width:300px" value="{$vo['title']]" /></td>
<td>图组说明:</td>
<td><textarea style="width:300px;height:50px"></textarea>
</table>

<!-- 加载图像 -->
<table class="stable">
	<volist name="imagelist" id="image" key="id">
		<?php if( $id%4==0 ) echo "<tr>"; ?>
		<td>
			图片编号：{$image['id']} <br>
			<div class="imageframe">
            <center><img src="{$image.url}" class="image" /></center>
            </div>
			<table>
			<tr><td style="font-size:15px">上传时间：</td><td style="font-size:16px">{$image['up_time']}</td></tr>
			<tr><td style="font-size:15px">修改时间：</td><td style="font-size:16px">{$image['modi_time']}</td></tr>
			<tr><td style="font-size:15px">状态：</td><td>*   </td></tr>
			<tr><td style="font-size:15px">价格：</td><td style="font-size:16px">{$image['points']}</td></tr>
			<tr><td style="font-size:15px">图片说明：</td></tr>
			<tr><td colspan="2"><textarea style="height:50px;width:220px">{$image['remark']}</textarea></td></tr>
			<tr><td style="font-size:15px">关键词:</td></tr>
			</table>
			<input type="checkbox" /><input type="button" value="复制" />&nbsp;
			<input type="button" value="不通过" />
		</td>
		<?php if( $id % 3==0 && $id>1 ) echo "</tr>"; ?>
	</volist>
	
	<input type="checkbox" />全选
	<input type="button" value="复制图片" />
	<input type="button" value="审核 不通过" />
	<input type="button" value="返回" />
</table>	
		
						
</table>