<include file="Photoer_header" />

<body>
<div id="cenner">
    <div id="bodys">
    	<div class="left">
       	  <include file="left" />
        </div>
			<div class="right">
            <include file="top" />
			<form id="myform" action="{:U('Photoer/Update')}" ENCTYPE="multipart/form-data" method="POST">
				<table cellpadding=1 cellspacing=1 class="table_form" width="100%">
				    <tr>
					<td>头像:</td><td><img align="left" src="{$login.head_image_path}" border="0" id="simg" style="width:100px;height:80px" />
					<input align="bottom" type="file" id="file" name="head_image_file"  onchange="onSelectFile(this)"/>
				    <script language="javascript">
				    function getPath(obj) {
				    	 if (obj) {
				    	  if (window.navigator.userAgent.indexOf("MSIE") >= 1) {
				    	   obj.select();
				    	   return document.selection.createRange().text;
				    	  } else if (window.navigator.userAgent.indexOf("Firefox") >= 1) {
				    	   if (obj.files) {
				    	    return obj.files.item(0).getAsDataURL();
				    	   }
				    	   return obj.value;
				    	  }
				    	  return obj.value;
				    	 }
				    	}
						function onSelectFile(obj)
						{
							document.execCommand("BackgroundImageCache", false, true);
							var v = getPath(obj);
							document.getElementById("simg").src=v;
						}
					</script>
				
					<tr bgcolor="#EEEEFF" style="height:15px"><td width="120">用户编号:</td>
					<td style="height:18px;font-size:13px">{$login.id}</td>
				    <td width="120">注册时间:</td>
				    <td style="height:18px;font-size:13px"><?php
		             echo date("Y-m-d",$login['createtime']);
                    ?> </td>
				    </tr>
					<tr bgcolor="#EEEEDD" style="height:10px">
					<td width="120">用户名:</td>
					<td style="height:18px;font-size:13px">{$login['account']}</td>
					<td widht="120">所在城市:</td>
					<td style="height:18px;font-size:13px">{$login['city']}</td>
					</tr>
					<tr bgcolor="#EEEEFF">
					<td widht="120">真实姓名:</td>
					<td><input style="width:150px;height:18px;font-size:13px" type="text" class="input_text" name="name" value={$login['name']}></td>
					
					<td width="120">身份证号:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="card_no" value={$login['card_no']}></td>
					</tr>
					
					<tr bgcolor="#EEEEDD">
					<td width="120">性别:</td>
				
					<td><select name="sex">
					   <option  <?php if($login['sex']=="男") echo 'selected="selected"';?> >男</option>
					   <option  <?php if($login['sex']=="女") echo 'selected="selected"';?> >女</option>
					</select></td>
				
				    <td width="120">联系电话:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="phone" value={$login['phone']}></td>
					</tr>
					<tr bgcolor="#EEEEFF">
						<td width="120">电子邮箱:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="email" value={$login['email']}></td>
						<td width="120">联系地址:</td><td><input style="width:200px;height:18px;font-size:13px" type="text" name="link_addr" value={$login['link_addr']}></td>
				    </tr>
					<tr bgcolor="#EEEEDD">
						<td width="120">邮政编码:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="post_code" name="post_code" value={$login['post_code']}></td>
				        <td width="120">刊物名称:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="book_name" value={$login['book_name']}></td>
					</tr>
					<tr bgcolor="#EEEEFF">
						<td width="120">所在单位:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="company_name" value={$login['company_name']}></td>
				        <td width="120">署名名称:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="pen_name" name="pen_name" value={$login['pen_name']}></td>
					</tr>
					<!-- 
					<tr bgcolor="#EEEEDD">
						<td width="120">工作年限:</td>
						<td><input type="text" style="width:150px;height:18px;font-size:13px" name="work_years" value="{$vo['work_years']}"/></td>
				    	<td width="120">主要摄影类型:</td><td>{$vo['main_photo']}</td>
				    </tr>
				    
					<tr bgcolor="#EEEEFF">
						<td width="120">主要出版地:</td>
						<td><input type="text" style="width:150px;height:18px;font-size:13px" name="main_post" value="{$vo['main_post_local']}"/></td>
				        <td width="120">器材设备:</td><td>{$vo['all_equipment']}</td>
					</tr>
					 -->
					<tr bgcolor="#EEEEDD">
						<!--  
						<td width="120">数码相机:</td>
						<td><input type="text" style="width:150px;height:18px;font-size:13px" name="cameras" value="{$vo['cameras']}"/></td>	
						-->
					<td width="120">稿费结算银行:</td>
					<td><select name="settlement_model">
						<option <?php if($login['settlement_model']=="招商银行") echo 'selected="selected"';?> >招商银行</option>
						<option <?php if($login['settlement_model']=="农业银行") echo 'selected="selected"';?> >农业银行</option>
						<option <?php if($login['settlement_model']=="工商银行") echo 'selected="selected"';?> >工商银行</option>
						<option <?php if($login['settlement_model']=="中国银行") echo 'selected="selected"';?> >中国银行</option>
						<option <?php if($login['settlement_model']=="建设银行") echo 'selected="selected"';?> >建设银行</option>
						<option <?php if($login['settlement_model']=="交通银行") echo 'selected="selected"';?> >交通银行</option>
						<option <?php if($login['settlement_model']=="民生银行") echo 'selected="selected"';?> >民生银行</option>
						<option <?php if($login['settlement_model']=="邮政储蓄") echo 'selected="selected"';?> >邮政储蓄</option>
						<option<?php if($login['settlement_model']=="其他") echo 'selected="selected"';?> >其他</option>
					</select></td>
					<td width="120">开户名:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="which_open_name" value={$login['which_open_name']}></td>
					</tr>
					<tr bgcolor="#EEEEFF">
				    	<td width="120">开户行(支行一级):</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="which_bank" value={$login['which_bank']}></td>	
						<td width="120">银行账号:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="bank_card_no" value={$login['bank_card_no']}></td>
					</tr>
					
				</table>
				<center>
				<br>
				<input type="submit" style="width:80px;height:25px" value="保存"   class="button">
			
				</center>

           </form>
           </div>
           </div>
           </div>

		<include file="Photoer_foot" />
	</body>
</html>
