<include file="Photoer_header" />
<script language="javascript">
	function onsame(type)
	{
		var name =document.getElementsByName('ids[]');
		var date = document.getElementById('common_photo_time').value;
        var city = document.getElementById('common_city').value;
        var txt=document.getElementById("common_remark").value;
        for(i=0;i<name.length;i++)
        {
            var id=name[i].value;
            var obj = document.getElementById('remark'+id);
            var v= '';
            if(date != "")
            {
                v = date;
            }
            if(city != '')
            {
                if(v != '')
                {
                    v = v +',' +city;
                }
                else
                {
                    v=city;
                }
            }
            if(txt != '')
            {
            	obj.value=txt;
            }
            if(v != '')
            {
            	obj.value=v+','+obj.value;
            }
            
        }
	}
	function chksubmit()
	{
		var name =document.getElementsByName('ids[]');
		for(i=0;i<name.length;i++)
        {
			var id=name[i].value;
            var obj = document.getElementById('remark'+id);
			if(obj.value == '')
			{
				alert('图片说明不完整,请检查');
				return false;
			}
        }
		return true;
	}
</script>


<body topmargin= "0" marginwidth= "0" >
<div id="cenner">
    <div id="bodys">
    	<div class="left">
       	  <include file="left" />
        </div>
		
		<div class="right">
        <include file="top" />
        <table style="top:1px" border="0" cellspacing="10" cellpadding="0">
        
        	<form action="{:U('Photoer/imagesave',array('groupid'=>$groupid))}" method="POST">
           <tr>
           <td valign="top"> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;图组标题&nbsp;&nbsp 
           </td>
          <td >
                  <textarea name="gtitle" id="gtitle"  rows="2" cols="50" >{$ginfo.title}</textarea>
                </td>
                </tr>
           <tr>
           <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;图组描述&nbsp;&nbsp 
           </td>
          <td >
                  <textarea name="gremark" id="gremark" rows="4" cols="50" >{$ginfo.remark}</textarea>
                  
                </td>
                </tr>
                <tr>
           <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;批量图片说明&nbsp;&nbsp 
           </td>
           <td>
           <textarea name="common_remark" id="common_remark" rows="4" cols="50"></textarea><br>
            拍摄时间:<input type="text" name="common_photo_time" id="common_photo_time" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'
        })" readonly style="width:100px">
            城市:<input type="text" name="common_city" id="common_city" style="width:100px"><input type="button" id="time_city_btn" value="批量添加" onClick="onsame();"/>
           </td>
           </tr>
            <volist name="vlist" id="vo" key="i">
           <tr>
           <td align="center">
                <input type="hidden" name="ids[]" value="{$vo.id}"/>
                <input type="hidden" name="img{$vo.id}" value="{$vo.small_url}" />
                <input type="hidden" name="city{$vo.id}" value="{$vo.city}" />
                <img src="{$vo.small_url}" style=" max-width:130px; max-height:130px" />
           </td>
          <td >图片大小:
                ({$vo.width}×{$vo.height}){$vo.filesize}KB
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp<!-- 设置点数(默认100点)<select name="point{$vo.id}">
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option></select>点 -->
              
&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="main" value="{$vo.id}" <eq name="i" value="1">checked</eq>>设为封面<br>
 图片说明（请不要超过200个字符）：<br /> 
                  <textarea name="remark{$vo.id}" id="remark{$vo.id}" style="width:500px;height:80px";>{$vo.remark}</textarea>
                </td>
                </tr>
            </volist>
			</table>
			<center>
			<input type="submit" style="width:80px" value="保存" onClick="return chksubmit()"/>
 			</center>
        	
			</form>
        </div>
		</div>
		</form>
		</div>
		<script language="javascript">
		function geditFn(o)
		{
			if(true == o.checked)
			{
				enableG('');
			}
			else
			{
				enableG(true);
			}
		}
		function enableG(disabled)
		{
			document.getElementById('gtitle').disabled = disabled;
			document.getElementById('gremark').disabled = disabled;
		}
		</script>
		<include file="Photoer_foot" />
	</body>
</html>
		