<include file="Photoer_header" />


<body>
<div id="cenner">
    <div id="bodys">
    	<div class="left">
       	  <include file="left" />
        </div>
        
		
		<div class="right">
        <include file="top" />
        <form name="queryform" action="{:U('Photoer/updatePwd')}" method="POST">
			<table>
				<tr>
				<td>旧密码：</td>
				<td><input type="password" id="oldid" name="oldpwd"></td>
				</tr>
				
				<tr>
				<td>新密码：</td>
				<td><input type="password" id="newid" name="newpwd"></td>
				</tr>
				
				<tr>
				<td>确认新密码：</td>
				<td><input type="password" id="cnewid" name="cnewpwd"></td>
				</tr>
			</table> 

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="button" style="width:80px" value="保存" onclick="onsave()"/>
 
        	<script language="JavaScript">
				function onsave()
				{
					if( document.getElementById("newid").value ==
						document.getElementById("cnewid").value )	
						document.queryform.submit();
					else
						alert("两次输入的新密码不一致！");
				}
			</script>
        </form>
        </div>
		</div>
		</div>
		
		<include file="Photoer_foot" />
	</body>
</html>
		