<include file="Photoer_header" />


<body>
<div id="cenner">
    <div id="bodys">
    	<div class="left">
       	  <include file="left" />
        </div>
        
       
		<div class="right">
        <include file="top" />
		<!--保存当前是在第几页-->
         <form name="queryform" action="{:U('Photoer/imageQuery')}" method="POST">
                <input type="text" id="cur_page_info" name="cur_page" value="{$vo['cur_page']}" style="display:none"  />
           		<input type="text" id="total_pages_info" name="total_pages" value="{$vo['pages']}"  style="display:none" />
                <input type="text" id="cur_id" name="cur_id" value="{$vo['id']}"  style="display:none" />
            	<div class="page">
            		<ul>
                    	<li><a href="#" class="before" onclick="onPrePage()">上一页</a></li>
                        
                        <?php 
                        	for($i=1;$i<=$vo['pages'];$i++)
                            {
                            	if( $vo['cur_page']==$i )
                        			echo '<li><a href="#" style="background:#0C3" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                                else
                                	echo '<li><a href="#" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                            }
                        ?>
                  
                        <li><a href="#" name="next" id="next" class="next" onclick="onNextPage()">下一页</a></li>
                    </ul>
                    
                    <!--上一页-->
                    <script language="JavaScript">
						function onPrePage()
						{
							var curPage=document.getElementById("cur_page_info").value;
							if(curPage>1)
							{
								document.getElementById("cur_page_info").value=parseInt(curPage)-1;
								document.queryform.submit();
							}
						}
					</script>
                    
                    <!--下一页-->
                    <script language="JavaScript">
						function onNextPage()
						{
							var curPage=document.getElementById("cur_page_info").value;
							var tPages=document.getElementById("total_pages_info").value;
							if(curPage<tPages)
							{
								document.getElementById("cur_page_info").value=parseInt(curPage)+1;
								document.queryform.submit();
							}
						}
					</script>
                    
                    <!--定位到某一页(上面)-->
                    <script language="JavaScript">
						function onUpSetPage()
						{
							var goPage=document.getElementById("goPageUp").value;
							var tPages=document.getElementById("total_pages_info").value;
							if( goPage<1 )
								document.getElementById("cur_page_info").value=1;
							else if( goPage>=tPages )
								document.getElementById("cur_page_info").value=tPages;
							else
								document.getElementById("cur_page_info").value=goPage;
							
							document.queryform.submit();
						}
					</script>
                    
                     <!--定位到某一页(下面)-->
                    <script language="JavaScript">
						function onDownSetPage()
						{
							var goPage=document.getElementById("goPageDown").value;
							var tPages=document.getElementById("total_pages_info").value;
							if( goPage<1 )
								document.getElementById("cur_page_info").value=1;
							else if( goPage>=tPages )
								document.getElementById("cur_page_info").value=tPages;
							else
								document.getElementById("cur_page_info").value=goPage;
							
							document.queryform.submit();
						}
					</script>
                    
                    <div class="gos">
                    	<span >共{$vo['pages']}页</span><span>跳转到</span>
                        <input type="text" id="goPageUp" class="pages" /><span>页</span><a href="#" class="go"  onclick="onUpSetPage()">GO</a>
                    </div>
                    
            		</div>
            			<div class="img_list">
            			<?php 
                			$lines=ceil($vo['cur_page_count']/4);
                			for($i=1;$i<=$lines;$i++) 
                    		{
            					echo "<ol>";
                                if( $i*4<=$vo['cur_page_count'] ) $lcount=4;
                                else $lcount=$vo['cur_page_count']-($i-1)*4;
                                for($j=0;$j<$lcount;$j++)
                                {
                   					$curPos=($i-1)*4+$j;
                                    
                                    echo '<li><div class="imgmsg">';
                        			echo '<p class="p_imgbiaoti">'.$images[$curPos]['title'];
                                    
                                    //点击图片的地址
                                    //echo "</p> <a href=\"?m=Photoer&a=imageQuery\">";
                                    echo '<img src='.$images[$curPos]['small_url'].' /></a>';
                            		echo '<p class="p_note">地点:'.$images[$curPos]['city'];
                                    
                                    echo '<span>'.date("Y-m-d",$images[$curPos]['createtime']).'</span></p>';
                            		echo '<p class="p_tag">';
                                    
                                    
                                    //要判断图组的审核状态加载不同的按钮
                                    if( $images[$curPos]['check_state']==0 ) //未审核
										echo '<a href="#" title="未审核" class="qiu_yellow"></a>';
									else if( $images[$curPos]['check_state']==1 ) //审核通过
										echo '<a href="#" title="审核通过" class="qiu_gree"></a>';
									else
										echo '<a href="#" title="审核未通过" class="qiu_red"></a>';
                                    echo '<a href="?m=Photoer&a=download&id='.$images[$curPos]['id'].'" title="下载该图片" class="load"></a></p>';
                        			echo '</div> <p class="p_lei"><a href="#">时事</a><span>></span>';
                                    echo '<a href="#">日常生活</a></p></li>';
                        		}
                				echo "</ol>";
                     		}
                		?>
            			</div>
            			
            			<!-- 图组说明 -->
            			<br></br>
            			<div>
            			<span style="font-size:15px"><strong>图组说明</strong></span>
            			<textarea readonly="readonly" style="width:740px;height:200px;">{$vo['groupRemark']}
            			</textarea>
            			</div>
            
             			<div class="page" style="margin-top:20px;">
            				<ul>
                    		<li><a href="#" class="before" onclick="onPrePage()">上一页</a></li>
                        
                        	<?php 
                        	for($i=1;$i<=$vo['pages'];$i++)
                            {
                            	if( $vo['cur_page']==$i )
                        			echo '<li><a href="#" style="background:#0C3" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                                else
                                	echo '<li><a href="#" onclick=onSetPage('.$i.')>'.$i."</a></li>";
                            }
                        ?>
                        
                        	<li><a href="#" class="next" onclick="onNextPage()">下一页</a></li>
                    		</ul>
                            
                    		<div class="gos">
                    			<span>共{$vo['pages']}页</span><span>跳转到</span>
                                <input type="text"  class="pages" id="goPageDown"/><span>页</span><a href="#" class="go" onclick="onDownSetPage()">GO</a>
                    		</div>
            			</div>
        			</div>
    			</div> <!--page-->
                  </form>
			</div>
      

		<include file="Photoer_foot" />
	</body>
</html>
		