<include file="Home:header" />
<load href="../Public/js/yourphp.pics.js"/>

<div class="left" style="width:920px;">
		<div class="pos">当前位置: <a href="/">首页</a> > <YP:catpos  catid="$catid" space=" > " /></div>
		<div id="content">
		<h1>{$title}</h1>


<div class="picviewbox">

	  <div id="toolBar">
			<ul class="f_r">
			<li class="comment" title="发表评论"><a href="javascript:void(0)" target="_blank" id="iwannComent">我要评论(0)</a></li>
			</ul>
			<ul class="f_l">
			<li class="full"><div  id="fullSwf"></div></li>
			<li>|</li>
			<li class="play" title="每5秒自动切换">幻灯播放</li>
			<li>|</li>
			<li class="save"><a href="javascript:void(0)" target="_blank" id="orgPic">查看原图</a></li>
			<li>|</li>
			<li>提示：支持键盘翻页 ←左 右→</li>
			</ul>

		</div>

		<div class="bd">
			<div id="playbox">
				<div id="mouseOverleft" style="width:50%;position:absolute;left:0;">
					<div class="pageLeft" style="display:none"><span><a href="javascript:void(0);" onfocus="this.blur()"></a></span></div>
					<div class="pageLeft-bg" style="display:none"></div>
				</div>
				<div id="mouseOverright" style="width:50%;position:absolute;right:0;">
					<div class="pageRight" style="display:none"><span><a href="javascript:void(0);" onfocus="this.blur()"></a></span></div>
					<div class="pageRight-bg" style="display:none"></div>
				</div>
				<div id="end">
					<a href="javascript:void(0)" class="close"></a>

				  <div class="end-inner">
					  <div class="this_pic"><span class="firstImg"></span></div>
						<div class="f_l">
							<h2></h2>
							<ul>
							<li class="button"><a href="javascript:void(0)" onfocus="this.blur()" id="replayPic"><span></span><em></em>重新播放</a></li>
							</ul>
						</div>
						<div class="c"></div>

						<div class="posit_pic">
						<h3>看看其他人在看什么?</h3>
						<ul class="pic">
						<YP:list   order="id desc" catid="$catid" limit="3">
									<li><span><a href="{$r.url}" target="_blank" title="{$r.title}"><img src="{$r[thumb]|thumb}" alt="{$r.title}"></a></span><a href="{$r.url}" target="_blank">{$r.title|str_cut=###,9}</a></li>
						</YP:list>
						</ul></div>
						<!--放更多展示-->
					</div>
				</div>

			</div>
		</div>


		<div id="Main-C">
		<div class="smallPic"> <a href="javascript:void(0);" onfocus="this.blur()" class="f_r" id="goright"></a>
		<a href="javascript:void(0);" onfocus="this.blur()" class="f_l" id="goleft"></a>
		<div class="f_l" id="SmallWarp">
		<ul id="Smailllist" class="pic">
				<li><span><a  href='javascript:void(0);'  title="{$title}"><img src='{$thumb|thumb}'  rel="{$thumb}" alt="{$title}"></a></span></li>
				<volist name="pics" id="r" >
				<li><span><a  href='javascript:void(0);' title="{$r['filename']}"><img src="{$r['filepath']}"  rel="{$r['filepath']}"  alt="{$r['filename']}"></a></span></li>
				</volist>
		</ul>

		<a href="javascript:void(0)" onfocus="this.blur()" class="mask"></a>
		</div>

		</div>
		<div class="scrollLine"><span class="scrollButton"></span></div>
		</div>
		</div>


		<div class="h10"></div>
		<div class="p_tabs"><ul><li>图组简介</li></ul></div>
		<div class="h10"></div>

		<div class="content">
		{$content}
		</div>
		</div>
		<br>

</div>
</div>





<script>
$(function(){
		var title="{$title}",url="{$url}",createtime="{$createtime|toDate=###,'Y年m月d日H:i'}",site_name="{$site_name}",site_url="{$site_url}",swfUrl= "../Public/images/picViewsFullScreenv1.0.0.1.0.swf";
		hdPic({title:title,url:url,createtime:createtime,site_name:site_name,site_url:site_url,swfUrl:swfUrl});
});

</script>
<include file="Home:footer" />