<include file="Home:header" />

<div class="left">
		<div class="pos">当前位置: <a href="/">首页</a> > 搜索结果</div>
		
		<div style="margin:12px;background:#EFEFEF;padding:10px;">
		<form method="GET" action="index.php?">
			<input type="hidden" id=""  name="m" value="Search"/>
			<input type="text" name="keyword" id="" class="input-text" value="{$keyword}" />
			{:Form::select(array('field'=>'module','options'=>$search_module),$module)}
			<input type="submit" class="button" value="搜索" />
			{__NOTOKEN__}
		</form>
		</div>

		<div class="list">
		<ul class="txt">
			<volist name="list" id="r">
					<li><span class="date">[{$r.createtime|toDate=###,'Y-m-d'}]</span><a href="{$r.url}" target="_blank">{$r.title}</a></li>
			</volist> 
		</ul></div>

		<div id="pages" class="page">{$pages}</div>
		<br>
</div>


<div class="right">
	<include file="Home:right" />
</div>



<include file="Home:footer" />