<include file="Home:header" />
<style type="text/css">
#div1 {
display: none;
position: absolute;
z-index: 1000;
}
#div2 {
display: none;
position: absolute;
height: 100%;
width: 100%;
padding-top: 10%;
z-index: 1001;
left: 60px;
top: 105px;
}
</style>

<script>
var list={$jslist};
var time;
var nowpage;
function openme(s,t,m,k){
	nowpage=k;
	document.getElementById("urlfile").src=s;
	document.getElementById("urltitle").innerHTML=t;
	document.getElementById("urlid").innerHTML="ID:"+m;
document.getElementById('div1').style.display='block';
document.getElementById('div2').style.display='block';
}
function closeme(){
document.getElementById('div1').style.display='none';
document.getElementById('div2').style.display='none';
clearTimeout(time);
}

function showpicture(){
	
	if(nowpage<=list.length){
		document.getElementById("urlfile").src=list[nowpage].big_url;
		document.getElementById("urltitle").innerHTML=list[nowpage].title;
		document.getElementById("urlid").innerHTML="ID:"+list[nowpage].id;	
	}	
	if(nowpage==list.length){
		nowpage=1;
	}
		nowpage++;
	 time = setTimeout("showpicture()",2000);
}

function closepicture(){
	
	clearTimeout(time);
	
	}
	function nextpage(){
		if(nowpage==list.length){
			nextnum=0;
			nowpage=1;
			}
		else
		 	nextnum=nowpage++;
		document.getElementById("urlfile").src=list[nextnum].big_url;
		document.getElementById("urltitle").innerHTML=list[nextnum].title;
		document.getElementById("urlid").innerHTML="ID:"+list[nextnum].id;		
		}
		function uppage(){
			if(nowpage==1){
			upnum=list.length;
			nowpage=list.length;
			}
		else
		 	upnum=--nowpage;
		document.getElementById("urlfile").src=list[upnum].big_url;
		document.getElementById("urltitle").innerHTML=list[upnum].title;
		document.getElementById("urlid").innerHTML="ID:"+list[upnum].id;	
			
			
			}
</script>

</script>

<!--content begin-->
<div id="content">
<!--left begin-->
<div id="left">
<!--layer 1-->
<div class="layer">
<div class="leftOnMenu">
<volist name="q" id="vo" key="k">
	<li><a href="{$Think.session.columnurl}&w={$vo.groupid}">{$vo.name}</a></li>
</volist>
</div>
</div>
<!--layer 2-->
<div class="layer">
<div class="layerTitle">
<a href="{$Think.session.columnurl}&w=3">摄影记者</a>
</div>
<div class="leftList">
<volist name="user_one" id="vo" key="k">      
                	<li><a href="index.php?m=Main&a=usershow&id={$vo['id']}">{$vo.name}({$vo.phone})</a></li>
                    </volist>
</div>
</div>
<!--layer 3-->
<div class="layer">
<div class="layerTitle">
<a href="javascript:;">通讯员</a>
</div>
<div class="leftContent">
<volist name="user_two" id="vo" key="k">      
                	<li><a href="index.php?m=Main&a=usershow&id={$vo['id']}">{$vo.name}({$vo.phone})</a></li>
                    </volist>
</div>
</div>
<!--layer 4-->
<div class="layer">
<div class="layerTitle">
<a href="javascript:;">联系我们</a>
</div>
<div class="leftContent">
  <p>摄影部联系方式：<br />
    TEL:0571-28800708<br />
    MSN:<br />
    QQ:</p>
  <p>热线新闻部联系方式：<br />
    TEL:0571-28800609<br />
    MSN:<br />
    QQ:</p>
</div>
</div>

</div>
<!--left end-->

<!--right begin-->
<div id="right">
<div class="products">

 <volist name="list" id="vo" key="k">
 <li>
<?php
	if($vo['is_top']==1)
        echo '<div class="topview"></div>';
?>
   <div style=" height:182px;" align="center">          	
<a href="index.php?m=Showphoto&a=images&id={$vo.id}" class="pimg" target="_blank"><img src="{$vo.small_url}" style="max-height:160px; max-width:160px;" /></a>
</div>
<div class="imgLeft">
PX:{$vo.width}×{$vo.height}<br />
JPEG:{$vo.filesize}<br />
ID:{$vo.id}
</div> 
<div class="imgRight">
<a href="javascript:;"><img src="../Public/images/newimages/ico01.jpg" width="15" height="15" /></a> <a href="index.php?g=Home&m=Showphoto&a=add_shopping&id={$vo.id}"><img src="../Public/images/newimages/ico02.jpg" width="15" height="15"/></a>
</div>
<div class="imgRight1"> 
<a href="javascript:;" onclick="openme('{$vo.big_url}','{$vo.title}','{$vo.id}','{$k}')"><img src="../Public/images/newimages/ico03.jpg" width="15" height="15" /></a> <a href="index.php?g=Home&m=Showphoto&a=download&id={$vo.id}"><img src="../Public/images/newimages/ico04.jpg" width="15" height="15" /></a>
</div>
</li>
</volist>
</div>
</div>
<!--right end-->
</div>
<!--content end-->

<div id="div1"></div>
<div id="div2">   
	<div class="note">
		<div class="ImgshowHid" id="IS_IMGSH" style="visibility:visible;">
        	<div class="top"></div>
   			<div class="mid">
				<div class="ISHbiaoti" id="urltitle"></div>
                <div class="NeIMG"><a href="#"><img src="../Public/images/imgs/bglef.png"  alt="上一张" title="上一张" onclick="uppage()"/></a></div>
                <div class="IMSzhuti">
                   <div class="imsTOP"></div>
                   <div class="imsCEN"><img src="../Public/images/imgs/imgs.jpg" id="urlfile" style="max-height:500px; max-width:500px;"/></div>
                   <div class="imsBOT"></div>
                </div>
                <div class="NeIMG"><a href="#"><img src="../Public/images/imgs/bgrig.png"  alt="下一张" title="下一张" onclick="nextpage()"/></a></div>
                <div class="IMS">
                  <span id="urlid">ID:Img20111203005</span>
                	<div class="juzhong"><a href="#" class="bf" onclick="showpicture()"></a><a href="#" class="zt" onclick="closepicture()"></a><a href="#" class="gb" onclick="closeme()"></a></div>
                            
                   </div>
              </div>
  		</div>
	</div>
 </div>
<!--nav begin-->
<div id="nav">

</div>
<!--nav end-->

<!--about begin-->
<div id="about">
<a href="javascript:;">关于我们</a> | <a href="javascript:;">合作机构</a> | <a href="javascript:;">版权声明</a>
</div>
<!--about end-->

<!--copyRight begin-->
<div id="copyRight">
浙ICP备10203621号 2011 PHOTOCHINA.COM.CN All Rights Reserved  推荐使用IE6.0及以上 FIREFOX3.0及以上浏览器访问本站以获得最佳效果 如有问题请联系我们
</div>
<!--copyRight end-->

</div>
</body>
</html>
