
<include file="Home:header"/>
<load href="__PUBLIC__/Js/jquery.validate.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<SCRIPT language=javascript defer>
new PCAS("province","city");
</SCRIPT>

<h2>注册会员</h2>	 
<div class="main">
 <form id="myform"  name="myform" method="post" action="{:U('Home-Usermember/doreg')}" >
	<div class="body">
 <p><h5>&nbsp;&nbsp;&nbsp;请填写您的真实信息，以便我们与您取得联系，确认您帐号的开通！</h5></p>
<div class="dd">&nbsp;&nbsp;用户基本信息（*项是必填项）</div>

<table cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td width="90"  height="30" align="right"><span class="red">*</span>登录名&nbsp;&nbsp;</td>
                                            <td width="245"><input type="text" id="username" name="account" class="input-text" validate="required:true,en_num:true,remote: '{:U('Home-Usermember/checkusername')}' , minlength:5, maxlength:20"/><span></span></td>
                                            <td width="90" height="30" align="right"><span class="red">*</span>地区&nbsp;&nbsp;</td>
                                            <td width="300">
                                                <div id="selectStyle" style="z-index: 2;">
                                                  <SELECT name=province></SELECT>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>密码&nbsp;&nbsp;</td>
                                            <td><input type="password" class="input-text"  name="password" id="password" validate=" required:true, minlength:5, maxlength:20"><span></span></td>
                                            <td height="30" align="right"><span class="red">*</span>城市&nbsp;&nbsp;</td>
                                            <td>
                                              <div id="selectStyle">
                                                <SELECT name=city></SELECT><span></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>确认密码&nbsp;&nbsp;</td>
                                            <td><input type="password" class="input-text"  name="repassword" validate=" required:true,equalTo: '#password', minlength:5, maxlength:20"><span></span></td>
                                            <td height="30" align="right"><span class="red">*</span>邮编&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="post_code" id="zipcode" validate=" required:true,zipcode:true"><span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>真实姓名&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="name" id="rname" validate=" required:true;chinese: true"><span></span></td>
                                            <td height="30" align="right"><span class="red">*</span>地址&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="address" id="address" validate=" required:true"><span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right">性别&nbsp;&nbsp;</td>
                                            <td><input type="radio" name="sex" value="1" checked="checked" />男&nbsp;&nbsp;<input name="sex" value="0" type="radio" />女</td>
                                            <td height="30" align="right"><span class="red">*</span>工作单位&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="work_company" id="corporation" validate=" required:true"><span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>联系电话&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="phone" id="phone" validate=" required:true,mobile:true"><span></span></td>
                                    
                                            <td height="30" align="right"><span class="red">*</span>电子邮件&nbsp;&nbsp;</td>
                                            <td><input type="text" id="email" name="email" class="input-text" validate="required:true,email:true,remote: '{:U('Home-Usermember/checkEmail')}' , minlength:1, maxlength:40"/><span></span></td>
                                         
                                        </tr>
</table>
                                    <br />
  <td>
                                      <div style="background:#CCC; height: 62px; padding-top: 36px; text-align: center;">
                                        <input type="button" name="btnRegSubmit" onclick="information()" value="提交申请&nbsp;&nbsp;" id="btnRegSubmit" style="width:80px; height:25px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              <input type="reset" value="&nbsp;&nbsp;资料重制"  style="width:80px; height:25px" />
                                      </div>
    </div>
    <script language="JavaScript">
    function information(){
    	
           var username=document.getElementById("username").value;
           var password=document.getElementById("password").value;
           var zipcode=document.getElementById("zipcode").value;
           var rname=document.getElementById("rname").value;
           var address=document.getElementById("address").value;
           var phone=document.getElementById("phone").value;
           var email=document.getElementById("email").value;
         
          
           if(username==""||password==""||zipcode==""||rname==""||address==""||phone==""||email=="")
        	   alert("有必选项没有填写信息！");
           else
        	   document.myform.submit();
        	   
    }
           
           
           </script>            
                                
</form>
</div>