<div id="foot">
	<div class="top"><a href="#">公司简介</a>|<a href="#">联系我们</a>|<a href="#">版权申明</a></div>
	<div class="mid">浙ICP证20111126  COpyRight@futu.com  All right reserved 推荐使用IE5.5以上浏览器访问本站以获得最佳效果，如有问题请联系我们</div>
</div>